<!-- Generated template for the CustomSideMenuComponent component -->
<ion-navbar hideBackButton="true" color="primary"  [class.noIconTitle]="visible=='false'"  [class.iconTitle]="visible=='true'">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title  >{{calculatorName | translate}}</ion-title>

    <ion-buttons end style="padding-right:8px;" [hidden]="visible=='false'">
      <button ion-button icon-only (click)="info()" style="    width: 25px;">
        <img src="./assets/imgs/info_icon.png" style="height:20px;width:20px;">
      </button>
    </ion-buttons>

</ion-navbar>
