custom-side-menu {

    // SG
    /**/
    .toolbar-title{
    //    font-size:22px;
    }
    .noIconTitle
    {
        .toolbar-title-md
        {
            text-align: center;
            padding: 0 55px 0 34px;
        }

    }
    .iconTitle{
        text-align: center !important;
        padding: 0 !important;
        white-space: normal !important;
    }
    /**/

}
