<!-- Generated template for the CalculatorListComponent component -->
<ion-list no-lines>
  <ion-item style="padding-left: 8px" *ngFor="let item of calculatorsList" (click)="navigateToCalculator(item)">
        <ion-card class="card-margin">
          <ion-item style="padding-left: 6px">
            <div class="card-logo" item-start>
              <img src="{{item.logo}}">
            </div>
            <div text-wrap class="title">{{item.name}}</div>
            <div class="desc" text-wrap>{{item.desc}}</div>

          </ion-item>
        </ion-card>
  </ion-item>
</ion-list>
