calculator-list {
    .desc {
        color: #6b737b;
        margin-top: 8px;
        font-size:12px;
      }
      .title {
        font-weight: bold;
        font-size:18px;
      }
      .custom-card {
        margin: 16px;
        width: 100%;
        background-image: url('../assets/imgs/card_bgd.png');
      }
      .card-logo {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
        background-color: #8dc63f;
        width:66px;
        height:85px;
        position: relative;
      }
      img {
        max-height: 100px;
        max-width: 55px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
      }
      
.item{
    margin:4px auto;
  }
  ion-label{
    margin-right: 0px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }
  
  .card-margin {
    margin-top: 7px !important;
    margin-bottom: 7px !important;
  }
}
