<ion-header>
  <custom-side-menu calculatorName="dressing_title" visible="true" calculatorKey="plunge_dressing"></custom-side-menu>
</ion-header>
<ion-content [ngClass]=" isKeyBoard ? 'class-padding-bottom' : '' ">
  <div text-right class="mandate">{{'mandatory' | translate}}</div>
  <form style="text-align: initial" class="switch-label-allignment" [formGroup]="dressingForm"
    (ngSubmit)="onSubmit(dressingForm.value)" novalidate>
    <div style="padding-left: 16px">
      <div class="toggle-metric" [ngClass]="isImperial ? 'toggle-selected' : 'toggle-normal'">
        {{'english' | translate}}
      </div>
      <div class="toggle-metric">
        <ion-toggle class="toggle-style" (ionChange)="updateToggle()" formControlName="unitPref" required></ion-toggle>
      </div>
      <div class="toggle-metric" [ngClass]="isImperial ? 'toggle-normal' : 'toggle-selected'">
        {{'metric' | translate}}
      </div>
    </div>
    <ion-row class="line" style="margin-top: 4px"></ion-row>
    <div style="padding-left: 16px; margin-top: 5px">
      <div class="toggle-metric" [ngClass]="isCDnotNCD ? 'toggle-selected' : 'toggle-normal'">
        {{'continuous_dress' | translate}}
      </div>
      <div class="toggle-metric">
        <ion-toggle class="toggle-style" (ionChange)="updateToggleCDNCD()" formControlName="unitPrefCD" required>
        </ion-toggle>
      </div>
      <div class="toggle-metric" [ngClass]="isCDnotNCD ? 'toggle-normal' : 'toggle-selected'">
        {{'non_continuous_dress' | translate}}
      </div>
    </div>
    <div style="padding-left: 16px; margin-top: 10px">
      <div class="toggle-metric" [ngClass]="isUDnotCD ? 'toggle-selected' : 'toggle-normal'">
        {{'unidirectional' | translate}}
      </div>
      <div class="toggle-metric">
        <ion-toggle class="toggle-style" (ionChange)="updateUDCDToggle()" formControlName="unitPrefUDCD" required>
        </ion-toggle>
      </div>
      <div class="toggle-metric" [ngClass]="isUDnotCD ? 'toggle-normal' : 'toggle-selected'">
        {{'counter_directional' | translate}}
      </div>
    </div>

    <ion-row class="line" style="margin-top: 4px"></ion-row>
    <p></p>
    <ion-label class="input-label">{{'dressingwt_type_header' | translate}}</ion-label>
    <ion-item class="drop-down-item-style">
      <ion-label stacked class="input-float-style" style="padding-left: 0px;"><span class="mandatory-class">*
        </span>{{ 'select_wheel_tech' | translate }}</ion-label>
      <ion-select #wheelTechTypeSelect (ionChange)="updateDropDown()" formControlName="wheelTechType" required
        class="spinner-style" interface="popover">
        <!-- <ion-option *ngFor="let wheelTechType of wheelTechnTypeListRefs" [value]="wheelTechType.key">{{wheelTechType.alias}}
          - {{wheelTechType.value}} gm/cc</ion-option> -->
        <ion-option [disabled]="true">{{'conventional_abrasives_c'| translate}}</ion-option>
        <ion-option *ngFor="let type of wheelTechnTypeListRefsOne" [value]="type.key">{{type.key|translate}}
        </ion-option>
        <ion-option *ngIf="wheelTechnTypeListRefsTwoLength>0" [disabled]="true">{{'super_abrasives_c'|translate}}
        </ion-option>
        <ion-option *ngFor="let type of wheelTechnTypeListRefsTwo" [value]="type.key">{{type.key|translate}}
        </ion-option>
      </ion-select>
    </ion-item>
    <div class="error-message"
      *ngIf="dressingForm.get('wheelTechType').hasError(validationMsgs.wheelTechType.type) && (showErrors)">
      {{ validationMsgs.wheelTechType.message }}
    </div>
    <p></p>
    <label class="input-label">{{'dress_roll_parameters' | translate}}</label>

    <ion-row style="margin-left: 8px; margin-right: 8px; padding-top: 7px">
      <ion-col col-9>
        <ion-item no-padding>
          <ion-label (click)="common.getCalc(this,'ncdDiameter',dressingForm)" stacked style="padding-left: 0px"
            class="input-float-style"><span class="mandatory-class">* </span>{{'diameter' |
            translate}}{{unit_label}})&nbsp;&nbsp;<ion-icon name="ios-calculator" class="hideIcon"></ion-icon>
          </ion-label>

          <ion-input (focus)="common.setFocusInput(this,'ncdDiameter',dressingForm)" (blur)="common.setBlur(this)"
            *ngIf="!this.platform.is('ios')" required maxlength="9" (keypress)="telkeypress($event)"
            (keyup)="isValidNumber($event)" tabindex="1" formControlName="ncdDiameter" required
            (ionChange)="updateResults()" type="number" class="input-fields"></ion-input>
          <ion-input (focus)="common.setFocusInput(this,'ncdDiameter',dressingForm)" (blur)="common.setBlur(this)"
            *ngIf="this.platform.is('ios')" required maxlength="9" (keypress)="telkeypress($event)" tabindex="1"
            formControlName="ncdDiameter" required (ionChange)="updateResults()" type="number" pattern="[0-9]*"
            inputmode="decimal" class="input-fields"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col style="padding-left: 0px" col-9>
        <ion-item no-padding>
          <ion-label (click)="common.getCalc(this,'rpmcdncd',dressingForm)" stacked style="padding-left: 0px"
            class="input-float-style"><span class="mandatory-class">* </span>{{'rpm' |
            translate}}&nbsp;&nbsp;<ion-icon name="ios-calculator" class="hideIcon"></ion-icon>
          </ion-label>

          <ion-input (focus)="common.setFocusInput(this,'rpmcdncd',dressingForm)" (blur)="common.setBlur(this)"
            *ngIf="!this.platform.is('ios')" required maxlength="9" (keypress)="telkeypress($event)"
            (keyup)="isValidNumber($event)" tabindex="2" formControlName="rpmcdncd" required
            (ionChange)="updateResults()" type="number" class="input-fields"></ion-input>
          <ion-input (focus)="common.setFocusInput(this,'rpmcdncd',dressingForm)" (blur)="common.setBlur(this)"
            *ngIf="this.platform.is('ios')" required maxlength="9" (keypress)="telkeypress($event)" tabindex="2"
            formControlName="rpmcdncd" required (ionChange)="updateResults()" type="number" pattern="[0-9]*"
            inputmode="decimal" class="input-fields">
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row style="margin-left: 8px; margin-right: 8px; padding-top: 7px">
      <ion-col col-9>
        <ng-container *ngFor="let validation of validationMsgs.ncdDiameter">
          <div style="margin: 0 !important" class="error-message"
            *ngIf="dressingForm.get('ncdDiameter').hasError(validation.type) && ((dressingForm.get('ncdDiameter').dirty || dressingForm.get('ncdDiameter').touched))">
            {{ validation.message }}
          </div>
        </ng-container>
      </ion-col>
      <ion-col col-9>
        <ng-container *ngFor="let validation of validationMsgs.rpmDiamRoll">
          <div style="margin: 0 !important" class="error-message"
            *ngIf="dressingForm.get('rpmcdncd').hasError(validation.type) && ((dressingForm.get('rpmcdncd').dirty || dressingForm.get('rpmcdncd').touched))">
            {{ validation.message }}
          </div>
        </ng-container>
      </ion-col>
    </ion-row>

    <ion-row justify-content-center align-items-center no-padding align-items-end
      style="margin-left: 8px; margin-right: 8px; padding-top: 7px">
      <ion-col col-9>
        <ion-item no-padding>
          <ion-label (click)="common.getCalc(this,'irsrwpcdValue',dressingForm)" stacked class="input-float-style"
            style="padding-left: 0px"><span class="mandatory-class">* </span>{{'infeed_rate' |
            translate}}({{isUinNotIndp?ir_unit_lable_inmin: ir_unit_lable_uinrev |
            translate }})&nbsp;&nbsp;<ion-icon name="ios-calculator" class="hideIcon"></ion-icon>
          </ion-label>

          <ion-input (focus)="common.setFocusInput(this,'irsrwpcdValue',dressingForm)" (blur)="common.setBlur(this)"
            class="input-fields" *ngIf="!this.platform.is('ios')" required maxlength="9"
            (keypress)="telkeypress($event)" (keyup)="isValidNumber($event)" tabindex="3" (ionChange)="updateResults()"
            formControlName="irsrwpcdValue" type="number" style="font-size: 14px"></ion-input>
          <ion-input (focus)="common.setFocusInput(this,'irsrwpcdValue',dressingForm)" (blur)="common.setBlur(this)"
            class="input-fields" *ngIf="this.platform.is('ios')" required maxlength="9" (keypress)="telkeypress($event)"
            tabindex="3" (ionChange)="updateResults()" formControlName="irsrwpcdValue" type="number" pattern="[0-9]*"
            inputmode="decimal" style="font-size: 14px; padding-left: 8px"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col align-self-center text-start col-3 no-padding>
        <div [ngClass]="!isUinNotIndp ? 'toggle-normal' : 'toggle-selected'"
          style="display: inline-block; vertical-align: middle; font-size: 14px">
          {{ir_unit_lable_inmin}}
        </div>
      </ion-col>
      <ion-col align-self-center text-center col-3 no-padding>
        <div style="display: inline-block; vertical-align: middle">
          <ion-toggle formControlName="irUnitPref" (ionChange)="updateIRToggle()" required></ion-toggle>
        </div>
      </ion-col>
      <ion-col align-self-center text-end col-3 no-padding>
        <div [ngClass]="!isUinNotIndp ? 'toggle-selected' : 'toggle-normal'"
          style="display: inline-block; vertical-align: middle; font-size: 14px">
          {{ir_unit_lable_uinrev | translate }}
        </div>
      </ion-col>
    </ion-row>

    <ng-container *ngFor="let validation of validationMsgs.infeedRate">
      <div class="error-message"
        *ngIf="dressingForm.get('irsrwpcdValue').hasError(validation.type) && ((dressingForm.get('irsrwpcdValue').dirty || dressingForm.get('irsrwpcdValue').touched))">
        {{ validation.message }}
      </div>
    </ng-container>
    <p></p>
    <label class="input-label">{{'wheel_parameters' | translate}}</label>
    <ion-row style="margin-left: 8px; margin-right: 8px; padding-top: 7px">
      <ion-col col-9>
        <ion-item no-padding>
          <ion-label (click)="common.getCalc(this,'ncdWPDiameter',dressingForm)" stacked style="padding-left: 0px"
            class="input-float-style"><span class="mandatory-class">* </span>{{'diameter' |
            translate}}{{unit_label}})&nbsp;&nbsp;<ion-icon name="ios-calculator" class="hideIcon"></ion-icon>
          </ion-label>

          <ion-input (focus)="common.setFocusInput(this,'ncdWPDiameter',dressingForm)" (blur)="common.setBlur(this)"
            *ngIf="!this.platform.is('ios')" required maxlength="9" (keypress)="telkeypress($event)"
            (keyup)="isValidNumber($event)" tabindex="3" formControlName="ncdWPDiameter" required type="number"
            (ionChange)="updateResults()" class="input-fields"></ion-input>
          <ion-input (focus)="common.setFocusInput(this,'ncdWPDiameter',dressingForm)" (blur)="common.setBlur(this)"
            *ngIf="this.platform.is('ios')" required maxlength="9" (keypress)="telkeypress($event)" tabindex="3"
            formControlName="ncdWPDiameter" required type="number" pattern="[0-9]*" inputmode="decimal"
            (ionChange)="updateResults()" class="input-fields"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col style="padding-left: 0px" col-9>
        <ion-item no-padding>
          <ion-label (click)="common.getCalc(this,'ncdWPWheel',dressingForm)" stacked style="padding-left: 0px"
            class="input-float-style"><span class="mandatory-class">* </span>{{'rpm' |
            translate}}&nbsp;&nbsp;<ion-icon name="ios-calculator" class="hideIcon"></ion-icon>
          </ion-label>

          <ion-input (focus)="common.setFocusInput(this,'ncdWPWheel',dressingForm)" (blur)="common.setBlur(this)"
            *ngIf="!this.platform.is('ios')" required maxlength="9" (keypress)="telkeypress($event)"
            (keyup)="isValidNumber($event)" tabindex="2" formControlName="ncdWPWheel" required
            (ionChange)="updateResults()" type="number" class="input-fields"></ion-input>
          <ion-input (focus)="common.setFocusInput(this,'ncdWPWheel',dressingForm)" (blur)="common.setBlur(this)"
            *ngIf="this.platform.is('ios')" required maxlength="9" (keypress)="telkeypress($event)" tabindex="2"
            formControlName="ncdWPWheel" required (ionChange)="updateResults()" type="number" pattern="[0-9]*"
            inputmode="decimal" class="input-fields">
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row style="margin-left: 8px; margin-right: 8px">
      <ion-col col-9>
        <ng-container *ngFor="let validation of validationMsgs.ncdWPDiameter">
          <div style="margin: 0 !important" class="error-message"
            *ngIf="dressingForm.get('ncdWPDiameter').hasError(validation.type) && ((dressingForm.get('ncdWPDiameter').dirty || dressingForm.get('ncdWPDiameter').touched))">
            {{ validation.message }}
          </div>
        </ng-container>
      </ion-col>
      <ion-col col-9>
        <ng-container *ngFor="let validation of validationMsgs.ncdWPWheel">
          <div style="margin: 0 !important" class="error-message"
            *ngIf="dressingForm.get('ncdWPWheel').hasError(validation.type) && ((dressingForm.get('ncdWPWheel').dirty || dressingForm.get('ncdWPWheel').touched))">
            {{ validation.message }}
          </div>
        </ng-container>
      </ion-col>
    </ion-row>

    <ion-row class="btns-row">
      <button class="clear-btn" (click)="clearResults()" type="button">
        {{'clear_btn' | translate}}
      </button>
      <button tabindex="4" class="calc-btn" [disabled]="calculateDisable" type="submit">
        {{calculateBtnText}}
      </button>
    </ion-row>
  </form>

  <div [style.opacity]="resultOpacity" *ngIf="showResult" style="margin-top: 20px">
    <ion-row style="padding-bottom: 8px; padding-left: 15px">
      <img src="./assets/imgs/results.png" style="height: 16px; width: 16px" />
      <label style="
          padding-left: 8px;
          padding-right: 16px;
          font-weight: bold;
          color: #0079c1;
        ">{{'results' | translate}}</label>
    </ion-row>
    <div>
      <ion-row class="bg-gray result-label-alignment">
        <ion-col col-7></ion-col>
        <ion-col col-5.5 class="table-header">
          <div class="result-label-alignment">{{'calculated'| translate}}</div>
        </ion-col>
        <ion-col class="table-values col" col-5.5>
          <div class="result-label-alignment">
            {{'recommended' | translate}}
          </div>
        </ion-col>
      </ion-row>
      <ion-row style="margin: 8px">
        <ion-col col-7 class="table-values">{{isImperial? ('sfpm_wheel' | translate) : ('ms_wheel' | translate)}}
        </ion-col>
        <ion-col col-5.5 style="font-weight: bold" class="table-values">{{isImperial? round(op_wheel_sfpm_calculated,0)
          :
          round(op_wheel_sfpm_calculated,0)}}</ion-col>
        <ion-col col-5.5 class="table-values">{{isImperial? round(op_wheel_sfpm_recommended,0) :
          round(op_wheel_sfpm_recommended,0)}}</ion-col>
      </ion-row>
      <ion-row style="margin: 8px">
        <ion-col col-7 class="table-values">{{isImperial? ('sfpm_dress_roll' | translate) : ('ms_dress_roll' |
          translate)}}
        </ion-col>
        <ion-col col-5.5 class="table-values" style="font-weight: bold">{{isImperial?
          round(op_dress_roll_sfpm_calculated,0) :
          round(op_dress_roll_sfpm_calculated,0)}}</ion-col>
        <ion-col col-5.5 class="table-values">{{isImperial? round(op_dress_roll_sfpm_recommended,0) :
          round(op_dress_roll_sfpm_recommended,0)}}</ion-col>
      </ion-row>
      <ion-row style="margin: 8px">
        <ion-col col-7 class="table-values">{{'speed_ratio' | translate}}
        </ion-col>
        <ion-col col-5.5 class="table-values" style="font-weight: bold">{{isImperial? round(op_speed_ratio_calculated,2)
          :
          round(op_speed_ratio_calculated,2)}}</ion-col>
        <ion-col col-5.5 class="table-values">{{isImperial? round(op_speed_ratio_recommended,2) :
          round(op_speed_ratio_recommended,2)}}</ion-col>
      </ion-row>
      <ion-row style="margin: 8px">
        <ion-col col-7 class="table-values">{{'infeed_rate' | translate}}({{ir_unit_lable_inmin}})
        </ion-col>
        <ion-col col-5.5 class="table-values" style="font-weight: bold">{{isImperial?
          round(op_infeed_rate_inmin_calculated,3) :
          round(op_infeed_rate_inmin_calculated,3)}}</ion-col>
        <ion-col col-5.5 class="table-values">{{isImperial? round(op_infeed_rate_inmin_recommended,3) :
          round(op_infeed_rate_inmin_recommended,3)}}</ion-col>
      </ion-row>
      <ion-row style="margin: 8px">
        <ion-col col-7 class="table-values">{{'infeed_rate' | translate}}({{ir_unit_lable_uinrev | translate}})
        </ion-col>
        <ion-col col-5.5 class="table-values" style="font-weight: bold">{{isImperial?
          round(op_infeed_rate_uinrev_calculated,0) :
          round(op_infeed_rate_uinrev_calculated,2)}}</ion-col>
        <ion-col col-5.5 class="table-values">{{isImperial? round(op_infeed_rate_uinrev_recommended,0) :
          round(op_infeed_rate_uinrev_recommended,2)}}</ion-col>
      </ion-row>
      <ion-row *ngIf="hideTotalInFeedRate" style="margin: 8px">
        <ion-col col-7 class="table-values">{{'total_infeed' | translate}}
        </ion-col>
        <ion-col col-5.5 class="table-values" style="color: #999">NA</ion-col>
        <ion-col col-5.5 class="table-values">{{isImperial? round(op_total_infeed_recommended,4) :
          round(op_total_infeed_recommended,4)}}</ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>

<calculator-button class="animated faster" [ngClass]=" isKeyBoard ? 'slideInUp' : 'slideOutDown' "
  [style.bottom]=" isKeyBoard ? '0px' : '-46px' " [style.height]="common.getCalcButtonHeight()" *ngIf="isKeyBoard"
  [pageRef]="this" [inputRef]="currentInputRef" [formRef]="currentFormRef">
</calculator-button>