<!-- Generated template for the CommonConverterComponent component -->
<ion-header>
  <custom-side-menu calculatorName={{converterType}} visible="true" calculatorKey="converter"></custom-side-menu>
</ion-header>
<ion-content>
<div>
  <div style="text-align:center;Font-size:19px;height: 105px;">
    <ion-row *ngIf="showWorkPieceInput">
      <ion-col col-7 no-padding> 
        <ion-label class="input-label" style="margin: 19px 0 0 0 !important;font-weight: bold;padding: 0 0 0 10px;">Workpiece RPM
        </ion-label>
      </ion-col>
      <ion-col col-11 no-padding>
        <ion-item class="drop-down-item-style" style="padding-right: 16px;">
        <ion-label stacked class="input-float-style" no-margin><span style="color: #ff0021;">* </span>Enter Workpiece RPM
        </ion-label>
        <ion-input type="number" (ionBlur)="onBlurWorkPiece()"  (keyup)="checkInputValidation($event,1)"
        (ionFocus)="forceSlideChangedOnFocus()" *ngIf=" !this.platform.is('ios')" #workPieceInput class="workPieceClass" style="font-size: 14px;" maxlength="6"  [(ngModel)]="workPieceValue" (ngModelChange)="getWorkPieceOutput()" ></ion-input>
        <ion-input type="number" (ionBlur)="onBlurWorkPiece()"
        (ionFocus)="forceSlideChangedOnFocus()"  (keyup)="checkInputValidation($event,1)" *ngIf="this.platform.is('ios')" pattern="[0-9]*" decimal="true" #workPieceInput class="workPieceClass" style="font-size: 14px;" maxlength="6"  [(ngModel)]="workPieceValue" (ngModelChange)="getWorkPieceOutput()" ></ion-input>
      
      </ion-item>
      <div class="error-message"  *ngIf="(isDirtyWorkPiece && workPieceValue=='' && output=='')">
      {{'invalid_workpiece_rpm' | translate}}
      </div>
      <div class="error-message"  *ngIf="(isDirtyWorkPiece && workPieceValue.length>9)">
        {{'nine_digit_long' | translate}}
      </div>
    </ion-col>

    </ion-row>
  </div>
</div>

<br>
<br>

<div>
  <ion-row style=" transform: translateY();background: #2188cd;position: absolute; width: 100%;top:141px;">
    <ion-col style="background:#2188cd;padding-left: 0;" col-4>
      <ion-item style="background:#2188cd;width: 94px;" no-padding>
        <ion-input *ngIf="!showWorkPieceInput && !this.platform.is('ios')" (ionBlur)="forceSlideChangedOnBlur()"
        (ionFocus)="forceSlideChangedOnFocus()" #focusInput text-left id="inp1 "type="number" maxlength="9" style="caret-color: transparent;padding-left: 10px;"
          [(ngModel)]="input" (ionChange)="getConvertedOutput()" (keypress)="inputKeypressValidation($event,input)" (keyup)="checkInputValidation($event,0)"></ion-input>
          <ion-input *ngIf="!showWorkPieceInput && this.platform.is('ios')" (ionBlur)="forceSlideChangedOnBlur()"
        (ionFocus)="forceSlideChangedOnFocus()" #focusInput text-left id="inp1" type="text" pattern="[0-9]*" decimal="true" maxlength="9" style="caret-color: transparent;padding-left: 10px;"
          [(ngModel)]="input" (ionChange)="getConvertedOutput()" (keypress)="inputKeypressValidation($event,input)" (keyup)="checkInputValidation($event,0)"></ion-input>
          
          <ion-input *ngIf="showWorkPieceInput && !this.platform.is('ios')" (ionBlur)="forceSlideChangedOnBlur()"
        (ionFocus)="forceSlideChangedOnFocus()" #focusInput text-left id="inp1" type="number" maxlength="9" style="caret-color: transparent;padding-left: 10px;"
          [(ngModel)]="input" (ionChange)="getWorkPieceOutput()" (keypress)="inputKeypressValidation($event,input)" (keyup)="checkInputValidation($event,0)"></ion-input>
          <ion-input *ngIf="showWorkPieceInput && this.platform.is('ios')" (ionBlur)="forceSlideChangedOnBlur()"
        (ionFocus)="forceSlideChangedOnFocus()" #focusInput text-left id="inp1" type="text" pattern="[0-9]*" decimal="true" maxlength="9" style="caret-color: transparent;padding-left: 10px;"
          [(ngModel)]="input" (ionChange)="getWorkPieceOutput()" (keypress)="inputKeypressValidation($event,input)" (keyup)="checkInputValidation($event,0)"></ion-input>
        </ion-item>
    </ion-col>

    <ion-col style="background:#2188cd; padding-left: 11px;">
      <ion-item no-lines style="padding:0;background:#2188cd;left:-10%;" class="inp-2">
        <ion-input #focusInput text-center [disabled]="true" id="inp2" type="tel" [(ngModel)]="output" (ngModelChange)="getConvertedOutput()"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-label *ngIf="(input>100000000 || (input=='' && output==''))" style="position: absolute; width: 100%;top: 195px;color: red;font-size: 13px; padding-left: 5px;">
    {{'invalid_input' | translate}}
  </ion-label>


</div>

<div style="position: absolute;">
  <ion-slides #slides1 initialSlide="1" loop="false" slidesPerView="3" direction="vertical"
    (ionSlideDidChange)="slideChanged()" style="width:154px;height:180px;transform: translateY();position: absolute;" class="slide1Class" >
    <ion-slide [id]="data.id" *ngFor="let data of wheelData" style="background-color: transparent;">
      <p style="font-size:14px;text-align: right" (click)="accessInput(data)">{{data.data}}</p>
    </ion-slide>
  </ion-slides>
</div>

<div style="position: absolute;right:1%">
  <ion-slides #slides2 initialSlide="1" loop="false" slidesPerView="3" longSwipes="false" shortSwipes="false" threshold="500px" direction="vertical"
    (ionSlideDidChange)="slideChanged1(2)" style="width:120px;height:180px;position: absolute;right:0%;" class="slide2Class">
    <ion-slide *ngFor="let data of wheelOutputData" style="background-color: transparent;">
      <p style="font-size:14px;text-align: right">{{data.data}}</p>
    </ion-slide>
  </ion-slides>
</div>

<div>

</div>
</ion-content>


<!-- 
<ion-slide style="background-color: transparent; height: 60px;" class="swiper-slide" id="3" aria-hidden="true"><div class="slide-zoom">
  <p style="font-size:16px;text-align: right">mm/s</p>
</div></ion-slide>


<ion-slide style="background-color: transparent; height: 60px;" class="swiper-slide swiper-slide-next" aria-hidden="true"><div class="slide-zoom">
  <p style="font-size: 14px;text-align: right;">mm/min</p>
</div></ion-slide> -->