common-converter {
  .scroll-content {
    overflow-y: hidden;
  }
  .item-inner {
    padding-right: 0px !important;
  }
  [col-4] {
    -webkit-flex: 0 0 28.5%;
    flex: 0 0 28.5%;
    width: 22.22222%;
    max-width: 28.5%;
  }
}
