<!-- Generated template for the ArithCalcComponent component -->

<!-- 
  <p ><input [(ngModel)]="myAns" name="myAns"readonly></p> -->
<div *ngIf="calcType!=2" style="height: 92%">
  <ion-row style="height: 13.5vh">
    <ion-col col-18 colspan="5">
      <p class="myPara">
        {{inputString}}
        <!-- <input [(ngModel)]="myPara" name="myPara" readonly /> -->
      </p>
      <input [(ngModel)]="result" name="result" placeholder="0" readonly />
    </ion-col>
  </ion-row>

  <!-- <div class="scrollable-div fiveCols">


    </div> -->
  <div class="fixedKeys">
    <ion-row class="fiveCols">
      <ion-col
        col-3
        (click)="isInverse=!isInverse"
        [class.shiftBtn]="isInverse"
        class="uprCaseOpr"
        >INV</ion-col
      >
      <ion-col col-3 *ngIf="!isInverse" (click)="trigo('sin')">sin</ion-col>
      <ion-col col-3 *ngIf="!isInverse" (click)="trigo('cos')">cos</ion-col>
      <ion-col col-3 *ngIf="!isInverse" (click)="trigo('tan')">tan</ion-col>
      <ion-col col-3 *ngIf="isInverse" (click)="trigo1('sin')"
        >sin
        <sup>-1</sup>
      </ion-col>
      <ion-col col-3 *ngIf="isInverse" (click)="trigo1('cos')"
        >cos
        <sup>-1</sup>
      </ion-col>
      <ion-col col-3 *ngIf="isInverse" (click)="trigo1('tan')"
        >tan
        <sup>-1</sup>
      </ion-col>
      <ion-col col-3 *ngIf="!isInverse" (click)="log(1)">log</ion-col>
      <ion-col col-3 *ngIf="isInverse" (click)="log(0)">ln</ion-col>
    </ion-row>
    <ion-row class="fiveCols">
      <ion-col col-3 (click)="getAnsUnit()" class="uprCaseOpr"
        >{{ansUnit}}</ion-col
      >
      <ion-col col-3 (click)="leftParen()" class="uprCaseOpr">(</ion-col>
      <ion-col col-3 (click)="checkinput(')')" class="uprCaseOpr">)</ion-col>
      <ion-col col-3 (click)="getPower(2)"
        >x
        <sup>2</sup>
      </ion-col>
      <!-- <ion-col col-3 (click)="getPower(3)">x
                <sup>3</sup>
            </ion-col> -->
      <ion-col col-3 (click)="getPower('y')"
        >x
        <sup>y</sup>
      </ion-col>
    </ion-row>
    <ion-row class="fiveCols">
      <ion-col col-3 (click)="exponential()" class="uprCaseOpr">EXP</ion-col>
      <ion-col col-3 (click)="sqrt()">&#8730;x</ion-col>
      <ion-col col-3 (click)="cbrt()">&#8731;x</ion-col>
      <ion-col col-3 (click)="getRoot()">x&#8730;y</ion-col>
      <!-- <ion-col col-3 (click)="leftParen()">(</ion-col> -->
      <!-- <ion-col col-3 (click)="checkinput(')')">)</ion-col> -->
      <ion-col col-3 *ngIf="!isInverse" (click)="piOrE('pi')">&#x03C0;</ion-col>
      <ion-col col-3 *ngIf="isInverse" (click)="piOrE('e')">e</ion-col>
    </ion-row>

    <ion-row class="fiveCols">
      <ion-col col-3 class="numericInput" (click)="checkinput('7')">7</ion-col>
      <ion-col col-3 class="numericInput" (click)="checkinput('8')">8</ion-col>
      <ion-col col-3 class="numericInput" (click)="checkinput('9')">9</ion-col>
      <ion-col col-3 (click)="del()">DEL</ion-col>
      <ion-col col-3 (click)="ac()">AC</ion-col>
    </ion-row>

    <ion-row class="fiveCols">
      <ion-col col-3 class="numericInput" (click)="checkinput('4')">4</ion-col>
      <ion-col col-3 class="numericInput" (click)="checkinput('5')">5</ion-col>
      <ion-col col-3 class="numericInput" (click)="checkinput('6')">6</ion-col>
      <ion-col col-3 (click)="multOrDiv('mult')">&#x00D7;</ion-col>
      <ion-col col-3 (click)="multOrDiv('div')">&#x00F7;</ion-col>
    </ion-row>

    <ion-row class="fiveCols">
      <ion-col col-3 class="numericInput" (click)="checkinput('1')">1</ion-col>
      <ion-col col-3 class="numericInput" (click)="checkinput('2')">2</ion-col>
      <ion-col col-3 class="numericInput" (click)="checkinput('3')">3</ion-col>
      <ion-col col-3 (click)="checkinput('+')">+</ion-col>
      <ion-col col-3 (click)="checkinput('-')">-</ion-col>
    </ion-row>

    <ion-row class="fiveCols">
      <ion-col col-3 class="numericInput" (click)="checkinput('0')">0</ion-col>
      <ion-col col-3 class="numericInput" (click)="checkinput('.')">.</ion-col>
      <ion-col col-3 (click)="checkinput('%')">%</ion-col>
      <ion-col col-3 (click)="changeSign()">+/-</ion-col>

      <ion-col col-3 (click)="getResult(1)">=</ion-col>
    </ion-row>
  </div>
  <!--- Fixed Keys-->
</div>
<div *ngIf="calcType==2" style="height: 90%; overflow-y: scroll">
  <!-- <ion-list > -->
  <!-- <li padding *ngFor="let hist of prevHistory" (click)="restoreHistory(hist)">{{hist.input}}=<br/>{{hist.ans}}</li> -->

  <!-- </ion-list> -->
  <div
    class="hist-div"
    padding
    *ngFor="let hist of prevHistory"
    (click)="restoreHistory(hist)"
  >
    <p>{{hist.input.trim()}} =</p>

    <div class="hist-ans">{{hist.ans}}</div>
  </div>
</div>
<div
  *ngIf="calcType==2 && !prevHistory.length"
  style="height: 90%"
  class="no-history-div"
>
  <div style="height: 21%"></div>
  <div class="no-show-circle">No History</div>
</div>
<ion-footer *ngIf="calcType==2 && prevHistory.length" (click)="clearHistory()">
  <div>CLEAR HISTORY <ion-icon name="trash"></ion-icon></div>
</ion-footer>
