<!-- Generated template for the ArithCalcComponent component -->

  <!-- 
  <p ><input [(ngModel)]="myAns" name="myAns"readonly></p> --> 
  <div *ngIf="calcType!=2">
     <ion-row style="border: 2px solid #c7c1c1;height:96px;">
      <ion-col col-18 colspan=5>
          <p > <input style="font-size: 17px;color: #b9b6b6;" [(ngModel)]="myPara" name="myPara" readonly></p>
          <input [(ngModel)]="result" name="result"readonly>
         
      </ion-col>
      </ion-row>
      
      <div class="scrollable-div fiveCols"> 
         <ion-row>
            <ion-col col-3  (click)="isInverse=!isInverse" id="shiftBtn">Inv</ion-col>
            <ion-col col-3 *ngIf="!isInverse" (click)="trigo('sin')">sin</ion-col>
            <ion-col col-3 *ngIf="!isInverse" (click)="trigo('cos')">cos</ion-col>
            <ion-col col-3 *ngIf="!isInverse" (click)="trigo('tan')">tan</ion-col>
            <ion-col col-3 *ngIf="isInverse" (click)="trigo1('sin')">sin<sup>-1</sup></ion-col>
            <ion-col col-3 *ngIf="isInverse" (click)="trigo1('cos')">cos<sup>-1</sup></ion-col>
            <ion-col col-3 *ngIf="isInverse" (click)="trigo1('tan')">tan<sup>-1</sup></ion-col>
            <ion-col col-3 *ngIf="!isInverse" (click)="log(1)">log</ion-col>
            <ion-col col-3 *ngIf="isInverse"(click)="log(0)">ln</ion-col>
         </ion-row>
         <ion-row class="fiveCols">
            <ion-col col-3 *ngIf="!isInverse" (click)="piOrE('pi')">&#x03C0;</ion-col>
            <ion-col col-3 *ngIf="isInverse" (click)="piOrE('e')">\u0065</ion-col>
            <ion-col col-3 (click)="checkinput('%')">Mod</ion-col>
            <ion-col col-3 (click)="power(2)">x<sup>2</sup></ion-col>
            <ion-col col-3 (click)="power(3)">x<sup>3</sup></ion-col>
            <ion-col col-3 (click)="power(y)">x<sup>y</sup></ion-col>

        </ion-row> 
        <ion-row class="fiveCols">
            <!-- <ion-col col-3 (click)="checkinput('^(')">^</ion-col> -->
            <ion-col col-3 (click)="sqrt()">&#8730;x</ion-col>
            <ion-col col-3 (click)="sqrt()">&#8731;x</ion-col>
            <ion-col col-3 (click)="sqrt()">x&#8730;y</ion-col>
            <ion-col col-3 (click)="leftParen()">(</ion-col>
            <!-- <ion-col col-3 (click)="checkinput(')')">)</ion-col> -->
            <ion-col col-3 (click)="checkinput('!')">!</ion-col>
        </ion-row>
         
       </div>
      
      <ion-row class="fiveCols" >
      <ion-col col-3 class="numericInput" (click)="checkinput('7')">7</ion-col>
      <ion-col col-3 class="numericInput" (click)="checkinput('8')">8</ion-col>
      <ion-col col-3 class="numericInput" (click)="checkinput('9')">9</ion-col>
      <ion-col col-3 class="numericInput" (click)="del()">DEL</ion-col>
      <ion-col col-3 class="numericInput" (click)="ac()">AC</ion-col>
      </ion-row>
      
      <ion-row class="fiveCols">
      <ion-col col-3 class="numericInput" (click)="checkinput('4')">4</ion-col>
      <ion-col col-3 class="numericInput" (click)="checkinput('5')">5</ion-col>
      <ion-col col-3 class="numericInput" (click)="checkinput('6')">6</ion-col>
      <ion-col col-3 (click)="multOrDiv('mult')">&#x00D7;</ion-col>
      <ion-col col-3 (click)="multOrDiv('div')">&#x00F7;</ion-col>
      </ion-row>
      
      <ion-row class="fiveCols">
      <ion-col col-3 class="numericInput" (click)="checkinput('1')">1</ion-col>
      <ion-col col-3 class="numericInput" (click)="checkinput('2')">2</ion-col>
      <ion-col col-3 class="numericInput" (click)="checkinput('3')">3</ion-col>
      <ion-col col-3 (click)="checkinput('+')">+</ion-col>
      <ion-col col-3 (click)="checkinput('-')">-</ion-col>
      </ion-row>
      
      <ion-row class="fiveCols">
      <ion-col col-3 class="numericInput" (click)="checkinput('0')">0</ion-col>
      <ion-col col-3 class="numericInput" (click)="checkinput('.')">.</ion-col>
      <ion-col col-3 class="numericInput" (click)="checkinput('%')">%</ion-col>
      <ion-col col-3 class="numericInput" (click)="checkinput('')">+/-</ion-col>


      <ion-col col-3 (click)="equal()">=</ion-col>
      </ion-row> 
      </div>
  <div *ngIf="calcType==2">
    <!-- <ion-list > -->
        <!-- <li padding *ngFor="let hist of prevHistory" (click)="restoreHistory(hist)">{{hist.input}}=<br/>{{hist.ans}}</li> -->
        
      <!-- </ion-list> -->
      <div class="hist-div" padding *ngFor="let hist of prevHistory" (click)="restoreHistory(hist)"> {{hist.input}}=<br/><div class="hist-ans">{{hist.ans}}</div></div>
  </div>
