<!--
  Generated template for the ChipRangePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

</ion-header>

<ion-content style="padding-left:16px;">
  <ion-label style="padding-left: 4px;padding-right: 16px;font-weight: bold;color:#0079c1;font-size:16px;"
    [innerHTML]="('qPrime_standard_range' | translate) +' '+(unit_HEC)"></ion-label>

  <div style="padding-bottom: 16px;">
    <ion-row *ngFor="let data of chip_range">
      <ion-col col-8>{{data.description}}</ion-col>
      <ion-col col-1 text-center>:</ion-col>
      <ion-col col-9 >{{data.range}} {{(isEnglish==true ? ('µin' | translate) : ('µm' | translate))}}
      </ion-col>
    </ion-row>

  </div>

</ion-content>