
<ion-header class="parent">
	<ion-toolbar ion-text color="primary">
      
		<ion-title col-18 text-center><span text-medium>Calculator</span></ion-title>

		<ion-buttons start>
			<ion-buttons>
				<button class="cross-button" ion-button (click)="dismiss(0)">
					<ion-icon name="close"  style="font-size: 25px;"></ion-icon>
				</button>
			</ion-buttons>
		</ion-buttons>
		<ion-buttons end>
			<button ion-button (click)="dismiss(1)">
        		<ion-icon name="checkmark" style="font-size: 25px;"></ion-icon>
     		 </button>
		</ion-buttons>
 </ion-toolbar>
  <!-- <ion-navbar hideBackButton="true">
    
  
  </ion-navbar> -->
</ion-header> 


<ion-content>
  <ion-segment  class="SwipedTabs-tabs" text-wrap >
		<!-- <ion-segment-button text-wrap *ngFor='let tab of tabs ; let i = index ' value="IngoreMe" (click)="calcType=i"
		[ngClass]='{ "SwipedTabs-activeTab" : ( this.SwipedTabsSlider  && ( this.SwipedTabsSlider.getActiveIndex() === i || (  tabs.length -1 === i&& this.SwipedTabsSlider.isEnd()))) }' >
    <div text-wrap>{{tab}}</div>
    </ion-segment-button> -->
    <ion-segment-button menuToggle class="menu-segment">
        <ion-icon name="menu"></ion-icon>
    </ion-segment-button>
		<ion-segment-button text-wrap value="IngoreMe" [class.SwipedTabs-activeTab]="calcType==currentCal" (click)="calcType=currentCal" >
			<div text-wrap >{{calcTypeValue}}</div>
		</ion-segment-button>
		<ion-segment-button text-wrap value="IngoreMe" [class.SwipedTabs-activeTab]="calcType==2"  (click)="calcType=2">
			<div text-wrap >History</div>
    </ion-segment-button>
    
    </ion-segment>


	<!-- here is our dynamic line  "indicator"-->
	<div id='indicator' class="SwipedTabs-indicatorSegment" ></div>
	<arith-calc [userInput]="userInput" [calcType]="calcType" (calculatedValue)="onCalculation($event)" (selectedCalc)="onSelectcalc($event)"></arith-calc>
	<!-- <ion-slides #SwipedTabsSlider  (ionSlideDrag)="animateIndicator($event)"
							(ionSlideWillChange)="updateIndicatorPosition()"
							(ionSlideDidChange)="updateIndicatorPosition()"
							(pan)="updateIndicatorPosition()"
							[pager]="false"
				>
		<ion-slide>
			<arith-calc [userInput]="userInput" [calcType]="calcType" (calculatedValue)="onCalculation($event)" (selectedCalc)="onSelectcalc($event)"></arith-calc>
		</ion-slide>
		<ion-slide>
			<h1>Algebra Calc </h1>
		</ion-slide>
		<ion-slide>
			<h1>Trigo Calc </h1>
		</ion-slide>
		<ion-slide>
			<h1>Calculus Calculator </h1>
    </ion-slide>
    <ion-slide>
			<h1>Power Calculator </h1>
    </ion-slide>
    <ion-slide>
			<h1>Fraction Calculator </h1>
		</ion-slide>
	</ion-slides> -->

     
      
    
  </ion-content>
  