page-calc-all {
  .menu-inner {
    top: 60px !important;
  }
  .segment-button {
    font-size: 15px !important;
  }
  .bar-buttons-md {
    order: 0;
  }

  .segment-activated {
    border-color: #edf0f3 !important;
  }
  .segment-ios .segment-button.segment-activated {
    color: #005eb8;
    background: none;
  }
  .segment-ios .segment-button {
    border-style: none;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 0;
    height: 4.2rem;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 0, 0, 0.1);
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 4rem;
    text-transform: uppercase;
    color: #005eb8;
    background-color: transparent;
    opacity: 0.7;
    -webkit-transition: 100ms all linear;
    transition: 100ms all linear;
    padding: 0 6px;
  }
  .SwipedTabs-activeTab {
    border-bottom: solid 2px #005eb8 !important;
  }
  .menu-segment {
    text-align: left;
    padding-left: 22px !important;
  }

  /**************************************** Calc Css **********************************/
  p {
    margin: 0px;
    white-space: nowrap;
    overflow-x: scroll;
  }
  .myPara {
    color: #b9b6b6;
    font-size: 15px;
    text-align: right;
    padding: 11px 7px 0px;
  }
  .col {
    width: 19vw;
    height: 10.2vh;
    text-align: center;
    font-size: 22px;
    color: #005eb8;
    border: 1px solid white;
    padding-top: 2.5vh;
  }
  // .col:hover {background-color: #e4dfdf}
  input {
    width: 100%;
    height: 100%;
    border: none;
    color: #005eb8;
    font-size: 34px;
    padding: 0px 5px;
    text-align: right;
  }
  .shiftBtn {
    background-color: #005eb82b;
  }
  .fiveCols [col-3] {
    flex: 0 0 20%;
    max-width: 20%;
  }
  [col-18] {
    padding: 0px;
  }
  // li{
  //     display: flex;
  //     border-bottom: 1px solid #f1ecec;
  // }
  .hist-div {
    font-size: 17px;
    border-bottom: 1px solid #eceaea;
    width: 100%;
    text-align: right;
    color: #8e8b8b;
    height: 74px;
    padding: 8px 16px !important;

    .hist-ans {
      font-size: 34px;
      color: #005eb8;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  /********************* Ruchi ********************/

  .numericInput {
    color: #000;
  }

  .fixedKeys {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #fff;
    border: solid 1px #ededed;
  }
  .uprCaseOpr {
    font-size: 17px;
    padding-top: 3.4vh;
  }
  .no-history-div {
    height: 92%;
    text-align: center;
  }
  .no-show-circle {
    margin: 50px 0;
    background: #bfb6b645;
    height: 33.3%;
    border-radius: 50%;
    padding: 17% 12%;
    font-size: 22px;
  }
  ion-footer {
    background: #005eb8;
    text-align: center;
    color: white;
    padding: 10px;
    font-size: 2rem;
  }
}
