<!--
  Generated template for the DiamondRollDressingCalculatorPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <custom-side-menu calculatorName="diamond_title" visible="true" calculatorKey="dressing"></custom-side-menu>
</ion-header>

<ion-content no-padding [ngClass]=" isKeyBoard ? 'class-padding-bottom' : '' ">
  <div text-right class="mandate">{{'mandatory' | translate}}</div>

  <form [formGroup]="diamondRollDressingForm" (ngSubmit)="onSubmit(diamondRollDressingForm.value)" novalidate>
    <div style="padding-left: 16px">
      <div class="toggle-metric" [ngClass]="isEnglish ? 'toggle-selected' : 'toggle-normal'">
        {{'english' | translate}}
      </div>
      <div class="toggle-metric">
        <ion-toggle class="toggle-style" (ionChange)="updateToggle()" formControlName="unitPref" required></ion-toggle>
      </div>
      <div class="toggle-metric" [ngClass]="isEnglish ? 'toggle-normal' : 'toggle-selected'">
        {{'metric' | translate}}
      </div>
    </div>

    <ion-row class="line" style="margin-top: 4px"></ion-row>
    <p></p>
    <label class="input-label">{{'product_type' | translate}}</label>
    <ion-item class="drop-down-item-style">
      <ion-label style="padding-left: 0px" stacked class="input-float-style"><span style="color: #ff0021">*
        </span>{{'select_product_type' |
        translate}}</ion-label>
      <ion-select #productselect [(ngModel)]="selectedItem" (ionChange)="updateResults()" required
        formControlName="productType" class="spinner-style" interface="popover">
        <ion-option [disabled]="true">{{'conventional_abrasives_c' | translate}}</ion-option>
        <ion-option *ngFor="let type of productTypeListRefsOne" [value]="type.key">{{type.key | translate}}</ion-option>
        <ion-option [disabled]="true">{{'super_abrasives_c' | translate}}</ion-option>
        <ion-option *ngFor="let type of productTypeListRefsTwo" [value]="type.key">{{type.key | translate}}</ion-option>
      </ion-select>
    </ion-item>
    <div class="error-message"
      *ngIf="diamondRollDressingForm.get('productType').hasError(validationMsgs.productType.type) && (showErrors)">
      {{ validationMsgs.productType.message }}
    </div>
    <p></p>
    <label class="input-label">{{'diamond_roll' | translate}}</label>
    <ion-row style="margin-left: 8px; margin-right: 8px">
      <ion-col col-6>
        <ion-item no-padding>
          <ion-label (click)="common.getCalc(this,'diamondRollDiameter',diamondRollDressingForm)" stacked
            style="padding-left: 0px;height:28px;" class="input-float-style"><span style="color: #ff0021">*
            </span>{{'diameter' | translate}}{{unit_label}})&nbsp;&nbsp;<ion-icon name="ios-calculator"
              class="hideIcon"></ion-icon>
          </ion-label>

          <ion-input *ngIf="!this.platform.is('ios')"
            (focus)="common.setFocusInput(this,'diamondRollDiameter',diamondRollDressingForm)"
            (blur)="common.setBlur(this)" required maxlength="9" (keypress)="telkeypress($event)"
            (keyup)="isValidNumber($event)" tabindex="1" formControlName="diamondRollDiameter" required
            (ionChange)="updateResults()" type="number" class="input-fields"></ion-input>

          <ion-input *ngIf="this.platform.is('ios')"
            (focus)="common.setFocusInput(this,'diamondRollDiameter',diamondRollDressingForm)"
            (blur)="common.setBlur(this)" required maxlength="9" (keypress)="telkeypress($event)" tabindex="1"
            formControlName="diamondRollDiameter" required (ionChange)="updateResults()" type="number" pattern="[0-9]*"
            inputmode="decimal" class="input-fields">
          </ion-input>
        </ion-item>
      </ion-col>

      <ion-col style="padding-left: 0px" col-6>
        <ion-item no-padding>
          <ion-label (click)="common.getCalc(this,'diamondRollWidth',diamondRollDressingForm)" stacked
            style="padding-left: 0px;height:28px;" class="input-float-style"><span style="color: #ff0021">*
            </span>{{'width' | translate}}{{unit_label}})&nbsp;&nbsp;<ion-icon name="ios-calculator" class="hideIcon">
            </ion-icon>
          </ion-label>

          <ion-input *ngIf="!this.platform.is('ios')"
            (focus)="common.setFocusInput(this,'diamondRollWidth',diamondRollDressingForm)"
            (blur)="common.setBlur(this)" required maxlength="9" (keypress)="telkeypress($event)"
            (keyup)="isValidNumber($event)" tabindex="2" formControlName="diamondRollWidth" required
            (ionChange)="updateResults()" type="number" class="input-fields"></ion-input>
          <ion-input *ngIf="this.platform.is('ios')"
            (focus)="common.setFocusInput(this,'diamondRollWidth',diamondRollDressingForm)"
            (blur)="common.setBlur(this)" required maxlength="9" (keypress)="telkeypress($event)" tabindex="2"
            formControlName="diamondRollWidth" required (ionChange)="updateResults()" type="number" pattern="[0-9]*"
            inputmode="decimal" class="input-fields"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col style="padding-left: 0px" col-5>
        <ion-item no-padding>
          <ion-label (click)="common.getCalc(this,'diamondRollRPM',diamondRollDressingForm)" stacked
            style="padding-left: 0px;height:28px;" class="input-float-style"><span style="color: #ff0021">*
            </span>{{'rpm_label' | translate}}&nbsp;&nbsp;<ion-icon name="ios-calculator" class="hideIcon"></ion-icon>
          </ion-label>

          <ion-input *ngIf="!this.platform.is('ios')"
            (focus)="common.setFocusInput(this,'diamondRollRPM',diamondRollDressingForm)" (blur)="common.setBlur(this)"
            required maxlength="9" (keypress)="telkeypress($event)" (keyup)="isValidNumber($event)" tabindex="3"
            formControlName="diamondRollRPM" required type="number" (ionChange)="updateResults()" class="input-fields">
          </ion-input>
          <ion-input *ngIf="this.platform.is('ios')"
            (focus)="common.setFocusInput(this,'diamondRollRPM',diamondRollDressingForm)" (blur)="common.setBlur(this)"
            required maxlength="9" (keypress)="telkeypress($event)" tabindex="3" formControlName="diamondRollRPM"
            required type="number" pattern="[0-9]*" inputmode="decimal" (ionChange)="updateResults()"
            class="input-fields"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ng-container *ngFor="let validation of validationMsgs.diamondRollDiameter">
          <div class="error-message"
            *ngIf="diamondRollDressingForm.get('diamondRollDiameter').hasError(validation.type) && ((diamondRollDressingForm.get('diamondRollDiameter').dirty || diamondRollDressingForm.get('diamondRollDiameter').touched))">
            {{ validation.message }}
          </div>
        </ng-container>
      </ion-col>
      <ion-col>
        <ng-container *ngFor="let validation of validationMsgs.diamondRollWidth">
          <div class="error-message"
            *ngIf="diamondRollDressingForm.get('diamondRollWidth').hasError(validation.type) && ((diamondRollDressingForm.get('diamondRollWidth').dirty || diamondRollDressingForm.get('diamondRollWidth').touched))">
            {{ validation.message }}
          </div>
        </ng-container>
      </ion-col>
      <ion-col>
        <ng-container *ngFor="let validation of validationMsgs.diamondRollRPM">
          <div class="error-message"
            *ngIf="diamondRollDressingForm.get('diamondRollRPM').hasError(validation.type) && ((diamondRollDressingForm.get('diamondRollRPM').dirty || diamondRollDressingForm.get('diamondRollRPM').touched))">
            {{ validation.message }}
          </div>
        </ng-container>
      </ion-col>
    </ion-row>
    <p></p>
    <ion-row>
      <label class="input-label">{{'wheel_parameters' | translate}}</label>
    </ion-row>
    <ion-row style="margin-left: 8px; margin-right: 8px">
      <ion-col col-6>
        <ion-item no-padding>
          <ion-label (click)="common.getCalc(this,'wheelDiameter',diamondRollDressingForm)" stacked
            style="padding-left: 0px;height:28px;" class="input-float-style"><span style="color: #ff0021">*
            </span>{{'diameter' | translate}}{{unit_label}})&nbsp;&nbsp;<ion-icon name="ios-calculator"
              class="hideIcon"></ion-icon>
          </ion-label>

          <ion-input *ngIf="!this.platform.is('ios')"
            (focus)="common.setFocusInput(this,'wheelDiameter',diamondRollDressingForm)" (blur)="common.setBlur(this)"
            required maxlength="9" (keypress)="telkeypress($event)" (keyup)="isValidNumber($event)" tabindex="4"
            formControlName="wheelDiameter" required type="number" (ionChange)="updateResults()" class="input-fields">
          </ion-input>
          <ion-input *ngIf="this.platform.is('ios')"
            (focus)="common.setFocusInput(this,'wheelDiameter',diamondRollDressingForm)" (blur)="common.setBlur(this)"
            required maxlength="9" (keypress)="telkeypress($event)" tabindex="4" formControlName="wheelDiameter"
            required type="number" pattern="[0-9]*" inputmode="decimal" (ionChange)="updateResults()"
            class="input-fields"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col style="padding-left: 0px" col-4.5>
        <ion-item no-padding>
          <ion-label (click)="common.getCalc(this,'wheelRPM',diamondRollDressingForm)" stacked
            style="padding-left: 0px;height:28px;" class="input-float-style"><span style="color: #ff0021">*
            </span>{{'rpm_label' | translate}}&nbsp;&nbsp;<ion-icon name="ios-calculator" class="hideIcon"></ion-icon>
          </ion-label>

          <ion-input *ngIf="!this.platform.is('ios')"
            (focus)="common.setFocusInput(this,'wheelRPM',diamondRollDressingForm)" (blur)="common.setBlur(this)"
            required maxlength="9" (keypress)="telkeypress($event)" (keyup)="isValidNumber($event)" tabindex="5"
            formControlName="wheelRPM" required type="number" (ionChange)="updateResults()" class="input-fields">
          </ion-input>
          <ion-input *ngIf="this.platform.is('ios')"
            (focus)="common.setFocusInput(this,'wheelRPM',diamondRollDressingForm)" (blur)="common.setBlur(this)"
            required maxlength="9" (keypress)="telkeypress($event)" tabindex="5" formControlName="wheelRPM" required
            type="number" pattern="[0-9]*" inputmode="decimal" (ionChange)="updateResults()" class="input-fields">
          </ion-input>
        </ion-item>
      </ion-col>
      <ion-col style="padding-left: 0px" col-7.5>
        <ion-item no-padding>
          <ion-label (click)="common.getCalc(this,'wheelTraverseRate',diamondRollDressingForm)" stacked
            style="padding-left: 0px;height:28px;" class="input-float-style"><span style="color: #ff0021">*
            </span>{{'traverse_rate' | translate}}{{unit_label}}/min)&nbsp;&nbsp;<ion-icon name="ios-calculator"
              class="hideIcon"></ion-icon>
          </ion-label>

          <ion-input *ngIf="!this.platform.is('ios')"
            (focus)="common.setFocusInput(this,'wheelTraverseRate',diamondRollDressingForm)"
            (blur)="common.setBlur(this)" required maxlength="9" (keypress)="telkeypress($event)"
            (keyup)="isValidNumber($event)" type="number" tabindex="6" required formControlName="wheelTraverseRate"
            (ionChange)="updateResults()" class="input-fields"></ion-input>
          <ion-input *ngIf="this.platform.is('ios')"
            (focus)="common.setFocusInput(this,'wheelTraverseRate',diamondRollDressingForm)"
            (blur)="common.setBlur(this)" required maxlength="9" (keypress)="telkeypress($event)" type="number"
            pattern="[0-9]*" inputmode="decimal" tabindex="6" required formControlName="wheelTraverseRate"
            (ionChange)="updateResults()" class="input-fields"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ng-container *ngFor="let validation of validationMsgs.wheelDiameter">
          <div class="error-message"
            *ngIf="diamondRollDressingForm.get('wheelDiameter').hasError(validation.type) && ((diamondRollDressingForm.get('wheelDiameter').dirty || diamondRollDressingForm.get('wheelDiameter').touched))">
            {{ validation.message }}
          </div>
        </ng-container>
      </ion-col>
      <ion-col>
        <ng-container *ngFor="let validation of validationMsgs.wheelRPM">
          <div class="error-message"
            *ngIf="diamondRollDressingForm.get('wheelRPM').hasError(validation.type) && ((diamondRollDressingForm.get('wheelRPM').dirty || diamondRollDressingForm.get('wheelRPM').touched))">
            {{ validation.message }}
          </div>
        </ng-container>
      </ion-col>
      <ion-col>
        <ng-container *ngFor="let validation of validationMsgs.wheelTraverseRate">
          <div class="error-message"
            *ngIf="diamondRollDressingForm.get('wheelTraverseRate').hasError(validation.type) && ((diamondRollDressingForm.get('wheelTraverseRate').dirty || diamondRollDressingForm.get('wheelTraverseRate').touched))">
            {{ validation.message }}
          </div>
        </ng-container>
      </ion-col>
    </ion-row>

    <ion-row class="btns-row">
      <button type="button" (click)="clearResults()" class="clear-btn">
        {{'clear_btn' | translate}}
      </button>
      <button [disabled]="calculateDisable" type="submit" class="calc-btn">
        {{calculateBtnText}}
      </button>
    </ion-row>
  </form>

  <div [style.opacity]="resultOpacity" *ngIf="showResult" style="margin-top: 20px">
    <ion-row style="padding-bottom: 8px; padding-left: 15px">
      <img src="./assets/imgs/results.png" style="height: 16px; width: 16px" />
      <label style="
          padding-left: 8px;
          padding-right: 16px;
          font-weight: bold;
          color: #0079c1;
        ">{{'results' | translate}}</label>
    </ion-row>
    <div>
      <ion-row class="bg-gray result-label-alignment">
        <ion-col col-7></ion-col>
        <ion-col col-5.5 class="table-header">
          <div class="result-label-alignment">{{'calculated'| translate}}</div>
        </ion-col>
        <ion-col col-5.5>
          <div class="result-label-alignment">
            {{'recommended' | translate}}
          </div>
        </ion-col>
      </ion-row>
      <ion-row style="margin: 8px">
        <ion-col col-7 class="table-values">
          <span>{{'speed_ratio' | translate}}</span> &nbsp;
          <ion-icon name="information-circle" (click)="speedRatioClick()"></ion-icon>
        </ion-col>
        <ion-col col-5.5 style="font-weight: bold" class="table-values">{{(isEnglishResult? round(op_speed_ratio,1):
          round(op_speed_ratio,1))}}</ion-col>
        <ion-col col-5.5 class="table-values">{{isEnglishResult? round(op_speed_ratio_recommended,1) :
          round(op_speed_ratio_recommended,1)}}</ion-col>
      </ion-row>
      <ion-row class="gray-line"></ion-row>
      <ion-row style="margin: 8px">
        <ion-col col-7 class="table-values">{{'traverse_rate' | translate}}
        </ion-col>
        <ion-col col-5.5 class="table-values" style="color: #999">NA</ion-col>
        <ion-col col-5.5 class="table-values">{{isEnglishResult? round(op_traverse_rate,0) :
          round(op_traverse_rate,0)}}</ion-col>
      </ion-row>
      <ion-row style="margin: 8px">
        <ion-col col-7 class="table-values">{{isEnglishResult? ('sfpm_wheel' | translate) : ('m_sec_wheel' |
          translate)}}
        </ion-col>
        <ion-col col-5.5 style="font-weight: bold" class="table-values">{{isEnglishResult ? round(op_SFPM_wheel,0) :
          round(op_SFPM_wheel,1)}}</ion-col>
        <ion-col col-5.5 class="table-values">{{isEnglishResult ? round(op_SFPM_wheel_recommended,0) :
          round(op_SFPM_wheel_recommended,0)}}</ion-col>
      </ion-row>
      <ion-row style="margin: 8px">
        <ion-col col-7 class="table-values">{{'overlap_ratio' | translate}} &nbsp;
          <ion-icon name="information-circle" (click)="overlapRatio()"></ion-icon>
        </ion-col>
        <ion-col col-5.5 style="font-weight: bold" class="table-values">{{isEnglishResult ?
          (diamondRollDressingForm.get('productType').value
          === "gforce_diamond"? round(op_overlap_ratio,1) :
          round(op_overlap_ratio,0) ) :
          ((diamondRollDressingForm.get('productType').value ===
          "gforce_diamond" || diamondRollDressingForm.get('productType').value
          === "vitrified"? round(op_overlap_ratio,1) :
          round(op_overlap_ratio,0)))}}</ion-col>
        <ion-col col-5.5 class="table-values">{{isEnglishResult ? round(op_overlap_ratio_recommended,0) :
          round(op_overlap_ratio_recommended,0)}}</ion-col>
      </ion-row>
      <ion-row style="margin: 8px">
        <ion-col col-7 class="table-values">{{'max_dress_depth' | translate}}{{isEnglishResult? ' (in' : '
          (&mu;m'}})
        </ion-col>
        <ion-col col-5.5 class="table-values" style="color: #999">NA</ion-col>
        <ion-col col-5.5 class="table-values">{{isEnglishResult ? op_max_dress_depth_recommended :
          op_max_dress_depth_recommended}}</ion-col>
      </ion-row>
      <ion-row class="gray-line"></ion-row>
      <ion-row style="margin: 8px">
        <ion-col col-7 class="table-values">{{isEnglishResult? ('sfpm_roll' | translate) : ('m_sec_roll' |
          translate)}}</ion-col>
        <ion-col col-5.5 style="font-weight: bold" class="table-values">{{isEnglishResult ?
          round(op_SFPM_diamond_roll,0) :
          round(op_SFPM_diamond_roll,1)}}</ion-col>
        <ion-col col-5.5 class="table-values" style="color: #999">NA</ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>

<calculator-button class="animated faster" [ngClass]=" isKeyBoard ? 'slideInUp' : 'slideOutDown' "
  [style.bottom]=" isKeyBoard ? '0px' : '-46px' " [style.height]="common.getCalcButtonHeight()" *ngIf="isKeyBoard"
  [pageRef]="this" [inputRef]="currentInputRef" [formRef]="currentFormRef">
</calculator-button>