page-diamond-roll-dressing-calculator {
  .line {
    height: 1px;
    background-color: #dbdbdb;
  }
  .input-fields {
    margin: 0px;
    // font-size: 10px;
    padding-left: 2px;
  }
  .label-ios[stacked] {
    font-size: 10px !important;
  }
  .toolbar-ios ion-title {
    padding: 0 38px 1px !important;
  }
  .result-title {
    margin-left: 8px;
    font-size: 13px;
    font-weight: bold;
    margin-top: 4px;
  }
  .table-header {
    color: black;
    font-size: 13px;
    font-weight: bold;
  }
  .table-values {
    color: black;
    font-size: 13px;
    vertical-align: middle;
  }
  .gray-line {
    height: 1px;
    background-color: #dbdbdb;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 13px;
    margin-right: 13px;
  }
  @media only screen and (max-width: 375px) {
    .result-label-alignment * {
      font-size: 10px;
    }
  }

  .col,
  .row {
    position: initial !important;
  }
}
