<!--
  Generated template for the TermsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{ 'terms_label' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding text-justify>
  <div [innerHTML]="myTemplate | keepHtml"></div>

</ion-content>
<ion-footer no-padding>
  <button style="margin:0px !important;" block *ngIf="showButton" ion-button (click)="acceptTerms()"
    ion-button>{{'accept' | translate}}</button>
</ion-footer>