page-calculator-sub-list {
    img {
        max-height: 100px;
        max-width: 55px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
      }



      
      .content-ios
      {
        top: 8px;
      }
}
