<!--
  Generated template for the CalculatorSubListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  
  <!-- <ion-navbar> -->
  <custom-side-menu  *ngIf="calculatorType=='conversion'" calculatorName="conversions_title" visible="false" calculatorKey="converter"></custom-side-menu>
  <custom-side-menu  *ngIf="calculatorType=='grind'" calculatorName="grindingParameters_title" visible="false" calculatorKey="converter"></custom-side-menu>
  <custom-side-menu  *ngIf="calculatorType=='dress'" calculatorName="dressingParameters_title" visible="false" calculatorKey="converter"></custom-side-menu>
  <custom-side-menu  *ngIf="calculatorType=='cut'" calculatorName="cuttingParameters_title" visible="false" calculatorKey="converter"></custom-side-menu>
  <custom-side-menu *ngIf="calculatorType=='conversions2'" calculatorName="conversions_title" visible="false"
          calculatorKey="converter"></custom-side-menu>


  <!-- </ion-navbar> -->

</ion-header>



<ion-content>
  <calculator-list [calcType]="calculatorType"></calculator-list>
  </ion-content>
  
  <ion-footer>
      <ion-toolbar>
        <ion-item no-lines>
          <img style="margin-left: 16px;" item-start src="assets/imgs/norton_logo_landingscreen.png">
    
          <button (click)="showTerms()" item-right style="font-size:12px; text-transform: none;" ion-button clear no-margin
            color="primary">{{ 'terms_label' | translate }}</button>
        </ion-item>
    
      </ion-toolbar>
    </ion-footer>
