page-home {
  .custom-card {
    margin: 16px;
    width: 100%;
    background-image: url("../assets/imgs/card_bgd.png");
  }

  .card-logo {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    background-color: #8dc63f;
    width: 66px;
    height: 85px;
    position: relative;
  }

  img {
    max-height: 100px;
    max-width: 55px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  .title {
    font-weight: bold;
    font-size: 18px;
  }

  .item {
    margin: 4px auto;
  }

  ion-label {
    margin-right: 0px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }

  .card-margin {
    margin-top: 7px !important;
    margin-bottom: 7px !important;
  }

  .toolbar-title {
    text-align: center;
  }

  .toolbar-title-ios {
    font-size: 20px;
  }

  .toolbar-ios {
    height: 55px;
  }
  .content-ios {
    top: 8px;
  }
}
