<!-- <ion-header >
    <ion-toolbar color="primary">
      <ion-title>{{ 'select_calc' | translate }}</ion-title>
    </ion-toolbar>
  </ion-header> -->
<ion-header>
  <custom-side-menu calculatorName="select_calc" visible="false" calculatorKey="home"></custom-side-menu>
</ion-header>

<ion-content>
  <ion-list no-lines>
    <ion-item style="padding-left: 8px" *ngFor="let item of landingPageItems" (click)="navigateToCalculator(item)">
      <ion-card class="card-margin">
        <ion-item style="padding-left: 6px">
          <div class="card-logo" item-start>
            <img src="{{item.logo}}">
          </div>
          <div text-wrap class="title">{{item.name}}</div>
          <!-- <div class="desc" text-wrap>{{item.desc}}</div> -->

        </ion-item>
      </ion-card>
    </ion-item>

    <ion-item style="padding-left: 8px" (click)="navigateToCalc()">
      <ion-card class="card-margin">
        <ion-item style="padding-left: 6px">
          <div class="card-logo" item-start>
            <img src="../assets/imgs/Button_Calculator.jpg">
          </div>
          <div text-wrap class="title">{{ 'calc' | translate }}</div>
          <!-- <div class="desc" text-wrap>{{item.desc}}</div> -->

        </ion-item>
      </ion-card>
    </ion-item>

  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-item no-lines>
      <img style="margin-left: 16px;" item-start src="assets/imgs/norton_logo_landingscreen.png">

      <button (click)="showTerms()" item-right style="font-size:12px; text-transform: none;" ion-button clear no-margin
        color="primary">{{ 'terms_label' | translate }}</button>
    </ion-item>

  </ion-toolbar>
</ion-footer>