<!--
  Generated template for the PumpPowerPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

</ion-header>

<ion-content style="padding:16px;">
  <label style="font-size:18px;color:#0079c1;">{{'pump_power'|translate}}</label>
  <p text-justify style="font-size:16px;color: #6b737b; margin-top:4px;">{{'info_pump_power' | translate}}</p>

  <ion-row style="height:1px;background:#000;margin-top:6px;"></ion-row>

  <img src="{{ './assets/imgs/' + ( 'pumppower_img' | translate ) + '.png' }}" />
</ion-content>