<!--
  Generated template for the InfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{'info_title' | translate}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list no-lines>
    <ion-card *ngFor="let item of infoItems">
      <ion-card-header text-wrap style="font-weight:bold">
        {{item.label}}
      </ion-card-header>
      <ion-card-content *ngIf="!checkDescription(item.description) || !checkDescription(item.description2)"
        text-justify>
        <span *ngIf="!checkDescription(item.description2)" [innerHTML]="item.description2"></span>
        {{item.description}}<br>{{item.description1}}

      </ion-card-content>

      <img *ngIf="!checkImage(item.imageName)" style=" float: left; "
        [style.height]=" item.cssimg ? item.cssimg.height : 'auto' "
        [style.width]=" item.cssimg ? item.cssimg.width : 'auto' " src="assets/imgs/{{item.imageName}}" />
      <img *ngIf="!checkImage(item.imageName1)" style="    height: 68px;width: 68px;"
        src="assets/imgs/{{item.imageName1}}" />
    </ion-card>
  </ion-list>
</ion-content>