page-info {
  .card-margin {
    margin-top: 7px !important;
    margin-bottom: 7px !important;
  }
  .desc {
    color: #6b737b;
    margin-top: 8px;
    font-size: 12px;
  }
  .title {
    font-weight: bold;
    font-size: 16px;
  }
  .item {
    margin: 4px auto;
  }
  .custom-card {
    width: 100%;
    background-image: url("../assets/imgs/card_bgd.png");
  }
  @media only screen and (max-width: 375px) {
    .toolbar-ios ion-title {
      padding: 0px;
    }
    .toolbar-title-ios {
      font-size: 14px;
    }
  }
}
