<!--
  Generated template for the WheelSpeedConverterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <custom-side-menu calculatorName="wheel_title" visible="true" calculatorKey="wheel_speed"></custom-side-menu>
</ion-header>
<ion-content [ngClass]=" isKeyBoard ? 'class-padding-bottom' : '' ">
  <div text-right class="mandate">{{'mandatory' | translate}}</div>
  <form [formGroup]="wheelSpeedForm" (ngSubmit)="onSubmit(wheelSpeedForm.value)" novalidate>
    <div style="padding-left: 16px">
      <div [ngClass]="isEnglish ? 'toggle-selected' : 'toggle-normal'">
        {{'english' | translate}}
      </div>
      <div class="toggle-style">
        <ion-toggle (ionChange)="updateToggle()" formControlName="unitPref" required></ion-toggle>
      </div>
      <div [ngClass]="isEnglish ? 'toggle-normal' : 'toggle-selected'">
        {{'metric' | translate}}
      </div>
    </div>
    <ion-label (click)="common.getCalc(this,'diameter',wheelSpeedForm)" class="input-label" style="margin-top: 4px">
      {{'wheel_diameter' | translate}}&nbsp;&nbsp;<ion-icon name="ios-calculator" class="hideIcon"></ion-icon>
    </ion-label>
    <ion-item class="input-item-padding">

      <ion-label stacked class="input-float-style"><span style="color: #ff0021">* </span>{{diameterPh}}</ion-label>
      <ion-input *ngIf="!this.platform.is('ios')" maxlength="11" (keypress)="telkeypress($event)"
        (keyup)="isValidNumber($event)" tabindex="1" formControlName="diameter" required (ionChange)="updateResults()"
        type="number" style="padding-left: 8px" (focus)="common.setFocusInput(this,'diameter',wheelSpeedForm)"
        (blur)="common.setBlur(this)"></ion-input>
      <ion-input *ngIf="this.platform.is('ios')" maxlength="11" (keypress)="telkeypress($event)" tabindex="1"
        formControlName="diameter" required (ionChange)="updateResults()" type="number" pattern="[0-9]*"
        inputmode="decimal" style="padding-left: 8px" (focus)="common.setFocusInput(this,'diameter',wheelSpeedForm)"
        (blur)="common.setBlur(this)"></ion-input>
    </ion-item>

    <ng-container *ngFor="let validation of validationMsgs.diameter">
      <div class="error-message"
        *ngIf="wheelSpeedForm.get('diameter').hasError(validation.type) && (wheelSpeedForm.get('diameter').dirty || wheelSpeedForm.get('diameter').touched)">
        {{ validation.message }}
      </div>
    </ng-container>

    <ion-row class="line-style"></ion-row>

    <ion-label class="input-label" style="margin-bottom: 7px">{{'wheel_speed' | translate}}</ion-label>
    <ion-row style="padding-left: 16px; padding-right: 16px">
      <ion-col col-9 align-self-end no-padding>
        <ion-label stacked class="input-float-style iphone-padding"><span style="color: #ff0021">*
          </span>{{'wheel_speed_ph_select' |
          translate}}</ion-label>
        <ion-item no-padding style="padding-right: 3px; padding-top: 4px">
          <ion-select #wheelSpeedSelect (ionChange)="updateDropDown()" formControlName="wheelSpeedType" required style="
              width: 100%;
              max-width: 100%;
              padding-left: 8px;
              padding-right: 2px;
              font-size: 14px;
            " interface="popover" (ionChange)="updateResults()">
            <ion-option *ngFor="let speed of speedListRefs" [value]="speed.key">{{speed.alias}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col col-9 align-self-end no-padding>
        <ion-item no-padding style="padding-right: 3px; padding-top: 4px">
          <ion-label (click)="common.getCalc(this,'wheelSpeed',wheelSpeedForm)" stacked class="input-float-style"><span
              style="color: #ff0021">* </span>{{'wheel_speed_ph' |
            translate}}&nbsp;&nbsp;<ion-icon name="ios-calculator" class="hideIcon"></ion-icon>
          </ion-label>

          <ion-input *ngIf="!this.platform.is('ios')" (keypress)="telkeypress($event)" (keyup)="isValidNumber($event)"
            maxlength="9" tabindex="2" formControlName="wheelSpeed" required (ionChange)="updateResults()" type="number"
            style="padding-left: 8px" (focus)="common.setFocusInput(this,'wheelSpeed',wheelSpeedForm)"
            (blur)="common.setBlur(this)"></ion-input>
          <ion-input *ngIf="this.platform.is('ios')" (keypress)="telkeypress($event)" maxlength="9" tabindex="2"
            formControlName="wheelSpeed" required (ionChange)="updateResults()" type="number" pattern="[0-9]*"
            inputmode="decimal" style="padding-left: 8px"
            (focus)="common.setFocusInput(this,'wheelSpeed',wheelSpeedForm)" (blur)="common.setBlur(this)"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ng-container *ngFor="let validation of validationMsgs.wheelSpeed">
      <div class="error-message"
        *ngIf="wheelSpeedForm.get('wheelSpeed').hasError(validation.type) && (wheelSpeedForm.get('wheelSpeed').dirty || wheelSpeedForm.get('wheelSpeed').touched)">
        {{ validation.message }}
      </div>
    </ng-container>
    <ion-row class="line-style"></ion-row>

    <ion-row class="button-row">
      <button class="clear-btn" (click)="clearResults()" type="button">
        {{'clear_btn' | translate}}
      </button>
      <button tabindex="3" class="calc-btn" [disabled]="calculateDisable" type="submit">
        {{calculateBtnText}}
      </button>
    </ion-row>
  </form>

  <div [style.opacity]="resultOpacity" *ngIf="showResult" style="margin-top: 20px">
    <ion-row style="padding-bottom: 8px; padding-left: 15px">
      <img src="./assets/imgs/results.png" style="height: 16px; width: 16px" />
      <label style="
          padding-left: 8px;
          padding-right: 16px;
          font-weight: bold;
          color: #0079c1;
        ">{{'results' | translate}}</label>
    </ion-row>

    <ion-row align-items-center class="result-title-bar">
      <ion-col col-6 no-padding class="result-title">{{'wheel_speed_result' | translate}}</ion-col>
      <ion-col col-4 no-padding class="result-title">RPM</ion-col>
      <ion-col col-4 no-padding class="result-title">SFPM</ion-col>
      <ion-col col-4 no-padding class="result-title">m/Sec</ion-col>
    </ion-row>
    <ion-row align-items-center class="result-list-outer">
      <ion-col col-6 no-padding class="result-item">{{'speed_result' | translate}}</ion-col>
      <ion-col col-4 no-padding [style.font-weight]="rpmWeight" class="result-item">{{op_rpm}}</ion-col>
      <ion-col col-4 no-padding [style.font-weight]="sfpmWeight" class="result-item">{{op_sfpm}}</ion-col>
      <ion-col col-4 no-padding [style.font-weight]="mpsWeight" class="result-item">{{op_ms}}</ion-col>
    </ion-row>
  </div>

</ion-content>

<calculator-button class="animated faster" [ngClass]=" isKeyBoard ? 'slideInUp' : 'slideOutDown' "
  [style.bottom]=" isKeyBoard ? '0px' : '-46px' " [style.height]="common.getCalcButtonHeight()" *ngIf="isKeyBoard"
  [pageRef]="this" [inputRef]="currentInputRef" [formRef]="currentFormRef">
</calculator-button>