page-wheel-speed-converter {
  .wrap {
    text-align: center;
  }
  .left {
    float: left;
    background: grey;
  }
  .right {
    float: right;
    background: red;
  }
  .center {
    background: green;
    margin: 0 auto;
    display: inline-block;
  }
  ion-label.label {
    margin-bottom: 0px;
    margin-top: 0px;
  }

  .col,
  .row {
    position: initial !important;
  }
}
