<!--
  Generated template for the SettingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <custom-side-menu calculatorName="settings" visible="false" calculatorKey="">
  </custom-side-menu>
</ion-header>


<ion-content padding>
  <p>
    {{ 'available_languages' | translate }}
  </p>
  <ion-list radio-group [(ngModel)]="selectedLanguage">
    <ion-item *ngFor="let l of availableLanguages">
      <ion-label>{{ l.name }}</ion-label>
      <ion-radio [value]="l.value"></ion-radio>
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <button ion-button block (click)="setLanguage()">
      {{ 'submit' | translate }}
    </button>
  </ion-toolbar>
</ion-footer>