page-length-converter-new-design {
  .marginTop25 {
    margin-top: 30px !important;
  }

  .marginTop15 {
    margin-top: 10px !important;
  }

  .mandatory-class {
    color: color($colors, manadatory);
  }

  ion-header::after {
    background-image: none !important;
  }
  .click-pointer {
    pointer-events: all !important;
  }
}
