<!--
  Generated template for the UnitConverterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header style="background: #fff !important">
  <custom-side-menu calculatorName="length_title" visible="false" calculatorKey="length"></custom-side-menu>
  <div text-right class="mandate">{{'mandatory' | translate}}</div>
  <!-- <ion-row> -->
  <ion-row style="padding-left: 16px; padding-right: 16px; padding-bottom: 4px">
    <ion-col align-self-end no-padding>
      <ion-item no-padding [class.ng-invalid]="1!=1">
        <ion-label (click)="common.getCalc(this,'inputValue')" stacked no-padding
          class="input-float-style click-pointer"><span style="color: #ff0021">* </span>{{'wheel_speed_ph'|
          translate}}&nbsp;&nbsp;<ion-icon name="ios-calculator" class="hideIcon"></ion-icon>
        </ion-label>

        <ion-input *ngIf="!this.platform.is('ios')" (keypress)="telkeypress($event)" [(ngModel)]="inputValue"
          (keyup)="isValidNumber($event)" class="input-fields" maxlength="9" tabindex="2" required
          (ngModelChange)="onChangeInput($event)" type="number" style="padding-left: 8px"
          (focus)="common.setFocusInput(this,'inputValue','',$event._value)" (blur)="common.setBlur(this)"></ion-input>
        <ion-input *ngIf="this.platform.is('ios')" [(ngModel)]="inputValue" (keypress)="telkeypress($event)"
          maxlength="9" tabindex="2" required (ngModelChange)="onChangeInput($event)" type="number" pattern="[0-9]*"
          inputmode="decimal" style="padding-left: 8px" (focus)="common.setFocusInput(this,'inputValue')"
          (blur)="common.setBlur(this)"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col align-self-end no-padding>
      <ion-item no-padding style="padding-left: 3px; padding-top: 4px">
        <ion-label stacked class="input-float-style iphone-padding"><span style="color: #ff0021">*
          </span>{{'select_from' |
          translate}}</ion-label>
        <ion-select (ionChange)="onChange($event)" [(ngModel)]="selectedData" required style="
            width: 100%;
            max-width: 100%;
            padding-left: 8px;
            padding-right: 2px;
            font-size: 14px;
          " interface="popover">
          <ion-option *ngFor="let data of lengthConverterData" [value]="data.data">{{data.data}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>
  <div class="error-message" *ngIf="error1">
    {{'empty_invalid_input' | translate}}
  </div>
  <ion-row style="padding: 20px 0 8px 15px">
    <img src="./assets/imgs/results.png" style="height: 16px; width: 16px" />
    <label style="
        padding-left: 8px;
        padding-right: 16px;
        font-weight: bold;
        color: #0079c1;
      ">{{'results' | translate}}</label>
  </ion-row>

  <ion-row align-items-center class="result-title-bar">
    <ion-col col-16 no-padding class="result-title" style="text-align: left">
      {{ 'unit_conversion' | translate }}
    </ion-col>
    <ion-col col-2 right></ion-col>
  </ion-row>
</ion-header>

<ion-content [ngClass]=" isKeyBoard ? 'class-padding-bottom' : '' ">
  <div [class]="margin">
    <ion-row *ngFor="let data of outputData" align-items-center class="result-list-outer"
      style="padding: 10px !important; border-bottom: solid 1px #ccc">
      <ion-col no-padding class="result-item" style="text-align: right; font-weight: bold">
        {{data.outp==0?data.outp:round(data.outp,data.decimal)}}
      </ion-col>
      <ion-col no-padding class="result-item" style="text-align: left; margin-left: 5px">{{data.data}}</ion-col>
    </ion-row>
  </div>


</ion-content>
<calculator-button class="animated faster" [ngClass]=" isKeyBoard ? 'slideInUp' : 'slideOutDown' "
  [style.bottom]=" isKeyBoard ? '0px' : '-46px' " [style.height]="common.getCalcButtonHeight()" *ngIf="isKeyBoard"
  [pageRef]="this" [inputRef]="currentInputRef" [formRef]="">
</calculator-button>