// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";

// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;

@import "ionic.globals";

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary: #005eb8,
  secondary: #0079c1,
  danger: #f53d3d,
  light: #f4f4f4,
  dark: #0079c1,
  side_menu_bg: #0079c1,
  manadatory: #ff0021,
  grey: #949ca1,
  light_blue: #75a8f7,
);
$text-input-highlight-color-valid: #bbbbbb;
$text-input-ios-highlight-color: #bbbbbb;
$text-input-md-highlight-color: #bbbbbb;
$toggle-md-track-background-color-off: #7fb8e2;
$toggle-md-track-background-color-on: #7fb8e2;
$toggle-md-handle-background-color-off: #005eb8;
$toggle-ios-background-color-off: #7fb8e2;
$toggle-ios-background-color-on: #7fb8e2;
$toggle-ios-handle-background-color: #005eb8;
$popover-md-box-shadow: 0 3px 12px 500px rgba(0, 0, 0, 0.3);
$popover-ios-width: 90%;
$popover-md-width: 90%;
$label-md-text-color-focused: #999;
$label-ios-text-color-focused: #999;
$text-input-placeholder-color: #999;
$grid-columns: 18;
$item-md-detail-push-show: true;
// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here

// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";

// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";

// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
