<!--
  Generated template for the UnitConverterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header style="background: #fff !important">
  <custom-side-menu calculatorName="velocity2_title" visible="false" calculatorKey="velocity converter">
  </custom-side-menu>

  <div text-right class="mandate">{{'mandatory' | translate}}</div>
  <ion-row style="padding-left: 16px; padding-right: 16px; padding-bottom: 4px">
    <ion-col align-self-end no-padding>
      <ion-item no-padding [class.ng-invalid]="1!=1">
        <ion-label (click)="common.getCalc(this,'inputValue')" stacked no-padding class="input-float-style"><span
            style="color: #ff0021">* </span>{{'wheel_speed_ph'|
          translate}}&nbsp;&nbsp;<ion-icon name="ios-calculator" class="hideIcon"></ion-icon>
        </ion-label>

        <ion-input (focus)="common.setFocusInput(this,'inputValue')" (blur)="common.setBlur(this)"
          *ngIf="!this.platform.is('ios')" (keypress)="telkeypress($event)" [(ngModel)]="inputValue"
          (keyup)="isValidNumber($event)" maxlength="9" tabindex="2" required (ionChange)="onChangeInput($event._value)"
          type="number" style="padding-left: 8px;"></ion-input>
        <ion-input (focus)="common.setFocusInput(this,'inputValue')" (blur)="common.setBlur(this)"
          *ngIf="this.platform.is('ios')" [(ngModel)]="inputValue" (keypress)="telkeypress($event)" maxlength="9"
          tabindex="2" required (ionChange)="onChangeInput($event._value)" type="number" pattern="[0-9]*"
          inputmode="decimal" style="padding-left: 8px;"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col align-self-end no-padding>
      <ion-label stacked class="input-float-style iphone-padding"><span style="color: #ff0021">* </span>{{'select_from'
        |
        translate}}</ion-label>
      <ion-item no-padding style="padding-left: 3px; padding-top: 4px">
        <ion-select (ionChange)="onChange($event)" [(ngModel)]="selectedData" required style="
            width: 100%;
            max-width: 100%;
            padding-left: 8px;
            padding-right: 2px;
            font-size: 14px;
          " interface="popover">
          <ion-option *ngFor="let fromUnit of velocityConverterData" [value]="fromUnit.data">{{fromUnit.data}}
          </ion-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>
  <div class="error-message" *ngIf="error1">
    {{'empty_invalid_input' | translate}}
  </div>
  <ion-col style="
      padding-left: 16px;
      padding-right: 16px;
      padding-top: 8px;
      display: block;
    " *ngIf="isWorkPiece">
    <ion-col align-self-end no-padding>
      <ion-label (click)="common.getCalc(this,'inputRPMValue')" stacked no-padding class="input-float-style">
        {{'enter_workPiece_rpm' | translate}}&nbsp;&nbsp;<ion-icon name="ios-calculator" class="hideIcon"></ion-icon>
      </ion-label>
      <ion-item no-padding>
        <ion-input (focus)="common.setFocusInput(this,'inputRPMValue')" (blur)="common.setBlur(this)"
          *ngIf="!this.platform.is('ios')" (keypress)="telkeypress($event)" [(ngModel)]="inputRPMValue"
          (keyup)="isValidNumber1($event)" maxlength="9" tabindex="2" required
          (ionChange)="onChangeInput1($event._value)" type="number" style="padding-left: 8px"></ion-input>
        <ion-input (focus)="common.setFocusInput(this,'inputRPMValue')" (blur)="common.setBlur(this)"
          *ngIf="this.platform.is('ios')" (keypress)="telkeypress($event)" [(ngModel)]="inputRPMValue" maxlength="9"
          tabindex="2" required (ionChange)="onChangeInput1($event._value)" type="number" pattern="[0-9]*"
          inputmode="decimal" style="padding-left: 8px">
        </ion-input>
      </ion-item>
    </ion-col>
  </ion-col>

  <div class="error-message" *ngIf="error2">
    {{'empty_invalid_input' | translate}}
  </div>
  <div class="error-message" *ngIf="isWorkPiece && error3">
    {{'enter_rpm' | translate}}
  </div>
  <ion-row style="padding: 20px 0 8px 15px">
    <img src="./assets/imgs/results.png" style="height: 16px; width: 16px" />
    <label style="
        padding-left: 8px;
        padding-right: 16px;
        font-weight: bold;
        color: #0079c1;
      ">{{ 'results' | translate }}</label>
  </ion-row>
  <ion-row align-items-center class="result-title-bar">
    <ion-col no-padding class="result-title" style="text-align: left">
      {{ 'conversion_unit' | translate }}
    </ion-col>
  </ion-row>
</ion-header>

<ion-content [ngClass]=" isKeyBoard ? 'class-padding-bottom' : '' ">
  <div [class]="margin">
    <ion-row *ngFor="let data of outputData" align-items-center class="result-list-outer"
      style="padding: 10px !important; border-bottom: solid 1px #ccc">
      <ion-col class="result-item result-span" [class.error-color]="data.outp=='Infinity' || data.outp==NaN">
        <!-- <span *ngIf="data.outp=='NaN'">{{data.output}}</span>
        <span *ngIf="data.outp!='NaN'">{{data.output}}</span> -->

        <!-- <span class="" > -->
        {{data.outp==0?data.outp:(selectedData=='m/s'&&
        data.data=='SFPM')?precisionToSFPM(data.outp):(isWorkPiece &&
        data.workPieceType=='/')?roundToNine(data.outp):round(data.outp,data.decimal)}}
        <!-- </span>  -->
      </ion-col>
      <ion-col no-padding class="result-item" style="text-align: left; margin-left: 5px">{{data.data}}</ion-col>
    </ion-row>
  </div>
</ion-content>

<calculator-button class="animated faster" [ngClass]=" isKeyBoard ? 'slideInUp' : 'slideOutDown' "
  [style.bottom]=" isKeyBoard ? '0px' : '-46px' " [style.height]="common.getCalcButtonHeight()" *ngIf="isKeyBoard"
  [pageRef]="this" [inputRef]="currentInputRef" [formRef]="">
</calculator-button>