page-velocity-converter-new-design {
  .marginTop10 {
    margin-top: 10px !important;
  }

  .marginTop15 {
    margin-top: 15px !important;
  }

  .marginTop25 {
    margin-top: 25px !important;
  }

  .marginTop75 {
    margin-top: 75px !important;
  }

  .marginTop85 {
    margin-top: 85px !important;
  }

  .marginTop95 {
    margin-top: 95px !important;
  }

  .marginTop100 {
    margin-top: 100px !important;
  }

  .marginTop120 {
    margin-top: 120px !important;
  }

  ion-header::after {
    background-image: none !important;
  }
  .error-color {
    color: red;
  }
  .result-span {
    text-align: right;
    // padding-left: 110px;
    font-weight: bold;
    font-size: 13px;
    padding-right: 5px;
  }
}
