<ion-menu [content]="content" (ionOpen)="menuOpened()" (ionClose)="menuClosed()" id="main_menu">
  <ion-content class="nav-menu">
    <div class="header-bg">
      <img class="side-logo" alt="logo" menuClose (click)="goToHomePage()" src="assets/imgs/norton_logo_sidebar.png" />
    </div>
    <div>
      <ion-list style="margin-top: 8px; overflow-y: scroll" no-lines>
        <ion-item (click)="openPage(p,i)" *ngFor="let p of pages;let i=index" class="main-menu">
          <!-- Parent Pages  -->
          <!-- <img class="item-logo" item-start [src]="getLogo(p)"> -->

          <!-- TCS -->
          <!-- <div class="nav-title">{{p.name}}</div> -->
          <!-- SG -->
          <div style="height: 35px; padding-left: 16px">
            <img *ngIf=" p.name != 'calc'" class="item-logo" style="float: left"
              [ngClass]="p.isinvert ? 'filter1' : '' " item-start [src]="getLogo(p)" />
            <ion-icon *ngIf=" p.name == 'calc'" name="ios-calculator" style="    float: left;
            margin: 12px 4px 12px 6px;
            width: 30px;
            font-size: 20px;" item-start></ion-icon>
            <!-- <img class="item-logo" style="float: left" item-start src="../assets/imgs/home.png" *ngIf="p.name=='Home'"> -->
            <!-- <span class="nav-title" style="white-space: normal !important;">{{p.name}}</span> -->
            <div style="height: auto !important;" class="nav-title">{{p.name | translate }}</div>
            <ion-icon style="    padding: 11px 13px 0 0;" [ios]="p.ismenuclick? 'ios-arrow-down' : 'ios-arrow-forward'"
              [md]="p.ismenuclick? 'ios-arrow-down' : 'ios-arrow-forward'"
              [name]="p.ismenuclick? 'ios-arrow-down' : 'arrow-forward'" float-right *ngIf="!p.component">
            </ion-icon>
          </div>
          <!--  -->
          <!-- Child Pages  -->
          <!--  -->
          <ion-list no-lines [style.height]=" p.ismenuclick ? 'auto' : '0px' " class="subMenuList">
            <ion-item no-border *ngFor="let subPage of p.subPages;let i2=index" class="subMenu" text-wrap menuClose
              (click)="openPage(subPage)" [class.activeSubPage]="checkActive(subPage)" style=" padding: 0px 10px 0px 38px
              !important;">
              <!-- <ion-row> -->
              <img class="item-logo" style="float: left" [ngClass]="subPage.isinvert ? 'filter1' : '' " item-start
                [src]="getLogo(subPage)">
              <div style="height: auto !important;">{{subPage.name}}</div>
              <!-- </ion-row> -->
            </ion-item>
          </ion-list>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>

  <ion-footer>
    <button (click)="showTerms()" style="text-transform: none;" block ion-button menuClose clear>{{ 'terms_label' |
      translate }}</button>
    <button style="color:#7a7979; font-size:12px; text-transform: none;" block ion-button clear>{{ 'copytight_label' |
      translate }}</button>
  </ion-footer>
</ion-menu>
<!-- <ion-menu [content]="content" (ionOpen)="menuOpened()" (ionClose)="menuClosed()" id="calc_menu" class="calc_menu">
  <ion-list>
    <button menuClose ion-item (click)="getCalcTypeMenu('Arithmetic')">
      Arithmetic
    </button>
    <button menuClose ion-item (click)="getCalcTypeMenu('Trignometry')">
      Trignometry
    </button>
  </ion-list>
</ion-menu> -->
<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>