// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

//
@import '../assets/css/animate.min.css';

.header-bg {
	background-color: #fff;
	width: 100%;
	height: 115px;
	position: relative;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.side-logo {
	max-height: 75px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.item-logo {
	// max-height: 24px;
	max-width: 24px;
	width: 24px;
	margin: 8px 16px 8px 0 !important;
}

.nav-menu {
	background-color: #f4f3f3;
}

.nav-title {
	font-size: 14px;
	// height: 35px;
	float: left;
	padding: 13px 0 0 0;
}

.item-md {
	background: transparent;
}

.item-ios {
	background: transparent;
}

.activeSubPage {
	.label {
		color: #005eb8 !important;
	}
}

.md {
	.toggle-icon {
		width: 36px !important;
		height: 14px !important;
	}
}

.table-header {
	color: black;
	font-size: 13px;
	font-weight: bold;
}

.table-values {
	color: black;
	font-size: 13px;
	vertical-align: middle;
}

.ios {
	.toggle-icon {
		height: 32px !important;
		width: 51px !important;
	}
}

.form-title {
	font-size: 14px;
}

.mandate {
	width: 100%;
	margin-top: '15px';
	margin-bottom: 5px;
	color: #ff0021;
	padding-right: 8px;
	margin-top: 15px;
	font-size: 12px;
}

.left-label {
	margin-right: 4px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.right-label {
	margin-left: 4px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.error-message {
	font-size: 12px;
	color: #ff0021;
	margin-left: 16px;
	margin-top: 4px;
}

.toggle-normal {
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	font-weight: normal;
}

.toggle-style {
	display: inline-block;
	vertical-align: middle;
}

.toggle-selected {
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	font-weight: bold;
}

.input-label {
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 2px;
	font-weight: bold;
	margin-top: 4px !important;
}

.input-item-padding {
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 8px;
	margin-bottom: 15px;
}

.line-style {
	height: 1px;
	background-color: dimgray;
	margin-top: 12px;
	margin-bottom: 8px;
}

.subMenuList .label-ios {
	font-size: 14px;
}

@media only screen and (max-width: 360px) and (min-width: 320px) {
	.input-float-style {
		margin: 0px;
		font-size: 9px;
		padding-left: 8px;
		color: #999;
	}
}

@media only screen and (max-width: 390px) and (min-width: 360px) {
	.input-float-style {
		margin: 0px;
		font-size: 11px;
		padding-left: 8px;
		color: #999;
	}
}

@media only screen and (min-width: 390px) {
	.input-float-style {
		margin: 0px;
		font-size: 12px;
		padding-left: 8px;
		color: #999;
	}
}

.drop-down-item-style {
	padding-left: 16px;
	padding-right: 16px !important;
	margin-top: 4px;
}

.button-row {
	justify-content: center;
	display: flex;
	margin-top: 20px;
}

.clear-btn {
	margin-left: 10px;
	margin-right: 10px;
	background-color: #949ca1;
	color: white;
	font-size: 14px;
	padding: 8px;
	font-weight: bold;
	width: 130px;
}

.calc-btn {
	margin-left: 10px;
	margin-right: 10px;
	background-color: #8dc63f;
	color: white;
	font-size: 14px;
	padding: 8px;
	font-weight: bold;
	width: 130px;
}

.result-label {
	padding-left: 8px;
	padding-right: 16px;
	font-weight: bold;
}

.result-row-bar {
	padding-left: 16px;
	padding-right: 16px;
	padding-bottom: 8px;
	margin-top: 15px;
}

.result-title-bar {
	background-color: #dbdbdb;
	height: 30px;
	padding-left: 16px;
	padding-right: 16px;
}

.result-title {
	color: black;
	font-size: 14px;
	font-weight: bold;
	font-size: 12px;
	text-align: start;
}

.result-list-outer {
	padding: 16px;
}

.result-item {
	padding: 0px;
	font-size: 12px;
	text-align: start;
}

.spinner-style {
	width: 100%;
	max-width: 100%;
	padding-left: 8px;
	font-size: 16px;
	color: #666d70;
}

.toggle-metric {
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
}

.btns-row {
	justify-content: center;
	display: flex;
	margin-top: 20px;
}

.bg-gray {
	background-color: #dbdbdb;
}

ion-navbar[hidebackbutton] button[menutoggle] {
	display: block !important;
}

.item-ios.item-radio-disabled ion-label {
	font-weight: bold;
	opacity: 1 !important;
	margin-bottom: 0px;
	font-size: 12px;
}

.item-md.item-radio-disabled ion-label {
	font-weight: bold;
	opacity: 1 !important;
	margin-bottom: 0px;
	font-size: 12px;
}

ion-item.item-radio-disabled ion-radio {
	display: none !important;
}

.item-md.item-radio ion-label {
	font-size: 12px;
}

.item-ios.item-radio ion-label {
	font-size: 12px;
}

.ios {
	.iphone-padding {
		margin-bottom: 4px;
	}
}

.menu-inner {
	.subMenuList {
		margin: 13px 0px 0px !important;
		background: #eceaea !important;
	}
	.main-menu {
		border-bottom: solid 1px #ccc;
		padding-left: 0px;
		.item-inner {
			padding-right: 0px !important;
			.label {
				margin-right: 0px;
			}
		}
	}
	.subMenu {
		color: #000;
	}

	.toolbar-ios {
		height: 55px !important;
	}
}

.popover-ios .popover-content {
	margin-left: 5% !important;
	border-radius: 0 !important;
}

@media only screen and (device-width: 768px) {
	/* For general iPad layouts */
	.popover-ios .popover-content {
		margin-left: 0% !important;
		border-radius: 0 !important;
	}
}

.filter1 {
	filter: invert(100%);
}

ion-col {
	ion-item {
		height: 100%;
	}
	ion-input {
		align-items: flex-end;
		flex-direction: column;
		display: flex;
	}
}

ion-item {
	ion-label {
		white-space: normal;
	}
}
.calc_menu {
	top: 56px;
}
.hideIcon {
	display: none;
}

calculator-button {
	//
	// comment display:none for custom calculator
	//
	// display: none;
	position: fixed;
	bottom: 0;
	left: -5%;
	height: 92px;
	width: 110%;
	text-align: center;
	padding-top: 0;
	background-color: #ddd;
	color: #fff;
	z-index: 99999;

	.customcalcButton {
		font-size: 16px;
		width: 100%;
		height: 46px;
		border-radius: 0;
		background-color: #005eb8;
		margin-top: 0 !important;
	}
}

.scroll-content {
	padding-bottom: 50px !important;
}

.class-padding-bottom {
	.scroll-content {
		padding-bottom: 100px !important;
	}
}

ion-header ion-title {
	padding: 0 50px 1px !important;
	left: 0;
	top: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
}

ion-header .toolbar-title {
	padding: 0 !important;
	text-overflow: unset !important;
	white-space: unset !important;
	font-size: 17px !important;
}

ion-header ion-navbar {
	min-height: 56px !important;
	height: 56px !important;
	max-height: 56px !important;
}

ion-header .back-button {
	z-index: 1;
}

//to remove red line below input box

// .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus)
//   .item-inner {
//   border-bottom-color: #dedede;
//   -webkit-box-shadow: inset 0 -1px 0 0 #dedede;
//   box-shadow: inset 0 -1px 0 0 #dedede;
// }
