<!--
  Generated template for the SpeedRatioPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

</ion-header>

<ion-content style="padding:16px;">

  <label style="font-size:18px;color:#0079c1;">{{'speed_ratio' | translate}}</label>
  <p style="font-size:16px;color: #6b737b; margin-top:4px;" text-justify>{{'info_speed_ratio11' | translate}}<span
      style="font-size:16px;color: #000000;font-weight:bold;">{{'info_speed_ratio12' | translate}}</span></p>

  <p style="font-size:13px;color: #6b737b;margin-top:16px;" text-justify>{{'info_speed_ratio2' | translate}}</p>

  <ion-row align-items-center>
    <ion-col col-8 style="font-size:12px;">{{'uni_directional' | translate}}</ion-col>
    <ion-col col-5><img [src]="src1" style="height:68px;width:68px;"></ion-col>
    <ion-col col-5><img [src]="src2" style="height:68px;width:68px;"></ion-col>
  </ion-row>

  <ion-row align-items-center>
    <ion-col col-8 style="font-size:12px;">{{'counterspacedirectional' | translate}}</ion-col>
    <ion-col col-5><img [src]="src3" style="height:68px;width:68px;"></ion-col>
    <ion-col col-5><img [src]="src4" style="height:68px;width:68px;"></ion-col>
  </ion-row>
</ion-content>