<ion-header>
  <custom-side-menu calculatorName="kerfloss_title" visible="false" calculatorKey="kerfloss"></custom-side-menu>
</ion-header>

<ion-content [ngClass]=" isKeyBoard ? 'class-padding-bottom' : '' ">
  <div text-right class="mandate">{{'mandatory' | translate}}</div>

  <form [formGroup]="kerfLossForm" (ngSubmit)="onSubmit(kerfLossForm.value)" novalidate>
    <ion-label class="input-label" style="margin-top: 4px">{{'wheel_thickness' | translate}}</ion-label>
    <ion-row style="padding: 7px 12px 4px">
      <ion-col align-self-end no-padding>
        <ion-item no-padding style="padding-left: 0px; padding-right: 3px">
          <ion-label (click)="common.getCalc(this,'thickness',kerfLossForm)" stacked class="input-float-style"><span
              style="color: #ff0021">* </span>{{thicknessPh}}
            &nbsp;&nbsp;<ion-icon name="ios-calculator" class="hideIcon"></ion-icon>
          </ion-label>

          <ion-input *ngIf="!this.platform.is('ios')" (focus)="common.setFocusInput(this,'thickness',kerfLossForm)"
            (blur)="common.setBlur(this)" maxlength="9" (keypress)="telkeypress($event)" (keyup)="isValidNumber($event)"
            tabindex="1" formControlName="thickness" required (ionChange)="updateResults()" type="number"
            style="padding-left: 8px;height:36px;"></ion-input>
          <ion-input *ngIf="this.platform.is('ios')" (focus)="common.setFocusInput(this,'thickness',kerfLossForm)"
            (blur)="common.setBlur(this)" maxlength="9" (keypress)="telkeypress($event)" tabindex="1"
            formControlName="thickness" required (ionChange)="updateResults()" type="number" pattern="[0-9]*"
            inputmode="decimal" style="padding-left: 8px;height:36px;">
          </ion-input>
        </ion-item>
      </ion-col>

      <ion-col align-self-end no-padding>
        <ion-label stacked class="input-float-style iphone-padding"><span style="color: #ff0021">*
          </span>{{'select_unit' |
          translate}}</ion-label>
        <ion-item no-padding style="padding-left: 3px">
          <ion-select #kerfThickness formControlName="thicknessType" required style="
              width: 100%;
              max-width: 100%;
              padding-left: 8px;
              padding-right: 2px;
              font-size: 14px;
              height: 36px;
            " interface="popover" (ionChange)="updateResults()">
            <ion-option *ngFor="let speed of speedListRefs" [value]="speed.key">{{speed.alias}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col style="padding-top: 0">
        <ng-container *ngFor="let validation of validationMsgs.thickness">
          <div class="error-message" style="margin-left: 11px"
            *ngIf="kerfLossForm.get('thickness').hasError(validation.type) && (kerfLossForm.get('thickness').dirty || kerfLossForm.get('thickness').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </ion-col>
      <ion-col style="padding-top: 0">
        <ng-container>
          <div class="error-message" style="margin-left: 3px"
            *ngIf="kerfLossForm.get('thicknessType').hasError(validationMsgs.thicknessType.type) && (showErrors)">
            {{ validationMsgs.thicknessType.message }}
          </div>
        </ng-container>
      </ion-col>
    </ion-row>

    <!-- <ion-row class="line-style"></ion-row> -->

    <ion-label class="input-label" style="margin-top: 4px">{{'part_surface_area' | translate}}</ion-label>
    <ion-row style="padding: 7px 12px 4px">
      <ion-col align-self-end no-padding>
        <ion-item no-padding style="padding-left: 0px; padding-right: 3px">
          <ion-label (click)="common.getCalc(this,'surfaceArea',kerfLossForm)" stacked class="input-float-style"><span
              style="color: #ff0021">* </span>{{surfaceAreaPh}}
            &nbsp;&nbsp;<ion-icon name="ios-calculator" class="hideIcon"></ion-icon>
          </ion-label>

          <ion-input *ngIf="!this.platform.is('ios')" (focus)="common.setFocusInput(this,'surfaceArea',kerfLossForm)"
            (blur)="common.setBlur(this)" maxlength="9" (keypress)="telkeypress($event)" (keyup)="isValidNumber($event)"
            tabindex="1" formControlName="surfaceArea" required (ionChange)="updateResults()" type="number"
            style="padding-left: 8px;height:36px;"></ion-input>
          <ion-input *ngIf="this.platform.is('ios')" (focus)="common.setFocusInput(this,'surfaceArea',kerfLossForm)"
            (blur)="common.setBlur(this)" maxlength="9" (keypress)="telkeypress($event)" tabindex="1"
            formControlName="surfaceArea" required (ionChange)="updateResults()" type="number" pattern="[0-9]*"
            inputmode="decimal" style="padding-left: 8px;height:36px;">
          </ion-input>
        </ion-item>
      </ion-col>

      <ion-col align-self-end no-padding>
        <ion-label stacked class="input-float-style iphone-padding"><span style="color: #ff0021">*
          </span>{{'select_unit' |
          translate}}</ion-label>
        <ion-item no-padding style="padding-left: 3px">
          <ion-select #kerfSA formControlName="surfaceAreaType" required style="
              width: 100%;
              max-width: 100%;
              padding-left: 8px;
              padding-right: 2px;
              font-size: 14px;
              height: 36px;
            " interface="popover" (ionChange)="updateResults()">
            <ion-option *ngFor="let speed of surfaceAreaRefs" [value]="speed.key">{{speed.alias}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col style="padding-top: 0">
        <ng-container *ngFor="let validation of validationMsgs.surfaceArea">
          <div class="error-message" style="margin-left: 11px"
            *ngIf="kerfLossForm.get('surfaceArea').hasError(validation.type) && (kerfLossForm.get('surfaceArea').dirty || kerfLossForm.get('surfaceArea').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </ion-col>
      <ion-col style="padding-top: 0">
        <ng-container>
          <div class="error-message" style="margin-left: 3px"
            *ngIf="kerfLossForm.get('surfaceAreaType').hasError(validationMsgs.surfaceAreaType.type) && (showErrors)">
            {{ validationMsgs.surfaceAreaType.message }}
          </div>
        </ng-container>
      </ion-col>
    </ion-row>

    <!-- <ion-row class="line-style"></ion-row> -->

    <ion-row class="button-row">
      <button class="clear-btn" (click)="clearResults()" type="button">
        {{'clear_btn' | translate}}
      </button>
      <button tabindex="3" class="calc-btn" [disabled]="calculateDisable" type="submit">
        {{calculateBtnText}}
      </button>
    </ion-row>
  </form>

  <!--  -->
  <div [style.opacity]="resultOpacity" *ngIf="showResult">
    <ion-row style="padding: 20px 0 8px 15px">
      <img src="./assets/imgs/results.png" style="height: 16px; width: 16px" />
      <label style="
          padding-left: 8px;
          padding-right: 16px;
          font-weight: bold;
          color: #0079c1;
        ">{{'results' | translate}}</label>
    </ion-row>
    <ion-row align-items-center class="result-title-bar">
      <ion-col no-padding class="result-title" style="text-align: left">{{'kerf_loss' | translate}}</ion-col>
    </ion-row>
    <ion-row *ngFor="let data of resultOutput" align-items-center class="result-list-outer"
      style="padding: 10px !important; border-bottom: solid 1px #ccc">
      <ion-col class="result-item result-span">
        {{round(data.value,3)}}
      </ion-col>
      <ion-col no-padding class="result-item" style="text-align: left; margin-left: 5px">{{data.label}}<sup>3</sup>
      </ion-col>
    </ion-row>
  </div>
</ion-content>

<calculator-button class="animated faster" [ngClass]=" isKeyBoard ? 'slideInUp' : 'slideOutDown' "
  [style.bottom]=" isKeyBoard ? '0px' : '-46px' " [style.height]="common.getCalcButtonHeight()" *ngIf="isKeyBoard"
  [pageRef]="this" [inputRef]="currentInputRef" [formRef]="currentFormRef">
</calculator-button>