<!--
  Generated template for the CoolantCalculatorPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <custom-side-menu calculatorName="coolant_title" visible="true" calculatorKey="coolant"></custom-side-menu>
</ion-header>
<ion-content [ngClass]=" isKeyBoard ? 'class-padding-bottom' : '' ">
  <div text-right class="mandate">{{'mandatory' | translate}}</div>

  <form class="switch-label-allignment" [formGroup]="coolantForm" (ngSubmit)="onSubmit(coolantForm.value)" novalidate>
    <ion-label class="input-label">{{'coolant_type_header' | translate}}</ion-label>
    <ion-item class="drop-down-item-style">
      <ion-label stacked class="input-float-style"><span style="color: #ff0021">* </span>
        {{ 'select_coolant_type' | translate }}
      </ion-label>
      <ion-select #coolantTypeSelect (ionChange)="updateDropDown()" formControlName="coolantType" required
        class="spinner-style" interface="popover">
        <ion-option *ngFor="let coolantType of coolantTypeListRefs" [value]="coolantType.value">
          {{coolantType.key|translate}} -
          {{coolantType.value}} gm/cc</ion-option>
      </ion-select>
    </ion-item>
    <div class="error-message"
      *ngIf="coolantForm.get('coolantType').hasError(validationMsgs.coolantType.type) && (showErrors)">
      {{ validationMsgs.coolantType.message }}
    </div>
    <ion-row class="line-style"></ion-row>
    <div style="padding-left: 16px">
      <div [ngClass]="isGwvNotPressure ? 'toggle-selected' : 'toggle-normal'" style="text-transform: uppercase">
        {{'gw_velocity' | translate}}
      </div>
      <div class="toggle-style">
        <ion-toggle formControlName="gwvOrPressure" (ionChange)="updateGwvPToggle()" required></ion-toggle>
      </div>
      <div [ngClass]="isGwvNotPressure ? 'toggle-normal' : 'toggle-selected'" style="text-transform: uppercase">
        {{'pressure' | translate}}
      </div>
    </div>
    <ion-row justify-content-center align-items-center no-padding style="padding-left: 15px; padding-right: 15px">
      <ion-col col-8 no-padding>
        <ion-item no-padding>
          <ion-label (click)="common.getCalc(this,'gwvOrPressureValue',coolantForm)" stacked class="input-float-style">
            <span style="color: #ff0021">* </span>{{'wheel_speed_ph' |
            translate}}&nbsp;&nbsp;<ion-icon name="ios-calculator" class="hideIcon"></ion-icon>
          </ion-label>

          <ion-input (focus)="common.setFocusInput(this,'gwvOrPressureValue',coolantForm)" (blur)="common.setBlur(this)"
            *ngIf="!this.platform.is('ios')" required (keypress)="telkeypress($event)" (keyup)="isValidNumber($event)"
            tabindex="1" (ionChange)="updateResults()" formControlName="gwvOrPressureValue" type="number"
            style="font-size: 14px; padding-left:8px;"></ion-input>

          <ion-input (focus)="common.setFocusInput(this,'gwvOrPressureValue',coolantForm)" (blur)="common.setBlur(this)"
            *ngIf="this.platform.is('ios')" required maxlength="9" (keypress)="telkeypress($event)"
            (keyup)="isValidNumber($event)" tabindex="1" (ionChange)="updateResults()"
            formControlName="gwvOrPressureValue" type="number" pattern="[0-9]*" inputmode="decimal"
            style="font-size: 14px; padding-left:8px;"></ion-input>

          <ion-input (focus)="common.setFocusInput(this,'gwvOrPressureValue',coolantForm)" (blur)="common.setBlur(this)"
            *ngIf="this.platform.is('ios')" required maxlength="9" (keypress)="telkeypress($event)" tabindex="1"
            (ionChange)="updateResults()" formControlName="gwvOrPressureValue" type="number" pattern="[0-9]*"
            inputmode="decimal" style="font-size: 14px; padding-left:8px;"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col align-self-center text-end col-3 no-padding>
        <div [ngClass]="isSfpmNotMps ? 'toggle-selected' : 'toggle-normal'">
          {{gwvPressureLeftLabel}}
        </div>
      </ion-col>
      <ion-col align-self-center text-center col-4 no-padding>
        <div class="toggle-style">
          <ion-toggle formControlName="gwvOrPressureUnitPref" (ionChange)="updateSubGwvPToggle()" required></ion-toggle>
        </div>
      </ion-col>
      <ion-col align-self-center text-start col-3 no-padding>
        <div [ngClass]="isSfpmNotMps ? 'toggle-normal' : 'toggle-selected'">
          {{gwvPressureRightLabel}}
        </div>
      </ion-col>
    </ion-row>
    <ng-container *ngFor="let validation of validationMsgs.gwpPressure">
      <div class="error-message"
        *ngIf="coolantForm.get('gwvOrPressureValue').hasError(validation.type) && (coolantForm.get('gwvOrPressureValue').dirty || coolantForm.get('gwvOrPressureValue').touched)">
        {{ validation.message }}
      </div>
    </ng-container>
    <ion-row class="line-style"></ion-row>

    <div style="padding-left: 16px">
      <div [ngClass]="isGPNotFlowrate ? 'toggle-selected' : 'toggle-normal'" style="text-transform: uppercase">
        {{'grinding_power' | translate}}
      </div>
      <div class="toggle-style">
        <ion-toggle formControlName="gpOrFlowrate" (ionChange)="updateGpCfToggle()" required></ion-toggle>
      </div>
      <div [ngClass]="isGPNotFlowrate ? 'toggle-normal' : 'toggle-selected'" style="text-transform: uppercase">
        {{'coolant_flowrate' | translate}}
      </div>
    </div>
    <ion-row no-padding justify-content-center align-items-center no-padding align-items-end
      style="padding-left: 15px; padding-right: 15px">
      <ion-col col-8 no-padding>
        <ion-item no-padding>
          <ion-label (click)="common.getCalc(this,'gpOrFlowrateValue',coolantForm)" stacked class="input-float-style">
            <span style="color: #ff0021">* </span>{{'wheel_speed_ph' |
            translate}}&nbsp;&nbsp;<ion-icon name="ios-calculator" class="hideIcon"></ion-icon>
          </ion-label>

          <ion-input (focus)="common.setFocusInput(this,'gpOrFlowrateValue',coolantForm)" (blur)="common.setBlur(this)"
            *ngIf="!this.platform.is('ios')" required maxlength="9" (keypress)="telkeypress($event)"
            (keyup)="isValidNumber($event)" tabindex="2" (ionChange)="updateResults()"
            formControlName="gpOrFlowrateValue" type="number" style="font-size: 14px; padding-left:8px;"></ion-input>
          <ion-input (focus)="common.setFocusInput(this,'gpOrFlowrateValue',coolantForm)" (blur)="common.setBlur(this)"
            *ngIf="this.platform.is('ios')" required maxlength="9" (keypress)="telkeypress($event)"
            (keyup)="isValidNumber($event)" tabindex="2" (ionChange)="updateResults()"
            formControlName="gpOrFlowrateValue" type="number" pattern="[0-9]*" inputmode="decimal"
            style="font-size: 14px; padding-left:8px;"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col align-self-center text-end col-3 no-padding>
        <div [ngClass]="isKwNotHp ? 'toggle-selected' : 'toggle-normal'"
          style="display: inline-block; vertical-align: middle; font-size: 14px">
          {{gpCfLeftLabel}}
        </div>
      </ion-col>
      <ion-col align-self-center text-center col-4 no-padding>
        <div style="display: inline-block; vertical-align: middle">
          <ion-toggle formControlName="gpOrFlowrateUnitPref" (ionChange)="updateSubGpCfToggle()" required></ion-toggle>
        </div>
      </ion-col>
      <ion-col align-self-center text-start col-3 no-padding>
        <div [ngClass]="isKwNotHp ? 'toggle-normal' : 'toggle-selected'"
          style="display: inline-block; vertical-align: middle; font-size: 14px">
          {{gpCfRightLabel}}
        </div>
      </ion-col>
    </ion-row>
    <ng-container *ngFor="let validation of validationMsgs.gpCFlowrate">
      <div class="error-message"
        *ngIf="coolantForm.get('gpOrFlowrateValue').hasError(validation.type) && (coolantForm.get('gpOrFlowrateValue').touched || coolantForm.get('gpOrFlowrateValue').dirty)">
        {{ validation.message }}
      </div>
    </ng-container>
    <ion-row class="line-style"></ion-row>

    <ion-row no-padding style="padding-left: 15px; padding-right: 15px; margin-top: 15px">
      <label style="
          font-size: 14px;
          font-weight: bold;
          display: inline-block;
          vertical-align: middle;
          margin-right: 4px;
        ">{{'gwcw' | translate}}
      </label>
    </ion-row>

    <ion-row justify-content-center align-items-center no-padding align-items-end
      style="padding-left: 15px; padding-right: 15px; margin-top: 15px">
      <ion-col col-8 no-padding>
        <ion-item no-padding>
          <ion-label (click)="common.getCalc(this,'gwcwValue',coolantForm)" stacked class="input-float-style"><span
              style="color: #ff0021">* </span>{{'wheel_speed_ph' |
            translate}}&nbsp;&nbsp;<ion-icon name="ios-calculator" class="hideIcon"></ion-icon>
          </ion-label>

          <ion-input (focus)="common.setFocusInput(this,'gwcwValue',coolantForm)" (blur)="common.setBlur(this)"
            *ngIf="!this.platform.is('ios')" required maxlength="9" (keypress)="telkeypress($event)"
            (keyup)="isValidNumber($event)" tabindex="3" (ionChange)="updateResults()" formControlName="gwcwValue"
            type="number" style="font-size: 14px; padding-left:8px;"></ion-input>
          <ion-input (focus)="common.setFocusInput(this,'gwcwValue',coolantForm)" (blur)="common.setBlur(this)"
            *ngIf="this.platform.is('ios')" required maxlength="9" (keypress)="telkeypress($event)"
            (keyup)="isValidNumber($event)" tabindex="3" (ionChange)="updateResults()" formControlName="gwcwValue"
            type="number" pattern="[0-9]*" inputmode="decimal" style="font-size: 14px; padding-left:8px;"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col align-self-center text-end col-3 no-padding>
        <div [ngClass]="isMmNotIn ? 'toggle-selected' : 'toggle-normal'"
          style="display: inline-block; vertical-align: middle; font-size: 14px">
          mm
        </div>
      </ion-col>
      <ion-col align-self-center text-center col-4 no-padding>
        <div style="display: inline-block; vertical-align: middle">
          <ion-toggle formControlName="gwcweUnitPref" (ionChange)="updateGwcwToggle()" required></ion-toggle>
        </div>
      </ion-col>
      <ion-col align-self-center text-start col-3 no-padding>
        <div [ngClass]="isMmNotIn ? 'toggle-normal' : 'toggle-selected'"
          style="display: inline-block; vertical-align: middle; font-size: 14px">
          in
        </div>
      </ion-col>
    </ion-row>
    <ng-container *ngFor="let validation of validationMsgs.gwcWidth">
      <div class="error-message"
        *ngIf="coolantForm.get('gwcwValue').hasError(validation.type) && (coolantForm.get('gwcwValue').dirty || coolantForm.get('gwcwValue').touched)">
        {{ validation.message }}
      </div>
    </ng-container>

    <ion-row class="line-style"></ion-row>
    <ion-row class="btns-row">
      <button class="clear-btn" (click)="clearResults()" type="button">
        {{'clear_btn' | translate}}
      </button>
      <button tabindex="4" class="calc-btn" [disabled]="calculateDisable" type="submit">
        {{calculateBtnText}}
      </button>
    </ion-row>
  </form>
  <div [style.opacity]="resultOpacity" *ngIf="showResult" style="margin-top: 20px; margin-bottom: 20px">
    <ion-row style="padding-bottom: 8px; padding-left: 15px">
      <img src="./assets/imgs/results.png" style="height: 16px; width: 16px" />
      <label style="
          padding-left: 8px;
          padding-right: 16px;
          font-weight: bold;
          color: #0079c1;
        ">{{'results' | translate}}</label>
    </ion-row>
    <ion-row class="bg-gray" style="padding-left: 8px; padding-right: 8px; padding-right: 8px">
      <ion-col align-self-center col-6 style="font-size: 12px; font-weight: bold; color: black">{{'pump_req' |
        translate}}</ion-col>
      <ion-col align-self-center col-4.5 style="font-size: 12px; font-weight: bold; color: black">{{'KW' | translate}}
      </ion-col>
      <ion-col align-self-center col-4.5 style="font-size: 12px; font-weight: bold; color: black">{{'HP' | translate}}
      </ion-col>
      <ion-col align-self-center col-3 style="font-size: 12px; font-weight: bold; color: black">{{'head_feet' |
        translate}}</ion-col>
    </ion-row>
    <ion-row style="margin: 8px">
      <ion-col align-self-center class="table-values" col-6 style="font-size: 13px; color: black; padding-left: 5px"
        no-padding>{{'pump_power' | translate}}
        <ion-icon style="zoom: 1" name="information-circle" (click)="pumpPowerPopUp()"></ion-icon>
      </ion-col>
      <ion-col align-self-center class="table-values" col-4.5 style="font-size: 13px; color: black">
        {{round(resultObj?.resultPowerRequirements?.pumpPowerKW, 1)}}</ion-col>
      <ion-col align-self-center class="table-values" col-4.5 style="font-size: 13px; color: black">
        {{round(resultObj?.resultPowerRequirements?.pumpPowerHP, 1)}}</ion-col>
      <ion-col align-self-center class="table-values" col-3 style="font-size: 13px; color: black">
        {{round(resultObj?.resultPowerRequirements?.pumpPowerHeadFeet,
        0)}}</ion-col>
    </ion-row>
    <ion-row style="
        background-color: #dbdbdb;
        margin-top: 8px;
        padding-left: 8px;
        padding-right: 8px;
      " no-padding>
      <ion-col align-self-center col-6 style="font-size: 12px; font-weight: bold; color: black">{{'nozzle_req' |
        translate}}</ion-col>
      <ion-col align-self-center col-4.5 style="font-size: 12px; font-weight: bold; color: black">mm</ion-col>
      <ion-col align-self-center col-4.5 style="font-size: 12px; font-weight: bold; color: black">in</ion-col>
      <ion-col align-self-center col-3 style="font-size: 12px; font-weight: bold; color: black"></ion-col>
    </ion-row>
    <ion-row style="margin: 8px">
      <ion-col col-6 style="
          font-size: 13px;
          color: black;
          display: flex !important;
          align-content: center !important;
          align-items: center !important;
        "><img src="./assets/imgs/diameter.png" style="height: 16px; width: 16px; margin-right: 8px" />{{'diameter' |
        translate}}</ion-col>
      <ion-col col-4.5 style="font-size: 13px; color: black">{{round(resultObj?.resultNozzleDiameter?.nozzleAreaMM, 2)}}
      </ion-col>
      <ion-col col-4.5 style="font-size: 13px; color: black">{{round(resultObj?.resultNozzleDiameter?.nozzleDiameterIn,
        3)}}</ion-col>
      <ion-col col-3 style="font-size: 13px; color: black"></ion-col>
    </ion-row>
    <ion-row style="margin: 8px">
      <ion-col col-6 style="
          font-size: 13px;
          color: black;
          display: flex !important;
          align-content: center !important;
          align-items: center !important;
        "><img src="./assets/imgs/width.png" style="height: 16px; width: 16px; margin-right: 8px" />{{'width' |
        translate}}</ion-col>
      <ion-col col-4.5 style="font-size: 13px; color: black">
        {{round(resultObj?.resultGrindingWheelContactWidth?.grindingWheelContactWidthMM,
        2)}}</ion-col>
      <ion-col col-4.5 style="font-size: 13px; color: black">
        {{round(resultObj?.resultGrindingWheelContactWidth?.grindingWheelContactWidthIn,
        3)}}</ion-col>
      <ion-col col-3 style="font-size: 13px; color: black"></ion-col>
    </ion-row>
    <ion-row style="margin: 8px">
      <ion-col col-6 style="
          font-size: 13px;
          color: black;
          display: flex !important;
          align-content: center !important;
          align-items: center !important;
        "><img src="./assets/imgs/height.png" style="height: 16px; width: 16px; margin-right: 8px" />{{'height' |
        translate}}</ion-col>
      <ion-col col-4.5 style="font-size: 13px; color: black">
        {{round(resultObj?.resultGrindingWheelContactHeight?.grindingWheelContactHeightMM,
        2)}}</ion-col>
      <ion-col col-4.5 style="font-size: 13px; color: black">
        {{round(resultObj?.resultGrindingWheelContactHeight?.grindingWheelContactHeightIn,
        3)}}</ion-col>
      <ion-col col-3 style="font-size: 13px; color: black"></ion-col>
    </ion-row>
    <ion-row style="margin: 8px">
      <ion-col col-6 style="
          font-size: 13px;
          color: black;
          display: flex !important;
          align-content: center !important;
          align-items: center !important;
        "><img src="./assets/imgs/area.png" style="height: 16px; width: 16px; margin-right: 8px" />{{'area' |
        translate}}</ion-col>
      <ion-col col-4.5 style="font-size: 13px; color: black">{{round(resultObj?.resultNozzleArea?.nozzleAreaMM, 2)}}
      </ion-col>
      <ion-col col-4.5 style="font-size: 13px; color: black">{{round(resultObj?.resultNozzleArea?.nozzleAreaIn, 3)}}
      </ion-col>
      <ion-col col-3 style="font-size: 13px; color: black"></ion-col>
    </ion-row>
    <ion-row style="background-color: #dbdbdb; padding-left: 8px; padding-right: 8px">
      <ion-col align-self-center col-6 style="font-size: 12px; font-weight: bold; color: black">
        {{(isGwvNotPressureResult ? 'pressure_req' : 'gwv_req') |
        translate}}</ion-col>
      <ion-col align-self-center col-4.5 style="font-size: 12px; font-weight: bold; color: black">
        {{isGwvNotPressureResult ? "Bar" : "SFPM"}}</ion-col>
      <ion-col align-self-center col-4.5 style="font-size: 12px; font-weight: bold; color: black">
        {{isGwvNotPressureResult ? "Psi" : "m/Sec"}}</ion-col>
      <ion-col align-self-center col-3 style="font-size: 12px; font-weight: bold; color: black"></ion-col>
    </ion-row>
    <ion-row style="margin: 8px">
      <ion-col align-self-center class="table-values" col-6 style="text-transform: capitalize">{{(isGwvNotPressureResult
        ? 'pressure' : 'gw_velocity') |
        translate}}</ion-col>
      <ion-col align-self-center class="table-values" col-4.5>{{isGwvNotPressureResult ?
        round(resultObj?.resultGWVelocityPressure?.pressureBar, 2) :
        round(resultObj?.resultGWVelocityPressure?.grindingWheelVelocitySFPM,
        0)}}
      </ion-col>
      <ion-col align-self-center class="table-values" col-4.5>{{isGwvNotPressureResult ?
        round(resultObj?.resultGWVelocityPressure?.pressurePsi, 2) :
        round(resultObj?.resultGWVelocityPressure?.grindingWheelVelocityMPS,
        0)}}
      </ion-col>
      <ion-col align-self-center class="table-values" col-3></ion-col>
    </ion-row>
    <ion-row style="background-color: #dbdbdb; padding-left: 8px; padding-right: 8px">
      <ion-col align-self-center col-6 style="font-size: 12px; font-weight: bold; color: black">{{(isGPNotFlowrateResult
        ? 'flow_req' : 'gp_req') |
        translate}}</ion-col>
      <ion-col align-self-center col-4.5 style="font-size: 12px; font-weight: bold; color: black">
        {{isGPNotFlowrateResult ? "l/min" : "KW"}}</ion-col>
      <ion-col align-self-center col-4.5 style="font-size: 12px; font-weight: bold; color: black">
        {{isGPNotFlowrateResult ? "GPM" : "HP"}}</ion-col>
      <ion-col align-self-center col-3 style="font-size: 12px; font-weight: bold; color: black"></ion-col>
    </ion-row>
    <ion-row style="margin: 8px">
      <ion-col align-self-center class="table-values" col-6 style="text-transform: capitalize">{{(isGPNotFlowrateResult
        ? 'coolant_flowrate' : 'grinding_power') |
        translate}}</ion-col>
      <ion-col align-self-center class="table-values" col-4.5>{{isGPNotFlowrateResult ?
        round(resultObj?.resultGrindingPowerAndCoolantFlowrate?.coolantFlowrateIMin,
        0) :
        round(resultObj?.resultGrindingPowerAndCoolantFlowrate?.grindingPowerKW,
        1)}}
      </ion-col>
      <ion-col align-self-center class="table-values" col-4.5>{{isGPNotFlowrateResult ?
        round(resultObj?.resultGrindingPowerAndCoolantFlowrate?.coolantFlowrateGPM,
        1) :
        round(resultObj?.resultGrindingPowerAndCoolantFlowrate?.grindingPowerHP,
        1)}}
      </ion-col>
      <ion-col align-self-center class="table-values" col-3></ion-col>
    </ion-row>
  </div>
</ion-content>

<calculator-button class="animated faster" [ngClass]=" isKeyBoard ? 'slideInUp' : 'slideOutDown' "
  [style.bottom]=" isKeyBoard ? '0px' : '-46px' " [style.height]="common.getCalcButtonHeight()" *ngIf="isKeyBoard"
  [pageRef]="this" [inputRef]="currentInputRef" [formRef]="currentFormRef">
</calculator-button>