page-coolant-calculator {
  .table-header {
    color: black;
    font-size: 13px;
    font-weight: bold;
  }
  .table-values {
    color: black;
    font-size: 13px;
    vertical-align: middle;
  }

  @media only screen and (max-width: 320px) {
    .switch-label-allignment * {
      font-size: 12px !important;
    }
  }

  .parent {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .child {
    display: inline-block;
  }

  .col,
  .row {
    position: initial !important;
  }
}
