page-area-conversion {
  .swiper-slide {
    text-align: left !important;
    font-size: inherit !important;
    overflow-y: scroll !important;
    -webkit-overflow-scrolling: auto;
  }

  .divpssheader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
  }

  .divslideoutside {
    position: absolute;
    bottom: 10px;
    left: 0px;
    right: 0px;
  }

  .psslide {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
  }

  .divbtnpssheader {
    text-align: center;
    width: 25%;
    margin: 0;
    padding: 0;
    float: left;
    border: solid 0px #f0eceb;
    background: #f0eceb;
    border-bottom: solid 3px #f0eceb;
    border-top: solid 3px #f0eceb;
  }

  .divbtnpssheaderactive {
    border-bottom: solid 3px #005eb8;
  }

  .divbtnpssheaderactive .btnpssheader {
    color: #005eb8 !important;
    font-weight: bold !important;
  }

  .btnpssheader {
    height: 30px;
    width: 100%;
    margin: 0;
    padding: 0;
    box-shadow: none;
    border-radius: 0px;
    // border: solid 3px #f0eceb;
    background: #f0eceb;
    color: #aaa9a7;
    font-size: 16px;
    font-weight: bold;
  }

  .divslidecontent {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0px;
    right: 0px;
  }
  .lblfscsmt {
    margin-top: 40%;
  }

  .col,
  .row {
    position: initial !important;
  }

  .slide-zoom {
    text-align: left !important;
  }
  .result-span {
    text-align: right;
    font-weight: bold;
    font-size: 13px;
    padding-right: 5px;
  }
  .input-float-style {
    margin: 0 !important;
    padding: 0 !important;
  }

  // .text-input-ios {
  //   position: fixed !important;
  // }

  .button-ios.activated,
  .button-md.activated {
    background-color: transparent !important;
  }
}
