<ion-header>
  <custom-side-menu calculatorName="area_conversion" visible="false" calculatorKey="area"></custom-side-menu>
</ion-header>

<ion-content [ngClass]=" isKeyBoard ? 'class-padding-bottom' : '' ">
  <div id="area-conversion-header" class="divpssheader">
    <div class="divbtnpssheader" [ngClass]="psslideactive[0]" (click)="psSlideGoto(0)">
      <span style="word-spacing: 200px;">{{'round_bar' | translate}}</span>
      <button ion-button class="btnpssheader" touchactiond><img src="./assets/imgs/round.png"
          style="height:36px;width:36px;"></button>
    </div>
    <div class="divbtnpssheader" [ngClass]="psslideactive[1]" (click)="psSlideGoto(1)">
      <span style="word-spacing: 200px;">{{'rectangular_bar' | translate}}</span>
      <button ion-button class="btnpssheader" touchactiond><img src="./assets/imgs/rectangular.png"
          style="height:36px;width:36px;"></button>
    </div>
    <div class="divbtnpssheader" [ngClass]="psslideactive[2]" (click)="psSlideGoto(2)">
      <span style="word-spacing: 200px;">{{'round_tube' | translate}}</span>
      <button ion-button class="btnpssheader" touchactiond><img src="./assets/imgs/round_tube.png"
          style="height:36px;width:36px;"></button>
    </div>
    <div class="divbtnpssheader" [ngClass]="psslideactive[3]" (click)="psSlideGoto(3)">
      <span style="word-spacing: 200px;">{{'rectangular_tube' | translate}}</span>
      <button ion-button class="btnpssheader" touchactiond><img src="./assets/imgs/rectangular_tube.png"
          style="height:36px;width:36px;"></button>
    </div>
  </div>

  <div class="divslideoutside" [style.top.px]="toppx">
    <ion-slides class="psslide" #psslides pager="false" (ionSlideDidChange)="onPSSlideChange($event)">
      <!-- 1 -->
      <ion-slide>
        <div class="divslidecontent">
          <div text-right class="mandate">{{'mandatory' | translate}}</div>
          <form [formGroup]="roundBarForm" (ngSubmit)="onSubmitRoundBarForm(roundBarForm.value)" novalidate>
            <ion-item class="drop-down-item-style">
              <ion-label style="padding-left: 0px;" stacked class="input-float-style"><span style="color: #ff0021;">*
                </span>{{'select_input_type' | translate}}</ion-label>
              <ion-select #inputroundbarselect [(ngModel)]="selectedItemRoundTube" (ionChange)="updateResultsRoundBar()"
                required formControlName="inputRoundBarType" class="spinner-style" interface="popover">
                <ion-option *ngFor="let type of inputTypeList" [value]="type.key">{{type.alias}}</ion-option>
              </ion-select>
            </ion-item>
            <div class="error-message"
              *ngIf="roundBarForm.get('inputRoundBarType').hasError(validationMsgs.inputRoundBarType.type) && (showErrors)">
              {{ validationMsgs.inputRoundBarType.message }}
            </div>
            <p></p>
            <ion-row justify-content-center align-items-center no-padding
              style="padding-left: 15px;padding-right: 15px;">
              <ion-col no-padding>
                <ion-item no-padding>
                  <ion-label stacked class="input-float-style"><span style="color: #ff0021;">*
                    </span>{{'enter_diameter' | translate}}
                    <span style="margin:0;font-weight: normal;color:#949ca1;font-size: 12px;"
                      [innerHTML]="!!selectedItemRoundTube?'('+selectedItemRoundTube+')':''"></span>
                  </ion-label>
                  <ion-input (focus)="common.setFocusInput(this,'roundBarDia',roundBarForm)"
                    (blur)="common.setBlur(this)" *ngIf="!this.platform.is('ios')" required
                    (keypress)="telkeypress($event)" (keyup)="isValidNumber($event)" tabindex="1"
                    (ionChange)="updateResultsRoundBar()" type="number" formControlName="roundBarDia"
                    style="font-size: 14px; "></ion-input>
                  <ion-input (focus)="common.setFocusInput(this,'roundBarDia',roundBarForm)"
                    (blur)="common.setBlur(this)" *ngIf="this.platform.is('ios')" required maxlength="9"
                    (keypress)="telkeypress($event)" tabindex="1" (ionChange)="updateResultsRoundBar()"
                    formControlName="roundBarDia" type="number" pattern="[0-9]*" inputmode="decimal"
                    style="font-size: 14px; "></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ng-container *ngFor="let validation of validationMsgs.roundBarDia">
              <div class="error-message"
                *ngIf="roundBarForm.get('roundBarDia').hasError(validation.type) && ((roundBarForm.get('roundBarDia').dirty || roundBarForm.get('roundBarDia').touched))">
                {{ validation.message }}
              </div>
            </ng-container>
            <p></p>
            <ion-row class="btns-row">
              <button class="clear-btn" (click)="clearResultsRoundBar()" type="button">
                {{'clear_btn' | translate}}
              </button>
              <button class="calc-btn" [disabled]="calculateDisableRoundBar" type="submit">
                {{calculateBtnTextRoundBar}}
              </button>
            </ion-row>
          </form>
          <!--  -->
          <div [style.opacity]="resultOpacity" *ngIf="showResultRoundBar">
            <ion-row style="padding: 20px 0 8px 15px">
              <img src="./assets/imgs/results.png" style="height: 16px; width: 16px" />
              <label style="
                  padding-left: 8px;
                  padding-right: 16px;
                  font-weight: bold;
                  color: #0079c1;
                ">{{'results' | translate}}</label>
            </ion-row>
            <ion-row align-items-center class="result-title-bar">
              <ion-col no-padding class="result-title" style="text-align: left">{{'area_conversion' | translate}}
              </ion-col>
            </ion-row>
            <ion-row *ngFor="let data of roundBarOutput" align-items-center class="result-list-outer"
              style="padding: 10px !important; border-bottom: solid 1px #ccc">
              <ion-col class="result-item result-span">
                {{round(data.value,3)}}
              </ion-col>
              <ion-col no-padding class="result-item" style="text-align: left; margin-left: 5px">
                {{data.label}}<sup>2</sup></ion-col>
            </ion-row>
          </div>
        </div>
      </ion-slide>
      <!--  -->

      <!-- 2 -->
      <ion-slide>
        <div class="divslidecontent">
          <div text-right class="mandate">{{'mandatory' | translate}}</div>
          <form [formGroup]="rectangularBarForm" (ngSubmit)="onSubmitRectBarForm(rectangularBarForm.value)" novalidate>
            <ion-item class="drop-down-item-style">
              <ion-label style="padding-left: 0px" stacked class="input-float-style"><span style="color: #ff0021">*
                </span>{{'select_input_type' |
                translate}}</ion-label>
              <ion-select #inputrectangularbarselect [(ngModel)]="selectedItemRectBar"
                (ionChange)="updateResultsRectBar()" required formControlName="inputRectangularBarType"
                class="spinner-style" interface="popover">
                <ion-option *ngFor="let type of inputTypeList" [value]="type.key">{{type.alias}}</ion-option>
              </ion-select>
            </ion-item>
            <div class="error-message"
              *ngIf="rectangularBarForm.get('inputRectangularBarType').hasError(validationMsgsForRectBar.inputRectangularBarType.type) && (showErrorsRectBar)">
              {{ validationMsgsForRectBar.inputRectangularBarType.message }}
            </div>
            <p></p>
            <ion-row justify-content-center align-items-center no-padding
              style="padding-left: 15px; padding-right: 15px">
              <ion-col col-9 no-padding>
                <ion-item no-padding>
                  <ion-label (click)="common.getCalc(this,'rectBarLength',rectangularBarForm)" stacked
                    class="input-float-style"><span style="color: #ff0021">* </span>{{'enter_length' |
                    translate}}
                    <span style="
                      margin: 0;
                      font-weight: normal;
                      color: #949ca1;
                      font-size: 12px;
                    " [innerHTML]="!!selectedItemRectBar?'('+selectedItemRectBar+')':''"></span>&nbsp;&nbsp;<ion-icon
                      name="ios-calculator" class="hideIcon"></ion-icon>
                  </ion-label>
                  <ion-input (focus)="common.setFocusInput(this,'rectBarLength',rectangularBarForm)"
                    (blur)="common.setBlur(this)" *ngIf="!this.platform.is('ios')" required
                    (keypress)="telkeypress($event)" (keyup)="isValidNumber($event)" tabindex="1"
                    (ionChange)="updateResultsRectBar()" type="number" formControlName="rectBarLength"
                    style="font-size: 14px; "></ion-input>
                  <ion-input (focus)="common.setFocusInput(this,'rectBarLength',rectangularBarForm)"
                    (blur)="common.setBlur(this)" *ngIf="this.platform.is('ios')" required maxlength="9"
                    (keypress)="telkeypress($event)" tabindex="1" (ionChange)="updateResultsRectBar()"
                    formControlName="rectBarLength" type="number" pattern="[0-9]*" inputmode="decimal"
                    style="font-size: 14px; "></ion-input>
                </ion-item>
              </ion-col>
              <ion-col col-9 no-padding style="padding-left: 5px">
                <ion-item no-padding>
                  <ion-label (click)="common.getCalc(this,'rectBarWidth',rectangularBarForm)" stacked
                    class="input-float-style"><span style="color: #ff0021">* </span>{{'enter_width' |
                    translate}}
                    <span style="
                      margin: 0;
                      font-weight: normal;
                      color: #949ca1;
                      font-size: 12px;
                    " [innerHTML]="!!selectedItemRectBar?'('+selectedItemRectBar+')':''"></span>&nbsp;&nbsp;<ion-icon
                      name="ios-calculator" class="hideIcon"></ion-icon>
                  </ion-label>

                  <ion-input (focus)="common.setFocusInput(this,'rectBarWidth',rectangularBarForm)"
                    (blur)="common.setBlur(this)" *ngIf="!this.platform.is('ios')" required
                    (keypress)="telkeypress($event)" (keyup)="isValidNumber($event)" tabindex="1"
                    (ionChange)="updateResultsRectBar()" type="number" formControlName="rectBarWidth"
                    style="font-size: 14px; "></ion-input>

                  <ion-input (focus)="common.setFocusInput(this,'rectBarWidth',rectangularBarForm)"
                    (blur)="common.setBlur(this)" *ngIf="this.platform.is('ios')" required maxlength="9"
                    (keypress)="telkeypress($event)" tabindex="1" (ionChange)="updateResultsRectBar()"
                    formControlName="rectBarWidth" type="number" pattern="[0-9]*" inputmode="decimal"
                    style="font-size: 14px; "></ion-input>

                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-9>
                <ng-container *ngFor="let validation of validationMsgsForRectBar.rectBarLength">
                  <div class="error-message"
                    *ngIf="rectangularBarForm.get('rectBarLength').hasError(validation.type) && ((rectangularBarForm.get('rectBarLength').dirty || rectangularBarForm.get('rectBarLength').touched))">
                    {{ validation.message }}
                  </div>
                </ng-container>
              </ion-col>
              <ion-col col-9>
                <ng-container *ngFor="let validation of validationMsgsForRectBar.rectBarWidth">
                  <div class="error-message"
                    *ngIf="rectangularBarForm.get('rectBarWidth').hasError(validation.type) && ((rectangularBarForm.get('rectBarWidth').dirty || rectangularBarForm.get('rectBarWidth').touched))">
                    {{ validation.message }}
                  </div>
                </ng-container>
              </ion-col>
            </ion-row>
            <p></p>
            <ion-row class="btns-row">
              <button class="clear-btn" (click)="clearResultsRectBar()" type="button">
                {{'clear_btn' | translate}}
              </button>
              <button class="calc-btn" [disabled]="calculateDisableRectBar" type="submit">
                {{calculateBtnTextRectBar}}
              </button>
            </ion-row>
          </form>
          <!-- *ngIf="showResult" -->
          <div [style.opacity]="resultOpacity" *ngIf="showResultRectBar">
            <ion-row style="padding: 20px 0 8px 15px">
              <img src="./assets/imgs/results.png" style="height: 16px; width: 16px" />
              <label style="
                  padding-left: 8px;
                  padding-right: 16px;
                  font-weight: bold;
                  color: #0079c1;
                ">{{'results' | translate}}</label>
            </ion-row>
            <ion-row align-items-center class="result-title-bar">
              <ion-col no-padding class="result-title" style="text-align: left">{{'area_conversion' | translate}}
              </ion-col>
            </ion-row>
            <ion-row *ngFor="let data of rectBarOutput" align-items-center class="result-list-outer"
              style="padding: 10px !important; border-bottom: solid 1px #ccc">
              <ion-col class="result-item result-span">
                {{round(data.value,2)}}
              </ion-col>
              <ion-col no-padding class="result-item" style="text-align: left; margin-left: 5px">
                {{data.label}}<sup>2</sup></ion-col>
            </ion-row>
          </div>
        </div>
      </ion-slide>
      <!-- 3 -->
      <ion-slide>
        <div class="divslidecontent">
          <div text-right class="mandate">{{'mandatory' | translate}}</div>
          <form [formGroup]="roundTubeForm" (ngSubmit)="onSubmitRoundTubeForm(roundTubeForm.value)" novalidate>
            <ion-item class="drop-down-item-style">
              <ion-label style="padding-left: 0px" stacked class="input-float-style"><span style="color: #ff0021">*
                </span>{{'select_input_type' |
                translate}}</ion-label>
              <ion-select #inputroundTubeselect [(ngModel)]="selectedItemRoundBar"
                (ionChange)="updateResultsRoundTube()" required formControlName="inputRoundTubeType"
                class="spinner-style" interface="popover">
                <ion-option *ngFor="let type of inputTypeList" [value]="type.key">{{type.alias}}</ion-option>
              </ion-select>
            </ion-item>
            <div class="error-message"
              *ngIf="roundTubeForm.get('inputRoundTubeType').hasError(validationMsgsForRoundTube.inputRoundTubeType.type) && (showErrorsRoundTube)">
              {{ validationMsgsForRoundTube.inputRoundTubeType.message }}
            </div>
            <p></p>
            <ion-row justify-content-center align-items-center no-padding
              style="padding-left: 15px; padding-right: 15px">
              <ion-col col-9 no-padding>

                <ion-item no-padding>
                  <ion-label (click)="common.getCalc(this,'roundTubeOutDia',roundTubeForm)" stacked
                    class="input-float-style" style="margin: 0; padding: 0">
                    <!-- <span style="color: #ff0021;">*
                    </span><span>{{'enter_outside_diameter' | translate}} {{!!selectedItemRoundBar?'('+selectedItemRoundBar+')':''}}</span>  -->
                    <!-- <span style="margin:0;font-weight: normal;color:#949ca1;font-size: 12px;"
                      [innerHTML]="!!selectedItemRoundBar?'('+selectedItemRoundBar+')':''"></span> -->
                    <ion-row style="flex-wrap: nowrap; white-space: normal">
                      <ion-col col-1 style="padding: 0"><span style="color: #ff0021">*</span></ion-col>
                      <ion-col col-17 style="padding: 0">
                        <span>{{'enter_outside_diameter' | translate}}
                          {{!!selectedItemRoundBar?'('+selectedItemRoundBar+')':''}}&nbsp;&nbsp;<ion-icon
                            name="ios-calculator" class="hideIcon"></ion-icon></span>
                      </ion-col>
                    </ion-row>
                  </ion-label>

                  <ion-input (focus)="common.setFocusInput(this,'roundTubeOutDia',roundTubeForm)"
                    (blur)="common.setBlur(this)" *ngIf="!this.platform.is('ios')" required
                    (keypress)="telkeypress($event)" (keyup)="isValidNumber($event)" tabindex="1"
                    (ionChange)="updateResultsRoundTube()" type="number" formControlName="roundTubeOutDia"
                    style="font-size: 14px; "></ion-input>

                  <ion-input (focus)="common.setFocusInput(this,'roundTubeOutDia',roundTubeForm)"
                    (blur)="common.setBlur(this)" *ngIf="this.platform.is('ios')" required maxlength="9"
                    (keypress)="telkeypress($event)" tabindex="1" (ionChange)="updateResultsRoundTube()"
                    formControlName="roundTubeOutDia" type="number" pattern="[0-9]*" inputmode="decimal"
                    style="font-size: 14px; "></ion-input>
                </ion-item>
              </ion-col>
              <ion-col col-9 no-padding style="padding-left: 5px">

                <ion-item no-padding>
                  <ion-label (click)="common.getCalc(this,'roundTubeInDia',roundTubeForm)" stacked
                    class="input-float-style" style="margin: 0; padding: 0">
                    <!-- <span style="color: #ff0021;">*
                </span>{{'enter_inside_diameter' | translate}}  <span style="margin:0;font-weight: normal;color:#949ca1;font-size: 12px;"
                  [innerHTML]="!!selectedItemRoundBar?'('+selectedItemRoundBar+')':''"></span> -->
                    <ion-row style="flex-wrap: nowrap; white-space: normal">
                      <ion-col col-1 style="padding: 0"><span style="color: #ff0021">*</span></ion-col>
                      <ion-col col-17 style="padding: 0">
                        <span>{{'enter_inside_diameter' | translate}}
                          {{!!selectedItemRoundBar?'('+selectedItemRoundBar+')':''}}&nbsp;&nbsp;<ion-icon
                            name="ios-calculator" class="hideIcon"></ion-icon></span>
                      </ion-col>
                    </ion-row>
                  </ion-label>

                  <ion-input (focus)="common.setFocusInput(this,'roundTubeInDia',roundTubeForm)"
                    (blur)="common.setBlur(this)" *ngIf="!this.platform.is('ios')" required
                    (keypress)="telkeypress($event)" (keyup)="isValidNumber($event)" tabindex="1"
                    (ionChange)="updateResultsRoundTube()" type="number" formControlName="roundTubeInDia"
                    style="font-size: 14px; "></ion-input>

                  <ion-input (focus)="common.setFocusInput(this,'roundTubeInDia',roundTubeForm)"
                    (blur)="common.setBlur(this)" *ngIf="this.platform.is('ios')" required maxlength="9"
                    (keypress)="telkeypress($event)" tabindex="1" (ionChange)="updateResultsRoundTube()"
                    formControlName="roundTubeInDia" type="number" pattern="[0-9]*" inputmode="decimal"
                    style="font-size: 14px; ">
                  </ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-9>
                <ng-container *ngFor="let validation of validationMsgsForRoundTube.roundTubeOutDia">
                  <div class="error-message"
                    *ngIf="roundTubeForm.get('roundTubeOutDia').hasError(validation.type) && ((roundTubeForm.get('roundTubeOutDia').dirty || roundTubeForm.get('roundTubeOutDia').touched))">
                    {{ validation.message }}
                  </div>
                </ng-container>
              </ion-col>
              <ion-col col-9>
                <ng-container *ngFor="let validation of validationMsgsForRoundTube.roundTubeInDia">
                  <div class="error-message"
                    *ngIf="roundTubeForm.get('roundTubeInDia').hasError(validation.type) && ((roundTubeForm.get('roundTubeInDia').dirty || roundTubeForm.get('roundTubeInDia').touched))">
                    {{ validation.message }}
                  </div>
                </ng-container>
              </ion-col>
            </ion-row>
            <p></p>
            <ion-row class="btns-row">
              <button class="clear-btn" (click)="clearResultsRoundTube()" type="button">
                {{'clear_btn' | translate}}
              </button>
              <button class="calc-btn" [disabled]="calculateDisableRoundTube" type="submit">
                {{calculateBtnTextRoundTube}}
              </button>
            </ion-row>
          </form>
          <div [style.opacity]="resultOpacity" *ngIf="showResultRoundTube">
            <ion-row style="padding: 20px 0 8px 15px">
              <img src="./assets/imgs/results.png" style="height: 16px; width: 16px" />
              <label style="
                  padding-left: 8px;
                  padding-right: 16px;
                  font-weight: bold;
                  color: #0079c1;
                ">{{'results' | translate}}</label>
            </ion-row>
            <ion-row align-items-center class="result-title-bar">
              <ion-col no-padding class="result-title" style="text-align: left">{{'area_conversion' | translate}}
              </ion-col>
            </ion-row>
            <ion-row *ngFor="let data of roundTubeOutput" align-items-center class="result-list-outer"
              style="padding: 10px !important; border-bottom: solid 1px #ccc">
              <ion-col class="result-item result-span">
                {{round(data.value,2)}}
              </ion-col>
              <ion-col no-padding class="result-item" style="text-align: left; margin-left: 5px">
                {{data.label}}<sup>2</sup></ion-col>
            </ion-row>
          </div>
        </div>
      </ion-slide>
      <!-- 4 -->
      <ion-slide>
        <div class="divslidecontent">
          <div text-right class="mandate">{{'mandatory' | translate}}</div>
          <form [formGroup]="rectangularTubeForm" (ngSubmit)="onSubmitRectTubeForm(rectangularTubeForm.value)"
            novalidate>
            <ion-item class="drop-down-item-style">
              <ion-label style="padding-left: 0px" stacked class="input-float-style"><span style="color: #ff0021">*
                </span>{{'select_input_type' |
                translate}}
              </ion-label>
              <ion-select #inputrectangulartubeselect [(ngModel)]="selectedItemRectTube"
                (ionChange)="updateResultsRectTube()" required formControlName="inputRectangularTubeType"
                class="spinner-style" interface="popover">
                <ion-option *ngFor="let type of inputTypeList" [value]="type.key">{{type.alias}}</ion-option>
              </ion-select>
            </ion-item>
            <div class="error-message"
              *ngIf="rectangularTubeForm.get('inputRectangularTubeType').hasError(validationMsgsForRectTube.inputRectangularTubeType.type) && (showErrorsRectTube)">
              {{ validationMsgsForRectTube.inputRectangularTubeType.message }}
            </div>
            <p></p>
            <ion-row justify-content-center align-items-center no-padding
              style="padding-left: 15px; padding-right: 15px">
              <ion-col col-9 no-padding>

                <ion-item no-padding>
                  <ion-label (click)="common.getCalc(this,'rectTubeOutLength',rectangularTubeForm)" stacked
                    class="input-float-style">
                    <!-- <span style="color: #ff0021;">*
                    </span>{{'enter_outside_length' | translate}}  <span style="margin:0;font-weight: normal;color:#949ca1;font-size: 12px;"
                      [innerHTML]="!!selectedItemRectTube?'('+selectedItemRectTube+')':''"></span> -->
                    <ion-row style="flex-wrap: nowrap; white-space: normal">
                      <ion-col col-1 style="padding: 0"><span style="color: #ff0021">*</span></ion-col>
                      <ion-col col-17 style="padding: 0">
                        <span>{{'enter_outside_length' | translate}}
                          {{!!selectedItemRectTube?'('+selectedItemRectTube+')':''}}&nbsp;&nbsp;<ion-icon
                            name="ios-calculator" class="hideIcon"></ion-icon></span>
                      </ion-col>
                    </ion-row>
                  </ion-label>

                  <ion-input (focus)="common.setFocusInput(this,'rectTubeOutLength',rectangularTubeForm)"
                    (blur)="common.setBlur(this)" *ngIf="!this.platform.is('ios')" required
                    (keypress)="telkeypress($event)" (keyup)="isValidNumber($event)" tabindex="1"
                    (ionChange)="updateResultsRectTube()" type="number" formControlName="rectTubeOutLength"
                    style="font-size: 14px; "></ion-input>


                  <ion-input (focus)="common.setFocusInput(this,'rectTubeOutLength',rectangularTubeForm)"
                    (blur)="common.setBlur(this)" *ngIf="this.platform.is('ios')" required maxlength="9"
                    (keypress)="telkeypress($event)" tabindex="1" (ionChange)="updateResultsRectTube()"
                    formControlName="rectTubeOutLength" type="number" pattern="[0-9]*" inputmode="decimal"
                    style="font-size: 14px; "></ion-input>
                </ion-item>
              </ion-col>
              <ion-col col-9 no-padding style="padding-left: 5px">
                <ion-item no-padding>
                  <ion-label (click)="common.getCalc(this,'rectTubeOutWidth',rectangularTubeForm)" stacked
                    class="input-float-style">
                    <!-- <span style="color: #ff0021;">*
                    </span>{{'enter_outside_width' | translate}}  <span style="margin:0;font-weight: normal;color:#949ca1;font-size: 12px;"
                      [innerHTML]="!!selectedItemRectTube?'('+selectedItemRectTube+')':''"></span> -->
                    <ion-row style="flex-wrap: nowrap; white-space: normal">
                      <ion-col col-1 style="padding: 0"><span style="color: #ff0021">*</span></ion-col>
                      <ion-col col-17 style="padding: 0">
                        <span>{{'enter_outside_width' | translate}}
                          {{!!selectedItemRectTube?'('+selectedItemRectTube+')':''}}&nbsp;&nbsp;<ion-icon
                            name="ios-calculator" class="hideIcon"></ion-icon></span>
                      </ion-col>
                    </ion-row>
                  </ion-label>

                  <ion-input (focus)="common.setFocusInput(this,'rectTubeOutWidth',rectangularTubeForm)"
                    (blur)="common.setBlur(this)" *ngIf="!this.platform.is('ios')" required
                    (keypress)="telkeypress($event)" (keyup)="isValidNumber($event)" tabindex="1"
                    (ionChange)="updateResultsRectTube()" type="number" formControlName="rectTubeOutWidth"
                    style="font-size: 14px; "></ion-input>

                  <ion-input (focus)="common.setFocusInput(this,'rectTubeOutWidth',rectangularTubeForm)"
                    (blur)="common.setBlur(this)" *ngIf="this.platform.is('ios')" required maxlength="9"
                    (keypress)="telkeypress($event)" tabindex="1" (ionChange)="updateResultsRectTube()"
                    formControlName="rectTubeOutWidth" type="number" pattern="[0-9]*" inputmode="decimal"
                    style="font-size: 14px; "></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col col-9>
                <ng-container *ngFor="let validation of validationMsgsForRectTube.rectTubeOutLength">
                  <div class="error-message"
                    *ngIf="rectangularTubeForm.get('rectTubeOutLength').hasError(validation.type) && ((rectangularTubeForm.get('rectTubeOutLength').dirty || rectangularTubeForm.get('rectTubeOutLength').touched))">
                    {{ validation.message }}
                  </div>
                </ng-container>
              </ion-col>
              <ion-col col-9>
                <ng-container *ngFor="let validation of validationMsgsForRectTube.rectTubeOutWidth">
                  <div class="error-message"
                    *ngIf="rectangularTubeForm.get('rectTubeOutWidth').hasError(validation.type) && ((rectangularTubeForm.get('rectTubeOutWidth').dirty || rectangularTubeForm.get('rectTubeOutWidth').touched))">
                    {{ validation.message }}
                  </div>
                </ng-container>
              </ion-col>
            </ion-row>
            <ion-row justify-content-center align-items-center no-padding
              style="padding-left: 15px; padding-right: 15px">
              <ion-col col-9 no-padding>
                <ion-item no-padding>
                  <ion-label (click)="common.getCalc(this,'rectTubeInLength',rectangularTubeForm)" stacked
                    class="input-float-style">
                    <!-- <span style="color: #ff0021;">*
                    </span>{{'enter_inside_length' | translate}}  <span style="margin:0;font-weight: normal;color:#949ca1;font-size: 12px;"
                      [innerHTML]="!!selectedItemRectTube?'('+selectedItemRectTube+')':''"></span> -->
                    <ion-row style="flex-wrap: nowrap; white-space: normal">
                      <ion-col col-1 style="padding: 0"><span style="color: #ff0021">*</span></ion-col>
                      <ion-col col-17 style="padding: 0">
                        <span>{{'enter_inside_length' | translate}}
                          {{!!selectedItemRectTube?'('+selectedItemRectTube+')':''}}&nbsp;&nbsp;<ion-icon
                            name="ios-calculator" class="hideIcon"></ion-icon></span>
                      </ion-col>
                    </ion-row>
                  </ion-label>

                  <ion-input (focus)="common.setFocusInput(this,'rectTubeInLength',rectangularTubeForm)"
                    (blur)="common.setBlur(this)" *ngIf="!this.platform.is('ios')" required
                    (keypress)="telkeypress($event)" (keyup)="isValidNumber($event)" tabindex="1"
                    (ionChange)="updateResultsRectTube()" type="number" formControlName="rectTubeInLength"
                    style="font-size: 14px; "></ion-input>

                  <ion-input (focus)="common.setFocusInput(this,'rectTubeInLength',rectangularTubeForm)"
                    (blur)="common.setBlur(this)" *ngIf="this.platform.is('ios')" required maxlength="9"
                    (keypress)="telkeypress($event)" tabindex="1" (ionChange)="updateResultsRectTube()"
                    formControlName="rectTubeInLength" type="number" pattern="[0-9]*" inputmode="decimal"
                    style="font-size: 14px; "></ion-input>
                </ion-item>
              </ion-col>
              <ion-col col-9 no-padding style="padding-left: 5px">
                <ion-item no-padding>
                  <ion-label (click)="common.getCalc(this,'rectTubeInWidth',rectangularTubeForm)" stacked
                    class="input-float-style">
                    <!-- <span style="color: #ff0021;">*
                    </span>{{'enter_inside_width' | translate}}  <span style="margin:0;font-weight: normal;color:#949ca1;font-size: 12px;"
                      [innerHTML]="!!selectedItemRectTube?'('+selectedItemRectTube+')':''"></span> -->
                    <ion-row style="flex-wrap: nowrap; white-space: normal">
                      <ion-col col-1 style="padding: 0"><span style="color: #ff0021">*</span></ion-col>
                      <ion-col col-17 style="padding: 0">
                        <span>{{'enter_inside_width' | translate}}
                          {{!!selectedItemRectTube?'('+selectedItemRectTube+')':''}}&nbsp;&nbsp;<ion-icon
                            name="ios-calculator" class="hideIcon"></ion-icon></span>
                      </ion-col>
                    </ion-row>
                  </ion-label>

                  <ion-input (focus)="common.setFocusInput(this,'rectTubeInWidth',rectangularTubeForm)"
                    (blur)="common.setBlur(this)" *ngIf="!this.platform.is('ios')" required
                    (keypress)="telkeypress($event)" (keyup)="isValidNumber($event)" tabindex="1"
                    (ionChange)="updateResultsRectTube()" type="number" formControlName="rectTubeInWidth"
                    style="font-size: 14px; "></ion-input>

                  <ion-input (focus)="common.setFocusInput(this,'rectTubeInWidth',rectangularTubeForm)"
                    (blur)="common.setBlur(this)" *ngIf="this.platform.is('ios')" required maxlength="9"
                    (keypress)="telkeypress($event)" tabindex="1" (ionChange)="updateResultsRectTube()"
                    formControlName="rectTubeInWidth" type="number" pattern="[0-9]*" inputmode="decimal"
                    style="font-size: 14px; ">
                  </ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>

              <ion-col col-9>
                <ng-container *ngFor="let validation of validationMsgsForRectTube.rectTubeInLength">
                  <div class="error-message"
                    *ngIf="rectangularTubeForm.get('rectTubeInLength').hasError(validation.type) && ((rectangularTubeForm.get('rectTubeInLength').dirty || rectangularTubeForm.get('rectTubeInLength').touched))">
                    {{ validation.message }}
                  </div>
                </ng-container>
              </ion-col>
              <ion-col col-9>
                <ng-container *ngFor="let validation of validationMsgsForRectTube.rectTubeInWidth">
                  <div class="error-message"
                    *ngIf="rectangularTubeForm.get('rectTubeInWidth').hasError(validation.type) && ((rectangularTubeForm.get('rectTubeInWidth').dirty || rectangularTubeForm.get('rectTubeInWidth').touched))">
                    {{ validation.message }}
                  </div>
                </ng-container>
              </ion-col>
            </ion-row>
            <ion-row class="btns-row">
              <button class="clear-btn" (click)="clearResultsRectTube()" type="button">
                {{'clear_btn' | translate}}
              </button>
              <button class="calc-btn" [disabled]="calculateDisableRectTube" type="submit">
                {{calculateBtnTextRectTube}}
              </button>
            </ion-row>
          </form>
          <div [style.opacity]="resultOpacity" *ngIf="showResultRectTube">
            <ion-row style="padding: 20px 0 8px 15px">
              <img src="./assets/imgs/results.png" style="height: 16px; width: 16px" />
              <label style="
                  padding-left: 8px;
                  padding-right: 16px;
                  font-weight: bold;
                  color: #0079c1;
                ">{{'results' | translate}}</label>
            </ion-row>
            <ion-row align-items-center class="result-title-bar">
              <ion-col no-padding class="result-title" style="text-align: left">{{'area_conversion' | translate}}
              </ion-col>
            </ion-row>
            <ion-row *ngFor="let data of rectTubeOutput" align-items-center class="result-list-outer"
              style="padding: 10px !important; border-bottom: solid 1px #ccc">
              <ion-col class="result-item result-span">
                {{round(data.value,2)}}
              </ion-col>
              <ion-col no-padding class="result-item" style="text-align: left; margin-left: 5px">
                {{data.label}}<sup>2</sup></ion-col>
            </ion-row>
          </div>
        </div>
      </ion-slide>
    </ion-slides>
  </div>

</ion-content>
<calculator-button class="animated faster" [ngClass]=" isKeyBoard ? 'slideInUp' : 'slideOutDown' "
  [style.bottom]=" isKeyBoard ? '0px' : '-46px' " [style.height]="common.getCalcButtonHeight()" *ngIf="isKeyBoard"
  [pageRef]="this" [inputRef]="currentInputRef" [formRef]="currentFormRef">
</calculator-button>