page-q-prime-calculator {
  //   .scroll-content{
  //     overflow:hidden;
  // }
  ion-radio {
    padding: 33px 11px 0 0;
  }
  ion-label {
    font-size: 16px;
    color: black !important;
  }
  .label[stacked] {
    font-size: 14px !important;
  }
  .outputDiv {
    padding-left: 15px;
    margin-bottom: 24px;
    .col {
      max-width: 31%;
      flex: 25%;
    }
    .activeOutputButton {
      background: #005eb8 !important;
      box-shadow: none !important;
      border: none !important;
    }
    .button {
      padding: 24px 0;
      background: #75a8f7;
      text-transform: none;
      box-shadow: none !important;
      // box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.3) !important;
      border-right: solid 1px #005eb8;
    }
    .qwButton {
      border-radius: 28px 0 0 28px;
    }
    .aeButton {
      border-radius: 0 28px 28px 0;
    }
    .mandatory-class {
      color: #ff0021 !important;
      // color: color($colors, manadatory);
    }
  }
  .outputDiv ion-col:last-child button {
    border: none !important;
  }
  .radio-ios .radio-icon {
    left: 0;
    top: 0;
    margin: 0;
    border-radius: 50%;
    position: relative;
    display: block;
    width: 16px;
    height: 16px;
    border-width: 2px;
    border-style: solid;
    border-color: #787878;
  }
  .radio-ios .radio-checked .radio-inner {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  .radio-ios .radio-checked {
    border-color: #005eb8 !important;
  }

  .radio-ios .radio-inner {
    left: 2px !important;
    top: 2px !important;
    border-radius: 50% !important;
    position: absolute !important;
    width: 8px !important;
    height: 8px !important;
    background-color: #005eb8 !important;
    -webkit-transform: scale3d(0, 0, 0);
    transform: scale3d(0, 0, 0);
    -webkit-transition: -webkit-transform 280ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 280ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 280ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 280ms cubic-bezier(0.4, 0, 0.2, 1),
      -webkit-transform 280ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .col,
  .row {
    position: initial !important;
  }
}
