<!--
  Generated template for the ChipThicknessCalculatorPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <custom-side-menu calculatorName="qPrime_title" visible="true" calculatorKey="qprime">
  </custom-side-menu>
</ion-header>

<ion-content [ngClass]=" isKeyBoard ? 'class-padding-bottom' : '' ">
  <!-- <div id="divbottomscroll" style="position:absolute;top:0;bottom:0;left:0;right:0;height:100% !important;overflow-y:scroll !important;-webkit-overflow-scrolling: auto;"> -->

  <div text-right class="mandate">{{'mandatory' | translate}}</div>
  <form [formGroup]="qPrimeForm" (ngSubmit)="onSubmit(qPrimeForm.value)" novalidate>
    <div style="padding-left: 16px">
      <div [ngClass]="isEnglish ? 'toggle-selected' : 'toggle-normal'">
        {{'english' | translate}}
      </div>
      <div class="toggle-style">
        <ion-toggle (ionChange)="updateToggle()" formControlName="unitPref" required></ion-toggle>
      </div>
      <div [ngClass]="isEnglish ? 'toggle-normal' : 'toggle-selected'">
        {{'metric' | translate}}
      </div>
    </div>
    <ion-row class="line-style"></ion-row>

    <ion-label class="input-label" style="margin-top: 4px">{{'select_mode' | translate}}</ion-label>

    <ion-list radio-group [(ngModel)]="qPrimeType" formControlName="QPType">
      <ion-row (click)="setQPType('workpiece')" style="padding-bottom: 8px; padding-left: 16px; padding-right: 16px">
        <img src="./assets/imgs/qprime_peripheral.png" style="height: 80px; width: 85px; padding-top: 10px"
          imageViewer />
        <ion-label text-center style="
            font-size: 16px;
            font-weight: bold;
            padding-left: 25px;
            text-align: left !important;
          ">
          {{'traverse_mode' | translate}}
          <br />
          <p style="
              margin: 0;
              font-weight: normal;
              color: #949ca1;
              font-size: 12px;
            "
            [innerHTML]="('work_piece_speed' | translate) +' ('+ unit_VW +')<br/>' + ('infeed' | translate)+' ('+ unit_AE+')<br/>' ">
            <!-- {{'work_piece_speed' | translate}}
            <br />{{'infeed' | translate}}
            -->
          </p>
        </ion-label>
        <!-- <p><br />{{'work_piece_speed' | translate}} <br />{{'infeed' | translate}}</p> -->
        <ion-radio value="workpiece" checked (ionSelect)="setQPType(qPrimeType)"></ion-radio>
      </ion-row>

      <ion-row (click)="setQPType('radial')" style="padding-bottom: 8px; padding-left: 16px; padding-right: 16px">
        <img src="./assets/imgs/qprime_circumferal.png"
          style="padding-top: 10px; height: 80px; width: 85px; object-fit: fill" imageViewer />
        <ion-label text-center style="
            font-size: 16px;
            font-weight: bold;
            padding-left: 25px;
            text-align: left !important;
          ">
          {{'plunge_mode' | translate}}
          <br />
          <p style="
              margin: 0;
              font-weight: normal;
              color: #949ca1;
              font-size: 12px;
            "
            [innerHTML]="('radial_feed_rate' | translate) +' ('+ unit_VFR + ')<br/>' + ('work_piece_diameter' | translate)+' ('+ unit_DW+')<br/>' ">
            <!-- {{'radial_feed_rate' | translate}} -->
            <!-- <br />{{'work_piece_diameter' | translate}} -->
          </p>
        </ion-label>
        <ion-radio value="radial" (ionSelect)="setQPType($event)"></ion-radio>
      </ion-row>
    </ion-list>
    <ion-row class="line-style"></ion-row>

    <ion-label stacked style="padding: 8px 16px; font-weight: bold" class="input-float-style">
      <span style="color: #ff0021">* </span>{{'select_output' |
      translate}}
    </ion-label>

    <ion-row class="outputDiv">
      <ion-col col-4 no-padding no-margin>
        <button ion-button type="button" style="width: 100%; line-height: 18px; font-size: 12px"
          (click)="setQPrimeOutputType('qw')" class="qwButton" [class.activeOutputButton]="qPrimeOutputType=='qw'">
          <!-- {{ 'Qw' | translate}}<br />{{ isEnglish==true ? ('in³_in_min' | translate) : ('mm³_sec_mm' | translate)}} -->
          <p
            [innerHTML]="unit_QW+'<br/>' + (isEnglish==true ? ('in³_in_min' | translate) : ('mm³_sec_mm' | translate))">
          </p>
        </button>
      </ion-col>
      <ion-col col-4 no-padding no-margin>
        <button ion-button type="button" style="width: 100%; line-height: 18px; font-size: 12px"
          [style.border-radius]="0"
          (click)="qPrimeType=='workpiece' ? setQPrimeOutputType('vw') : setQPrimeOutputType('vfr')"
          [class.activeOutputButton]="qPrimeOutputType=='vw' || qPrimeOutputType=='vfr'">
          <!-- {{ qPrimeType=='workpiece' ? ('Vw' | translate) : ('Vfr' | translate)}}<br />{{ isEnglish==true ? ('in_min' | translate) : ('mm_min' | translate)}} -->
          <p
            [innerHTML]="(qPrimeType=='workpiece' ? (unit_VW) : (unit_VFR))+'<br/>' + (isEnglish==true ? ('in_min' | translate) : ('mm_min' | translate))">
          </p>
        </button>
      </ion-col>
      <ion-col col-4 no-padding no-margin>
        <button ion-button type="button" style="width: 100%; line-height: 18px; font-size: 12px"
          (click)="qPrimeType=='workpiece' ? setQPrimeOutputType('ae') : setQPrimeOutputType('dw')" class="aeButton"
          [class.activeOutputButton]="qPrimeOutputType=='ae' || qPrimeOutputType=='dw'">
          <!-- {{qPrimeType=='workpiece' ? ('ae' | translate)  : ('dw' | translate)}}<br />({{ isEnglish==true ? ('in' | translate) : ('mm' | translate)}}) -->
          <p
            [innerHTML]="(qPrimeType=='workpiece' ? (unit_AE) : (unit_DW))+'<br/>' + (isEnglish==true ? ( '('+('in' | translate)+')' ) : ('('+('mm' | translate)+')'))">
          </p>
        </button>
      </ion-col>
    </ion-row>

    <ion-label class="input-label">{{'qPrime_param' | translate}}</ion-label>
    <ion-row justify-content-center align-items-center no-padding align-items-end
      style="padding-left: 16px; padding-right: 16px">
      <ion-col col-9>
        <ion-item no-padding>
          <ion-label (click)="common.getCalc(this,'inp_1',qPrimeForm)" stacked
            class="input-float-style ellHeightWorkpiece" style="font-size: 12px !important; padding-left: 2px"
            *ngIf="qPrimeType=='workpiece'" [style.height]="maxEllheight">
            <ion-row style="flex-wrap: nowrap; white-space: normal">
              <ion-col col-1><span style="color: #ff0021">*</span></ion-col>
              <ion-col col-17>
                <span
                  [innerHTML]="(qPrimeOutputType=='vw' || qPrimeOutputType=='ae') ? ('qPrime_removal_rate' | translate)+'<br/>'+((isEnglish==true ? ('in³_in_min' | translate) : ('mm³_sec_mm' | translate))) :  ('work_piece_speed' | translate )+((isEnglish==true ? ('in_min' | translate) : ('mm_min' | translate)))"></span>
                &nbsp;&nbsp;<ion-icon name="ios-calculator" class="hideIcon"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-label>
          <ion-label (click)="common.getCalc(this,'inp_1',qPrimeForm)" stacked
            class="input-float-style ellHeightWorkpiece" style="font-size: 12px !important; padding-left: 2px"
            *ngIf="qPrimeType=='radial'" [style.height]="maxEllheight">
            <ion-row style="flex-wrap: nowrap; white-space: normal">
              <ion-col col-1><span style="color: #ff0021">*</span></ion-col>
              <ion-col col-17>
                <span
                  [innerHTML]="(qPrimeOutputType=='vfr' || qPrimeOutputType=='dw') ?  ('qPrime_removal_rate' | translate)+'<br/>'+( (isEnglish==true ? ('in³_in_min' | translate) : ('mm³_sec_mm' | translate))) :  ('radial_feed_rate' | translate )+((isEnglish==true ? ('in_min' | translate) : ('mm_min' | translate)))"></span>
                &nbsp;&nbsp;<ion-icon name="ios-calculator" class="hideIcon"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-label>

          <ion-input (focus)="common.setFocusInput(this,'inp_1',qPrimeForm)" (blur)="common.setBlur(this)"
            *ngIf="!this.platform.is('ios')" required maxlength="9" (keypress)="telkeypress($event)"
            (keyup)="isValidNumber($event)" tabindex="1" formControlName="inp_1" required (ionChange)="updateResults()"
            type="number" class="input-fields" style="font-size: 14px;padding-left: 8px;"></ion-input>
          <ion-input (focus)="common.setFocusInput(this,'inp_1',qPrimeForm)" (blur)="common.setBlur(this)"
            *ngIf="this.platform.is('ios')" required maxlength="9" (keypress)="telkeypress($event)" tabindex="1"
            formControlName="inp_1" required (ionChange)="updateResults()" type="number" pattern="[0-9]*"
            inputmode="decimal" class="input-fields" style="font-size: 14px;padding-left: 8px;">
          </ion-input>
        </ion-item>
      </ion-col>

      <ion-col col-9>
        <ion-item no-padding>
          <ion-label (click)="common.getCalc(this,'inp_2',qPrimeForm)" stacked class="input-float-style ellHeightRadial"
            style="font-size: 12px !important; padding-left: 2px" *ngIf="qPrimeType=='workpiece'"
            [style.height]="maxEllheight">
            <ion-row style="flex-wrap: nowrap; white-space: normal">
              <ion-col col-1><span style="color: #ff0021">*</span></ion-col>
              <ion-col col-17>
                <span [innerHTML]="(qPrimeOutputType=='qw' || qPrimeOutputType=='vw') ?  ('infeed' | translate)+((isEnglish==true ? ( '('+('in' | translate)+')' ) : ('('+('mm' | translate)+')'))) :   ('work_piece_speed' | translate )+((isEnglish==true ? ('in_min' | translate) : ('mm_min' | translate))
                  )"></span>
                <!-- {{qPrimeOutputType=='qw' || qPrimeOutputType=='vw' ? ('infeed' | translate) : ('work_piece_speed' | translate)}} -->
                &nbsp;&nbsp;<ion-icon name="ios-calculator" class="hideIcon"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-label>
          <ion-label (click)="common.getCalc(this,'inp_2',qPrimeForm)" stacked class="input-float-style ellHeightRadial"
            style="font-size: 12px !important; padding-left: 2px" *ngIf="qPrimeType=='radial'"
            [style.height]="maxEllheight">
            <ion-row style="flex-wrap: nowrap; white-space: normal">
              <ion-col col-1><span style="color: #ff0021">*</span></ion-col>
              <ion-col col-17>
                <span
                  [innerHTML]="(qPrimeOutputType=='qw' || qPrimeOutputType=='vfr') ?  ('work_piece_diameter' | translate)+( (isEnglish==true ? ( '('+('in' | translate)+')' ) : ('('+('mm' | translate)+')'))) :  ('radial_feed_rate' | translate )+((isEnglish==true ? ('in_min' | translate) : ('mm_min' | translate)))"></span>
                <!-- {{qPrimeOutputType=='qw' || qPrimeOutputType=='vfr' ? ('work_piece_diameter' | translate) : ('radial_feed_rate' | translate)}} -->
                &nbsp;&nbsp;<ion-icon name="ios-calculator" class="hideIcon"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-label>

          <ion-input (focus)="common.setFocusInput(this,'inp_2',qPrimeForm)" (blur)="common.setBlur(this)"
            *ngIf="!this.platform.is('ios')" required maxlength="9" (keypress)="telkeypress($event)"
            (keyup)="isValidNumber($event)" tabindex="2" formControlName="inp_2" required (ionChange)="updateResults()"
            type="number" class="input-fields" style="font-size: 14px; padding-left: 8px"></ion-input>
          <ion-input (focus)="common.setFocusInput(this,'inp_2',qPrimeForm)" (blur)="common.setBlur(this)"
            *ngIf="this.platform.is('ios')" required maxlength="9" (keypress)="telkeypress($event)" tabindex="2"
            formControlName="inp_2" required (ionChange)="updateResults()" type="number" pattern="[0-9]*"
            inputmode="decimal" class="input-fields" style="font-size: 14px; padding-left: 8px">
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row style="margin-left: 8px; margin-right: 8px">
      <ion-col col-9>
        <ng-container *ngFor="let validation of validationMsgs.inp_1">
          <div class="error-message"
            *ngIf="qPrimeForm.get('inp_1').hasError(validation.type) && (qPrimeForm.get('inp_1').dirty || qPrimeForm.get('inp_1').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </ion-col>
      <ion-col col-9>
        <ng-container *ngFor="let validation of validationMsgs.inp_2">
          <div class="error-message"
            *ngIf="qPrimeForm.get('inp_2').hasError(validation.type) && (qPrimeForm.get('inp_2').dirty || qPrimeForm.get('inp_2').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </ion-col>
    </ion-row>
    <ion-row class="line-style"></ion-row>
    <ion-row class="button-row" style="margin-bottom: 20px">
      <button class="clear-btn" (click)="clearResults()" type="button">
        {{'clear_btn' | translate}}
      </button>
      <button tabindex="3" class="calc-btn" [disabled]="calculateDisable" type="submit">
        {{calculateBtnText}}
      </button>
    </ion-row>
  </form>

  <div [style.opacity]="resultOpacity" *ngIf="showResult" style="margin-top: 20px" id="output">
    <ion-row style="padding-bottom: 8px; padding-left: 16px">
      <img src="./assets/imgs/results.png" style="height: 16px; width: 16px" />
      <label style="
          padding-left: 8px;
          padding-right: 16px;
          font-weight: bold;
          color: #0079c1;
        ">{{'results' | translate}}</label>
      <!-- <ion-icon style="zoom:1;" name="information-circle" (click)="qprimeRangePopUp()"></ion-icon> -->
    </ion-row>

    <ion-row align-items-center class="result-title-bar" *ngIf="qPrimeType=='workpiece'">
      <ion-col col-6 no-padding class="result-title" style="font-size: 12px; font-weight: normal"
        [innerHTML]="(qPrimeOutputType=='qw'? ((unit_VW)+' '+ (isEnglish==true ? ('in_min' | translate) : ('mm_min' | translate))) : ((unit_QW)+' '+ (isEnglish==true ? ('in³_in_min' | translate) : ('mm³_sec_mm' | translate)))) ">
        <!-- {{ qPrimeOutputType=='vfr' ? 'Vw' : 'Vfr' | translate}}{{ isEnglish==true ? ('in_min' | translate) : ('mm_min' | translate)}} -->
      </ion-col>
      <ion-col col-5 no-padding class="result-title" style="font-size: 12px; font-weight: normal"
        [innerHTML]="qPrimeOutputType=='qw'? ((unit_AE)+' '+ (isEnglish==true ? ('('+('in' | translate)+')') : ('('+('mm' | translate)+')'))) :qPrimeOutputType=='vw'? ((unit_AE)+' '+(isEnglish==true ? ('('+('in' | translate)+')') : ('('+('mm' | translate)+')'))) : ((unit_VW)+' '+ (isEnglish==true ? ('in_min' | translate) : ('mm_min' | translate)))">
        <!-- {{ qPrimeType=='workpiece' ? 'ae' : 'dw' | translate}}({{  isEnglish==true ? ('in' | translate) : ('mm' | translate)}}) -->
      </ion-col>
      <ion-col col-5 no-padding class="result-title" style="font-size: 12px; font-weight: bold"
        [innerHTML]="qPrimeOutputType=='qw' ? ((unit_QW)+' '+ (isEnglish==true ? ('in³_in_min' | translate) : ('mm³_sec_mm' | translate))) : qPrimeOutputType=='vw'? ((unit_VW)+' '+ (isEnglish==true ? ('in_min' | translate) : ('mm_min' | translate))) : ((unit_AE)+' '+(isEnglish==true ? ('('+('in' | translate)+')') : ('('+('mm' | translate)+')')))">
      </ion-col>
      <!-- {{ 'Qw' | translate}}{{  isEnglish==true ? ('in³_in_min' | translate) : ('mm³_sec_mm' | translate)}}</ion-col> -->
      <ion-col col-2 (click)="qprimeRangePopUp()" style="position: relative !important">
        <ion-icon style="zoom: 1" name="information-circle"></ion-icon>
      </ion-col>
    </ion-row>

    <ion-row align-items-center class="result-title-bar" *ngIf="qPrimeType=='radial'">
      <ion-col align-self-center col-6 no-padding class="result-title" style="font-size: 12px; font-weight: normal"
        [innerHTML]="(qPrimeOutputType=='qw'? ((unit_VFR)+' '+(isEnglish==true ? ('in_min' | translate) : ('mm_min' | translate))) : ((unit_QW)+' '+ (isEnglish==true ? ('in³_in_min' | translate) : ('mm³_sec_mm' | translate)))) ">
        <!-- {{ qPrimeOutputType=='vfr' ? 'Vw' : 'Vfr' | translate}}{{ isEnglish==true ? ('in_min' | translate) : ('mm_min' | translate)}} -->
      </ion-col>
      <ion-col col-5 no-padding class="result-title" style="font-size: 12px; font-weight: normal"
        [innerHTML]="qPrimeOutputType=='qw'? ((unit_DW)+' '+ (isEnglish==true ? ('('+('in' | translate)+')') : ('('+('mm' | translate)+')'))) :qPrimeOutputType=='vfr'? ((unit_DW)+' '+ (isEnglish==true ? ('('+('in' | translate)+')') : ('('+('mm' | translate)+')'))) : ((unit_VFR)+' '+ (isEnglish==true ? ('in_min' | translate) : ('mm_min' | translate)))">
        <!-- {{ qPrimeType=='workpiece' ? 'ae' : 'dw' | translate}}({{  isEnglish==true ? ('in' | translate) : ('mm' | translate)}}) -->
      </ion-col>
      <ion-col col-6 no-padding class="result-title" style="font-size: 12px; font-weight: bold"
        [innerHTML]="qPrimeOutputType=='qw' ? ((unit_QW)+' '+(isEnglish==true ? ('in³_in_min' | translate) : ('mm³_sec_mm' | translate))) : qPrimeOutputType=='vfr'? ((unit_VFR)+' '+(isEnglish==true ? ('in_min' | translate) : ('mm_min' | translate))) : ((unit_DW)+' '+ (isEnglish==true ? ('('+('in' | translate)+')') : ('('+('mm' | translate)+')')))">
      </ion-col>
      <ion-col align-items-center col-1 no-padding>
        <ion-icon style="zoom: 1" name="information-circle" (click)="qprimeRangePopUp()"></ion-icon>
      </ion-col>
      <!-- {{ 'Qw' | translate}}{{  isEnglish==true ? ('in³_in_min' | translate) : ('mm³_sec_mm' | translate)}}</ion-col> -->
    </ion-row>

    <ion-row align-items-center class="result-list-outer" style="font-size: 12px">
      <ion-col col-6 no-padding class="result-item">{{op_1}}</ion-col>
      <ion-col col-5 no-padding class="result-item">{{op_2}}</ion-col>
      <ion-col col-7 no-padding class="result-item" style="font-weight: bold">{{op_3}}</ion-col>
    </ion-row>
  </div>
  <!-- </div> -->
</ion-content>

<calculator-button class="animated faster" [ngClass]=" isKeyBoard ? 'slideInUp' : 'slideOutDown' "
  [style.bottom]=" isKeyBoard ? '0px' : '-46px' " [style.height]="common.getCalcButtonHeight()"  *ngIf="isKeyBoard" [pageRef]="this" [inputRef]="currentInputRef"
  [formRef]="currentFormRef">
</calculator-button>