<ion-header>
  <custom-side-menu calculatorName="stationary_title" visible="true" calculatorKey="stationary_dressing">
  </custom-side-menu>
</ion-header>
<ion-content [ngClass]=" isKeyBoard ? 'class-padding-bottom' : '' ">
  <div text-right class="mandate">{{'mandatory' | translate}}</div>
  <form style="text-align: initial" class="switch-label-allignment" [formGroup]="stationaryToolForm"
    (ngSubmit)="onSubmit(stationaryToolForm.value)" novalidate>
    <div style="padding-left: 16px">
      <div class="toggle-metric" [ngClass]="isImperial ? 'toggle-selected' : 'toggle-normal'">
        {{'english' | translate}}
      </div>
      <div class="toggle-metric">
        <ion-toggle class="toggle-style" (ionChange)="updateToggle()" formControlName="unitPref" required></ion-toggle>
      </div>
      <div class="toggle-metric" [ngClass]="isImperial ? 'toggle-normal' : 'toggle-selected'">
        {{'metric' | translate}}
      </div>
    </div>
    <ion-row class="line" style="margin-top: 4px"></ion-row>
    <ion-label class="input-label">{{'tool_type' | translate}}</ion-label>
    <div style="padding-left: 16px">
      <div class="toggle-metric" [ngClass]="isSinglePoint ? 'toggle-selected' : 'toggle-normal'">
        {{'single_point' | translate}}
      </div>
      <div class="toggle-metric">
        <ion-toggle class="toggle-style" (ionChange)="updateTypeToggle()" formControlName="unitPrefType" required>
        </ion-toggle>
      </div>
      <div class="toggle-metric" [ngClass]="isSinglePoint ? 'toggle-normal' : 'toggle-selected'">
        {{'multi_point' | translate}}
      </div>
    </div>
    <ion-row class="line" style="margin-top: 4px"></ion-row>

    <ion-item class="drop-down-item-style">
      <ion-label stacked class="input-float-style" style="padding-top: 7px"><span class="mandatory-class">*
        </span>{{'select_product_type' |
        translate}}</ion-label>
      <ion-select #productTypeSelect (ionChange)="updateDropDown()" formControlName="productType" required
        class="spinner-style" interface="popover">
        <ion-option *ngFor="let type of productTypeListRefsOne" [value]="type.key">{{type.key|translate}}</ion-option>
        <ion-option *ngFor="let type of productTypeListRefsTwo" [value]="type.key">{{type.key|translate}}</ion-option>
      </ion-select>
    </ion-item>
    <div class="error-message"
      *ngIf="stationaryToolForm.get('productType').hasError(validationMsgs.productType.type) && (showErrors)">
      {{ validationMsgs.productType.message }}
    </div>
    <p></p>
    <ion-label class="input-label">{{'dressing_parameteres' | translate}}</ion-label>
    <ion-row justify-content-center align-items-center no-padding align-items-end
      style="margin-left: 8px; margin-right: 8px">
      <ion-col col-9>
        <ion-item no-padding>
          <ion-label (click)="common.getCalc(this,'rpm',stationaryToolForm)" stacked class="input-float-style"><span
              class="mandatory-class">* </span>{{'rpm' |
            translate}}&nbsp;&nbsp;<ion-icon name="ios-calculator" class="hideIcon"></ion-icon>
          </ion-label>

          <ion-input (focus)="common.setFocusInput(this,'rpm',stationaryToolForm)" (blur)="common.setBlur(this)"
            *ngIf="!this.platform.is('ios')" required maxlength="9" (keypress)="telkeypress($event)"
            (keyup)="isValidNumber($event)" tabindex="2" formControlName="rpm" required (ionChange)="updateResults()"
            type="number" class="input-fields"></ion-input>
          <ion-input (focus)="common.setFocusInput(this,'rpm',stationaryToolForm)" (blur)="common.setBlur(this)"
            *ngIf="this.platform.is('ios')" required maxlength="9" (keypress)="telkeypress($event)" tabindex="2"
            formControlName="rpm" required (ionChange)="updateResults()" type="number" pattern="[0-9]*"
            inputmode="decimal" class="input-fields"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-9>
        <ion-item no-padding>
          <ion-label (click)="common.getCalc(this,'contactWidth',stationaryToolForm)" stacked class="input-float-style">
            <span class="mandatory-class">* </span>{{'contact_width' |
            translate}}({{isImperial?('in' | translate) : ('mm' |
            translate)}})&nbsp;&nbsp;<ion-icon name="ios-calculator" class="hideIcon"></ion-icon>
          </ion-label>

          <ion-input (focus)="common.setFocusInput(this,'contactWidth',stationaryToolForm)"
            (blur)="common.setBlur(this)" *ngIf="!this.platform.is('ios')" required maxlength="9"
            (keypress)="telkeypress($event)" (keyup)="isValidNumber($event)" tabindex="1" formControlName="contactWidth"
            required (ionChange)="updateResults()" type="number" class="input-fields"></ion-input>
          <ion-input (focus)="common.setFocusInput(this,'contactWidth',stationaryToolForm)"
            (blur)="common.setBlur(this)" *ngIf="this.platform.is('ios')" required maxlength="9"
            (keypress)="telkeypress($event)" tabindex="1" formControlName="contactWidth" required
            (ionChange)="updateResults()" type="number" pattern="[0-9]*" inputmode="decimal" class="input-fields">
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row style="margin-left: 8px; margin-right: 8px">
      <ion-col col-9>
        <ng-container *ngFor="let validation of validationMsgs.rpm">
          <div style="margin: 0 !important" class="error-message"
            *ngIf="stationaryToolForm.get('rpm').hasError(validation.type) && ((stationaryToolForm.get('rpm').dirty || stationaryToolForm.get('rpm').touched))">
            {{ validation.message }}
          </div>
        </ng-container>
      </ion-col>
      <ion-col col-9>
        <ng-container *ngFor="let validation of validationMsgs.contactWidth">
          <div style="margin: 0 !important" class="error-message"
            *ngIf="stationaryToolForm.get('contactWidth').hasError(validation.type) && ((stationaryToolForm.get('contactWidth').dirty || stationaryToolForm.get('contactWidth').touched))">
            {{ validation.message }}
          </div>
        </ng-container>
      </ion-col>
    </ion-row>

    <ion-row justify-content-center align-items-center no-padding align-items-end
      style="margin-left: 8px; margin-right: 8px">
      <ion-col col-7>
        <ion-item no-padding>
          <ion-label (click)="common.getCalc(this,'rate',stationaryToolForm)" stacked class="input-float-style"><span
              class="mandatory-class">* </span>{{isRateTraverse?
            ('traverse_rate' | translate) : ('lead' | translate)}}({{isImperial?
            ('in' | translate) : ('mm' | translate)}}/{{isRateTraverse? ('min' |
            translate) : ('rev' | translate)}})&nbsp;&nbsp;<ion-icon name="ios-calculator" class="hideIcon"></ion-icon>
          </ion-label>

          <ion-input (focus)="common.setFocusInput(this,'rate',stationaryToolForm)" (blur)="common.setBlur(this)"
            class="input-fields" *ngIf="!this.platform.is('ios')" required maxlength="9"
            (keypress)="telkeypress($event)" (keyup)="isValidNumber($event)" tabindex="3" (ionChange)="updateResults()"
            formControlName="rate" type="number" style="font-size: 14px"></ion-input>
          <ion-input (focus)="common.setFocusInput(this,'rate',stationaryToolForm)" (blur)="common.setBlur(this)"
            class="input-fields" *ngIf="this.platform.is('ios')" required maxlength="9" (keypress)="telkeypress($event)"
            tabindex="3" (ionChange)="updateResults()" formControlName="rate" type="number" pattern="[0-9]*"
            inputmode="decimal" style="font-size: 14px; padding-left: 8px"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col align-self-center text-start col-4 no-padding>
        <div [ngClass]="!isRateTraverse ? 'toggle-normal' : 'toggle-selected'" style="
            text-align: center !important;
            display: inline-block;
            vertical-align: middle;
            font-size: 14px;
          ">
          {{'traverse_rate' | translate}}
        </div>
      </ion-col>
      <ion-col align-self-center text-center col-3 no-padding>
        <div style="display: inline-block; vertical-align: middle">
          <ion-toggle formControlName="unitPrefRate" (ionChange)="updateRateToggle()" required></ion-toggle>
        </div>
      </ion-col>
      <ion-col align-self-center text-end col-4 no-padding>
        <div [ngClass]="!isRateTraverse ? 'toggle-selected' : 'toggle-normal'" style="
            text-align: center !important;
            display: inline-block;
            vertical-align: middle;
            font-size: 14px;
          ">
          {{'dresser_lead' | translate}}
        </div>
      </ion-col>
    </ion-row>
    <ng-container *ngFor="let validation of validationMsgs.rate">
      <div class="error-message"
        *ngIf="stationaryToolForm.get('rate').hasError(validation.type) && ((stationaryToolForm.get('rate').dirty || stationaryToolForm.get('rate').touched))">
        {{ validation.message }}
      </div>
    </ng-container>
    <p></p>
    <label class="input-label">{{'required_finish' | translate}}</label>
    <ion-row no-padding style="margin-left: 8px; margin-right: 8px">
      <ion-col col-6>
        <button ion-button type="button" [color]="btnArr[0]" #Coarse (click)="selectFinish(0)"
          style="width: 100%; border-radius: 0">
          Coarse
        </button>
      </ion-col>
      <ion-col col-6>
        <button ion-button type="button" [color]="btnArr[1]" #Medium (click)="selectFinish(1)"
          style="width: 100%; border-radius: 0">
          Medium
        </button>
      </ion-col>
      <ion-col col-6>
        <button ion-button type="button" [color]="btnArr[2]" #Fine (click)="selectFinish(2)"
          style="width: 100%; border-radius: 0">
          Fine
        </button>
      </ion-col>
    </ion-row>

    <ion-row class="btns-row">
      <button class="clear-btn" (click)="clearResults()" type="button">
        {{'clear_btn' | translate}}
      </button>
      <button tabindex="4" class="calc-btn" [disabled]="calculateDisable" type="submit">
        {{calculateBtnText}}
      </button>
    </ion-row>
  </form>

  <div [style.opacity]="resultOpacity" *ngIf="showResult" style="margin-top: 20px">
    <ion-row style="padding-bottom: 8px; padding-left: 15px">
      <img src="./assets/imgs/results.png" style="height: 16px; width: 16px" />
      <label style="
          padding-left: 8px;
          padding-right: 16px;
          font-weight: bold;
          color: #0079c1;
        ">{{'results' | translate}}</label>
    </ion-row>
    <div>
      <ion-row class="bg-gray result-label-alignment">
        <ion-col col-7></ion-col>
        <ion-col col-5.5 class="table-header">
          <div class="result-label-alignment">{{'calculated'| translate}}</div>
        </ion-col>
        <ion-col class="table-values col" col-5.5>
          <div class="result-label-alignment">
            {{'recommended' | translate}}
          </div>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="!isRateTraverse" style="margin: 8px">
        <ion-col col-7 class="table-values">
          {{'lead' | translate}} {{isImperial? ('in_rev' | translate) :
          ('mm_rev' | translate)}}
        </ion-col>
        <ion-col col-5.5 style="color: #999" class="table-values">NA</ion-col>
        <ion-col col-5.5 class="table-values">{{isImperial? precise_round(op_td_rate_recommended,3) :
          precise_round(op_td_rate_recommended,3)}}</ion-col>
      </ion-row>
      <ion-row *ngIf="isRateTraverse" style="margin: 8px">
        <ion-col col-7 class="table-values">{{'traverse_rate' | translate}} {{isImperial? ('in_min' | translate)
          : ('mm_min' | translate)}}
        </ion-col>
        <ion-col col-5.5 class="table-values" style="color: #999">NA</ion-col>
        <ion-col col-5.5 class="table-values">{{isImperial? precise_round(op_opposite_td_rate_recommended,3) :
          precise_round(op_opposite_td_rate_recommended,3)}}</ion-col>
      </ion-row>
      <ion-row style="margin: 8px">
        <ion-col col-7 class="table-values">{{'overlap_ratio' | translate}}
        </ion-col>
        <ion-col col-5.5 class="table-values" style="font-weight: bold">{{isImperial?
          round(op_overlap_ratio_calculated,3) :
          round(op_overlap_ratio_calculated,3)}}</ion-col>
        <ion-col col-5.5 class="table-values">{{isImperial? round(op_overlap_ratio_recommended,3) :
          round(op_overlap_ratio_recommended,3)}}</ion-col>
      </ion-row>
      <ion-row *ngIf="!isRateTraverse" style="margin: 8px">
        <ion-col col-7 class="table-values">{{'traverse_rate' | translate}} {{isImperial? ('in_min' | translate)
          : ('mm_min' | translate)}}
        </ion-col>
        <ion-col col-5.5 class="table-values" style="font-weight: bold">{{isImperial? round(op_td_rate_calculated,3) :
          round(op_td_rate_calculated,3)}}</ion-col>
        <ion-col col-5.5 class="table-values">{{isImperial? precise_round(op_opposite_td_rate_recommended,3) :
          precise_round(op_opposite_td_rate_recommended,3)}}</ion-col>
      </ion-row>
      <ion-row *ngIf="isRateTraverse" style="margin: 8px">
        <ion-col col-7 class="table-values">{{'lead' | translate}} {{isImperial? ('in_rev' | translate) :
          ('mm_rev' | translate)}}
        </ion-col>
        <ion-col col-5.5 class="table-values" style="font-weight: bold">{{isImperial? round(op_td_rate_calculated,3) :
          round(op_td_rate_calculated,3)}}</ion-col>
        <ion-col col-5.5 class="table-values">{{isImperial? precise_round(op_td_rate_recommended,3) :
          precise_round(op_td_rate_recommended,3)}}</ion-col>
      </ion-row>
      <ion-row style="margin: 8px">
        <ion-col col-7 class="table-values">{{'max_dress_depth' | translate}} ({{isImperial? ('in' | translate) :
          ('mm' | translate)}})
        </ion-col>
        <ion-col col-5.5 class="table-values" style="color: #999">{{op_max_dress_depth_recommended}}</ion-col>
        <ion-col col-5.5 class="table-values">{{isImperial? op_max_dress_depth_calculated :
          op_max_dress_depth_calculated}}</ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>

<calculator-button class="animated faster" [ngClass]=" isKeyBoard ? 'slideInUp' : 'slideOutDown' "
  [style.bottom]=" isKeyBoard ? '0px' : '-46px' " [style.height]="common.getCalcButtonHeight()"  *ngIf="isKeyBoard" [pageRef]="this" [inputRef]="currentInputRef"
  [formRef]="currentFormRef">
</calculator-button>