page-stationary-dressing-calculator {
  .line {
    height: 1px;
    background-color: #dbdbdb;
  }
  .input-fields {
    margin: 0px;
    font-size: 14px;
    padding-left: 8px;
  }
  .result-title {
    margin-left: 8px;
    font-size: 13px;
    font-weight: bold;
    margin-top: 4px;
  }
  .table-header {
    color: black;
    font-size: 13px;
    font-weight: bold;
  }
  .table-values {
    color: black;
    font-size: 13px;
    vertical-align: middle;
  }
  .gray-line {
    height: 1px;
    background-color: #dbdbdb;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 13px;
    margin-right: 13px;
  }
  @media only screen and (max-width: 375px) {
    .result-label-alignment * {
      font-size: 10px;
    }
  }

  .btnpssheader {
    width: 50%;
    float: left;
    padding: 0;
    margin: 0;
    border-radius: 0;
    height: 45px;
  }
  .divpssheader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
  }
  .divpssoutsideHeader {
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  .swiper-slide {
    font-size: 14px !important;
  }
  .mandatory-class {
    color: color($colors, manadatory);
  }

  .col,
  .row {
    position: initial !important;
  }
}
