<p>The purpose of these terms and conditions of use (hereinafter “Terms of Use”) is to set forth the rules for the use of the mobile application Norton iGrind (hereinafter “Application”) edited by the company Saint-Gobain Abrasives Inc., a company with its registered office located at 1 New Bond Street, Worcester, MA 01606 a state of Massachusetts corporation Phone +15087955000 – mail address 1 New Bond Street, Worcester, MA 01606 USA hereinafter “the Company”.</p>
<p>Publishing director: Jennifer Smith</p>
<p>By installing the Application on your device and/or opening the Application, as a visitor and/or a user, you agree to be bound by these Terms of Use. <span style="font-weight:bold">If you do not agree with any part of these Terms of Use, DO NOT USE THE APPLICATION.</span></p>
<br>
<p style="font-weight:bold"><u>Article 1. DEFINITIONS</u></p>
<p>The terms beginning with a capital letter in these “Terms of Use”, whether used in the singular or in the plural form shall have the following meaning: </p>
<p><span style="font-weight:bold">"Application"</span> " means the software application Norton iGrind published and provided by the Company, which can be downloaded free of charge by the user on his Apple iOS or Android terminal from the “Apple Store” or the “Google Play Store”. The Application also includes Content, software, programs, tools (for coding and browsing…), databases, operating systems, documentation and all other elements and services being part of it, including upgrades and new versions of the same.<br><br><span style="font-weight:bold">"Content"</span> means without this list being exhaustive, the Application structure, the editorial content, the drawings, the illustrations, the photographs, the graphic charts, the trademarks, the logos, the acronyms, the corporate names, audiovisual works, multimedia works, visual content, audio and sound content, as well as any other content incorporated within the Application and / or any other element forming the Application.<br><br> <span style="font-weight:bold">“User”</span> or <span style="font-weight:bold">“You”</span> means an adult person or an underage person duly authorized by his/her parents having uploaded the Application for his own personal and non-commercial use. </p>

<br>
<p style="font-weight:bold"><u>Article 2. PURPOSE OF THE APPLICATION</u></p>
<p>The purpose of the Application is to provide grinding process support to engineers and operators.</p>

<br>
<p style="font-weight:bold"><u>Article 3. ACCESS TO THE APPLICATION</u></p>
<p>To access the Application, you need to have a mobile device. The Application may be freely downloaded from the Apple Store
	or the Google Play Store</p>
<p>The software version of the Application may be updated from time to time to add new features and offer new services.</p>
<br>
<p style="font-weight:bold"><u>Article 4. FINANCIAL CONDITIONS</u></p>
<p>The Application is provided free of charge for Users to the exclusion of the mobile provider subscription, the internet access costs and the potential costs associated with the downloading of data.</p>
<br>
<p style="font-weight:bold"><u>Article 5. APPLICATION OF TERMS OF USE</u></p>
<p>Upon each use of the Application, the User is encouraged to read carefully the Terms of Use which are accessible through a hyperlink on the homepage of the Application and which can be modified at any time without notice by the Company. The Application may be updated regularly. In this respect, any Application has a limited duration given the regular updates which have to be downloaded and the potential technical and/or regulatory changes outside of the Company’s control.</p>
<br>
<p style="font-weight:bold"><u>Article 6. INTELLECTUAL PROPERTY</u></p>
<p>All intellectual Property rights related to the Application and its Content are the sole property of the Company, subject to third party rights from which the Company has been duly granted a license. Notwithstanding the terms of this Article, none of the provisions of these Terms of Use shall be deemed an assignment, transfer, sale, loan, rental, or operating license granted directly or indirectly by the Company for the benefit of the User on the Application and/or its Content.</p>
<br>
<p style="font-weight:bold"><u>Article 7. LICENCE TO USE</u></p>
<p>The Company grants the User a non-exclusive, revocable, non-transferable, worldwide and royalty- free right to personally use the Application and its Content to the exclusion of any other purpose. <br>It is strictly forbidden for the User to access and/or use the source codes and/or the software components of the Application. The use of the Application shall in no event be consider as a transfer and/or license of on any intellectual property rights in the Application and/or its Content. The User shall thus refrain from reproducing, adapting and/or exploiting the Application and/or its Content.<br> The User represents and warrants that its use of the Application does not in any way affect the rights of the Company, and in particular that such use does not constitute an infringement or an act of unfair competition.
</p>
<br>
<p style="font-weight:bold"><u>Article 8. OBLIGATIONS OF THE USER</u></p>
<p>The User represents and warrants that it shall:</p>
<ul style="list-style-type:circle">
	<li>Download the Application on its equipment exclusively for his own personal use and not for a commercial use;</li>
	<li>Not reproduce in a permanent or temporary manner the Application, in whole or in part, by any means;</li>
	<li>Not use any software or process for purposes of copying the Content without the prior written authorization of the Company;</li>
	<li>Not make any adaptation, modification, translation, transcription, arrangement, compilation, decompilation, assembly, disassembly, transcoding, or reverse engineering of all or part of the Application and / or Content;</li>
	<li>Not export the Application, merge all or part of the Application with other computer programs;</li>
	<li>Not sell, lease, sublicense or distribute, in any way the Application and/or the Content to third parties.</li>
</ul>
<br>

<p style="font-weight:bold"><u>Article 9. APPLICATION AVAILABILITY</u></p>
<p>The Company undertakes to make its best efforts to secure access, consultation and use of the Services of the Application. The Application is accessible on a 24 hour / 7 day basis except in case of Force Majeure or the occurrence of an event beyond the control of the Company and subject to any maintenance operations necessary for the proper functioning of the Application. Such maintenance operations may be performed at any time without notice to the Users.</p>
<br>
<p style="font-weight:bold"><u>Article 10. DISCLAIMER OF WARRANTY</u></p>
<p>The access and the use of the Application are at the Users’ own risk. The Application and the Content are provided “as is”
	and “as available” without warranty of any kind.<br> It shall be incumbent on all Users to take all appropriate measures
	to protect their data and/or software stored on their mobile device.<br> The User represents and warrants that he is fully
	aware of the technical specifications and limits of the Internet network, problems related to connection, availability and
	/ or access to the Internet response times to view, browse or transfer data, the risk of contamination by virus circulating
	on said network, for which the Company may not be held responsible in any manner whatsoever.<br> The Company shall in no event be held liable for any damages, direct or indirect, in the event the User could not access or use the Application, in case of misuse of its device and/or incident related to the use of its device when using the Application. The Company shall also not be held liable for any damages, direct or indirect, caused to the Users, their terminals, their mobile device, the data stored therein and/or the consequences on their personal, professional or commercial activity.
	<p>
		<br>
		<p style="font-weight:bold"><u>Article 11. REVISIONS OF THE TERMS OF USE</u></p>
		<p>The applicable Terms of Use are those in force on the date of the connection and use of the Application by the User.<br><br>The
			Company may revise, at any time, all or part, of these Terms of Use without prior notice to the Users, to adapt them to
			comply with any regulatory changes or when setting up new services.</p>
		<br>
		<p style="font-weight:bold"><u>Article 12 – TERMINATION</u></p>
		The Society may terminate the use of the Application at any time without notice of termination.<br>Upon termination, the
		rights and licenses granted to You shall terminate and You will need to cease using the Application.
		<br>
		<p style="font-weight:bold"><u>Article 13 – APPLICABLE LAW</u></p>
		<p>These Terms of Use are governed by Massachusetts laws.<br>Any litigation or dispute relating to the execution or interpretation
			of these Terms of Use that could not be settled amicably between the parties will be submitted to the competent courts
			of Boston, MA.
		</p>
