<p>Lo scopo dei presenti termini e condizioni d'uso (di seguito "Condizioni d'uso") è quello di stabilire le regole per l'utilizzo dell'applicazione mobile Norton iGrind (di seguito "Applicazione") a cura della società Saint-Gobain Abrasives Inc., una società con sede legale in 1 New Bond Street, Worcester, MA 01606 uno stato del Massachusetts corporation Phone +15087955000 - indirizzo postale 1 New Bond Street, Worcester, MA 01606 USA di seguito "la Società".</p>
<p>Direttore editoriale: Jennifer Smith</p>
<p>Installando l'Applicazione sul vostro dispositivo e/o aprendo. <span style="font-weight:bold">l'Applicazione, come visitatore e/o utente, accettate di essere vincolati dalle presenti Condizioni d'Uso. Se non siete d'accordo con una qualsiasi parte di queste Condizioni d'Uso, NON UTILIZZATE L'APPLICAZIONE.</span></p>
<br>
<p style="font-weight:bold"><u>Articolo 1. DEFINIZIONI</u></p>
<p>I termini che iniziano con la lettera maiuscola nelle presenti "Condizioni d'uso", siano essi utilizzati al singolare o al plurale, hanno il seguente significato: </p>
<p><span style="font-weight:bold">"Applicazione"</span> " indica l'applicazione software Norton iGrind pubblicata e fornita dalla Società, che può essere scaricata gratuitamente dall'utente sul suo terminale Apple iOS o Android dall'"Apple Store" o dal "Google Play Store". L'Applicazione include anche Contenuti, software, programmi, strumenti (per la codifica e la navigazione...), database, sistemi operativi, documentazione e tutti gli altri elementi e servizi che ne fanno parte, compresi gli aggiornamenti e le nuove versioni degli stessi.<br><br><span style="font-weight:bold">Per "Contenuto"</span> si intende, senza che questo elenco sia esaustivo, la struttura dell'Applicazione, il contenuto editoriale, i disegni, le illustrazioni, le fotografie, le tabelle grafiche, i marchi, i loghi, gli acronimi, le denominazioni sociali, le opere audiovisive, le opere multimediali, i contenuti visivi, audio e sonori, nonché qualsiasi altro contenuto incorporato nell'Applicazione e/o qualsiasi altro elemento costitutivo dell'Applicazione.<br><br> <span style="font-weight:bold">Per "Utente"</span> o <span style="font-weight:bold">"Tu"</span>  si intende una persona adulta o una persona minorenne debitamente autorizzata dai suoi genitori che ha caricato l'Applicazione per uso personale e non commerciale. </p>

<br>
<p style="font-weight:bold"><u>Articolo 2. SCOPO DELL'APPLICAZIONE</u></p>
<p>Lo scopo dell'Applicazione è quello di fornire supporto al processo di rettifica a ingegneri e operatori.</p>

<br>
<p style="font-weight:bold"><u>Articolo 3. ACCESSO ALL'APPLICAZIONE</u></p>
<p>Per accedere all'applicazione è necessario disporre di un dispositivo mobile. L'Applicazione può essere liberamente scaricata dall'Apple Store o dal Google Play Store. La versione software dell'Applicazione può essere aggiornata di volta in volta per aggiungere nuove funzionalità e offrire nuovi servizi.</p>
<p>The software version of the Application may be updated from time to time to add new features and offer new services.</p>
<br>
<p style="font-weight:bold"><u>Articolo 4. CONDIZIONI FINANZIARIE</u></p>
<p>L'Applicazione è fornita gratuitamente agli Utenti ad esclusione dell'abbonamento al provider di telefonia mobile, dei costi di accesso a Internet e dei costi potenziali associati al download di dati.</p>
<br>
<p style="font-weight:bold"><u>Articolo 5. APPLICAZIONE DELLE CONDIZIONI DI UTILIZZO</u></p>
<p>Ad ogni utilizzo dell'Applicazione, l'Utente è invitato a leggere attentamente le Condizioni d'Uso che sono accessibili tramite un collegamento ipertestuale sulla homepage dell'Applicazione e che possono essere modificate in qualsiasi momento senza preavviso da parte della Società. L'Applicazione può essere aggiornata regolarmente. A tale riguardo, ogni Applicazione ha una durata limitata, dati i regolari aggiornamenti che devono essere scaricati e le eventuali modifiche tecniche e/o normative al di fuori del controllo della Società.</p>
<br>
<p style="font-weight:bold"><u>Articolo 6. PROPRIETÀ INTELLETTUALE</u></p>
<p>Tutti i diritti di proprietà intellettuale relativi all'Applicazione e al suo Contenuto sono di esclusiva proprietà della Società, soggetti a diritti di terzi dai quali la Società ha ricevuto una regolare licenza. Nonostante i termini del presente articolo, nessuna delle disposizioni delle presenti Condizioni d'Uso sarà considerata una cessione, trasferimento, vendita, prestito, noleggio o licenza operativa concessa direttamente o indirettamente dalla Società a beneficio dell'Utente sull'Applicazione e/o sul suo Contenuto.</p>
<br>
<p style="font-weight:bold"><u>Articolo 7. LICENZA DI UTILIZZO</u></p>
<p>La Società concede all'Utente il diritto non esclusivo, revocabile, non trasferibile, mondiale e gratuito di utilizzare personalmente l'Applicazione e il suo Contenuto ad esclusione di qualsiasi altro scopo. E' severamente vietato all'Utente l'accesso e/o l'utilizzo dei codici sorgente e/o dei componenti software dell'Applicazione. L'utilizzo dell'Applicazione non deve in alcun caso essere considerato come un trasferimento e/o una licenza di qualsiasi diritto di proprietà intellettuale sull'Applicazione e/o sul suo Contenuto. L'Utente dovrà quindi astenersi dal riprodurre, adattare e/o sfruttare l'Applicazione e/o il suo Contenuto. L'Utente dichiara e garantisce che il suo utilizzo dell'Applicazione non pregiudica in alcun modo i diritti della Società, e in particolare che tale utilizzo non costituisce una violazione o un atto di concorrenza sleale.
</p>
<br>
<p style="font-weight:bold"><u>Articolo 8. OBBLIGHI DELL'UTENTE</u></p>
<p>L'Utente dichiara e garantisce che lo farà:</p>
<ul style="list-style-type:circle">
	<li>Scaricare l'Applicazione sulle sue attrezzature esclusivamente per uso personale e non per uso commerciale;</li>
	<li>Non riprodurre in modo permanente o temporaneo l'Applicazione, in tutto o in parte, con qualsiasi mezzo;</li>
	<li>Non utilizzare alcun software o processo per copiare il Contenuto senza la preventiva autorizzazione scritta della Società;</li>
	<li>Non effettuare alcun adattamento, modifica, traduzione, trascrizione, disposizione, compilazione, decompilazione, assemblaggio, smontaggio, transcodifica o reverse engineering di tutta o parte dell'Applicazione e/o del Contenuto;</li>
	<li>Non esportare l'Applicazione, fondere tutta o parte dell'Applicazione con altri programmi per computer;</li>
	<li>Non vendere, affittare, concedere in sublicenza o distribuire in alcun modo l'Applicazione e/o il Contenuto a terzi.</li>
</ul>
<br>

<p style="font-weight:bold"><u>Articolo 9. DISPONIBILITÀ DELL'APPLICAZIONE</u></p>
<p>La Società si impegna a fare del proprio meglio per garantire l'accesso, la consultazione e l'utilizzo dei Servizi dell'Applicazione. L'Applicazione è accessibile 24 ore su 24 / 7 giorni su 7, salvo casi di Forza Maggiore o il verificarsi di un evento al di fuori del controllo della Società e subordinatamente ad eventuali operazioni di manutenzione necessarie per il corretto funzionamento dell'Applicazione. Tali operazioni di manutenzione possono essere effettuate in qualsiasi momento senza preavviso agli Utenti.</p>
<br>
<p style="font-weight:bold"><u>Articolo 10. ESCLUSIONE DI GARANZIA</u></p>
<p>L'accesso e l'utilizzo dell'Applicazione sono a rischio e pericolo degli Utenti. L'Applicazione e il Contenuto sono forniti "così come sono" e "come disponibili" senza garanzie di alcun tipo.
	<br> Spetta a tutti gli Utenti adottare tutte le misure appropriate per proteggere i propri dati e/o software memorizzati sul proprio dispositivo mobile.
	<br>  L'Utente dichiara e garantisce di essere pienamente consapevole delle specifiche tecniche e dei limiti della rete Internet, dei problemi relativi alla connessione, alla disponibilità e/o ai tempi di accesso alla rete Internet per la visualizzazione, la navigazione o il trasferimento dei dati, del rischio di contaminazione da virus circolanti su tale rete, per i quali la Società non può essere ritenuta in alcun modo responsabile.
	<br>  La Società non sarà in alcun caso responsabile per eventuali danni, diretti o indiretti, nel caso in cui l'Utente non potesse accedere o utilizzare l'Applicazione, in caso di uso improprio del suo dispositivo e/o di incidenti connessi all'uso del suo dispositivo durante l'utilizzo dell'Applicazione. La Società non sarà inoltre responsabile per eventuali danni, diretti o indiretti, causati agli Utenti, ai loro terminali, al loro dispositivo mobile, ai dati in esso memorizzati e/o alle conseguenze sulla loro attività personale, professionale o commerciale.
	<p>
		<br>
		<p style="font-weight:bold"><u>Articolo 11. REVISIONI DELLE CONDIZIONI D'USO
		</u></p>
		<p>Le Condizioni d'Uso applicabili sono quelle in vigore alla data della connessione e dell'utilizzo dell'Applicazione da parte dell'Utente. La Società può rivedere, in qualsiasi momento, in tutto o in parte, le presenti Condizioni d'Uso senza preavviso agli Utenti, per adeguarle ad eventuali modifiche normative o in fase di impostazione di nuovi servizi.
		</p>
		<br>
		<p style="font-weight:bold"><u>Articolo 12 - TERMINE
		</u></p>
		La Società può terminare l'uso dell'Applicazione in qualsiasi momento senza preavviso di cessazione. 
		<br />
		In caso di cessazione, i diritti e le licenze concesse all'Utente cesseranno e l'Utente dovrà cessare di utilizzare l'Applicazione.

		<br>
		<p style="font-weight:bold"><u>Articolo 13 - LEGGE APPLICABILE
		</u></p>
		<p>Qualsiasi controversia o disputa relativa all'esecuzione o all'interpretazione delle presenti Condizioni d'Uso che non possa essere risolta in via amichevole tra le parti sarà sottoposta ai tribunali competenti di Boston, MA.
		</p>
