<!-- Generated template for the CalculatorButtonComponent component -->
<button ion-button class="customcalcButton" (click)="common.getCalculatedValue(pageRef,inputRef,formRef)">
  {{ 'calc' | translate }}&nbsp;&nbsp;<ion-icon name="ios-calculator"></ion-icon>
</button>