<!--
  Generated template for the ChipThicknessCalculatorPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <custom-side-menu calculatorName="chipThickness_title" visible="true" calculatorKey="chip_thickness">
  </custom-side-menu>
</ion-header>


<ion-content id="divbottomscroll" [ngClass]=" isKeyBoard ? 'class-padding-bottom' : '' ">
  <!-- <div id="divbottomscroll" style="position:absolute;top:0;bottom:0;left:0;right:0;height:100% !important;overflow-y:scroll !important;-webkit-overflow-scrolling: auto;"> -->
  <div text-right class="mandate">{{'mandatory' | translate}}</div>
  <form [formGroup]="chipThicknessForm" (ngSubmit)="onSubmit(chipThicknessForm.value)" novalidate>
    <div style="padding-left: 16px">
      <div [ngClass]="isEnglish ? 'toggle-selected' : 'toggle-normal'">
        {{'english' | translate}}
      </div>
      <div class="toggle-style">
        <ion-toggle (ionChange)="updateToggle()" formControlName="unitPref" required></ion-toggle>
      </div>
      <div [ngClass]="isEnglish ? 'toggle-normal' : 'toggle-selected'">
        {{'metric' | translate}}
      </div>
    </div>
    <ion-row class="line-style"></ion-row>

    <ion-label class="input-label" style="margin-top: 4px">{{'select_mode' | translate}}</ion-label>
    <ion-list radio-group [(ngModel)]="chipThickType" formControlName="chipThicknessType">
      <ion-row (click)="setChipType('peripheral')" class="item-radio"
        style="padding-bottom: 8px; padding-left: 16px; padding-right: 16px">
        <img src="./assets/imgs/chip_peripheral.png" style="height: 80px; width: 85px; padding-top: 10px" imageViewer />
        <ion-label text-center style="
            font-size: 16px;
            font-weight: bold;
            padding-left: 25px;
            text-align: left !important;
          ">
          {{'traverse_mode' | translate}}
          <br />
          <p style="
              margin: 0;
              font-weight: normal;
              color: #949ca1;
              font-size: 12px;
            "
            [innerHTML]="('chip_wheel_peripheral_speed' | translate) +' ('+ unit_VC +')<br/>' + ('work_piece_speed' | translate)+' ('+ unit_VW+')<br/>' + ('infeed' | translate)+' ('+ unit_AE+')<br/>' ">
          </p>
        </ion-label>
        <ion-radio value="peripheral" checked (ionSelect)="setChipType($event)"></ion-radio>
      </ion-row>

      <ion-row (click)="setChipType('circumferal')" class="item-radio"
        style="padding-bottom: 8px; padding-left: 16px; padding-right: 16px">
        <img src="./assets/imgs/chip_circumferal.png" style="height: 80px; width: 85px; padding-top: 10px"
          imageViewer />
        <ion-label text-center style="
            font-size: 16px;
            font-weight: bold;
            padding-left: 25px;
            text-align: left !important;
          ">
          {{'plunge_mode' | translate}}
          <br />
          <p style="
              margin: 0;
              font-weight: normal;
              color: #949ca1;
              font-size: 12px;
            "
            [innerHTML]="('chip_wheel_circumferal_speed' | translate) +' ('+ unit_VC +')<br/>' + ('radial_feed_rate' | translate)+' ('+ unit_VFR+')<br/>' + ('work_piece_diameter' | translate)+' ('+ unit_DW+')<br/>' ">
          </p>
        </ion-label>
        <ion-radio value="circumferal" (ionSelect)="setChipType($event)"></ion-radio>
      </ion-row>
    </ion-list>
    <ion-row class="line-style"></ion-row>

    <ion-label stacked style="padding: 8px 16px" class="input-float-style">
      <span style="color: #ff0021">* </span>{{'select_output' |
      translate}}
    </ion-label>

    <ion-row class="outputDiv">
      <ion-col col-4 no-padding no-margin>
        <button ion-button type="button" style="width: 100%; line-height: 18px; font-size: 12px"
          (click)="setChipOutputType('hec')" class="hecButton" [class.activeOutputButton]="chipOutputType=='hec'">
          <!-- <span class="chipOutp" [innerHTML]="hecOutp"></span>
          <br />[&#x3BC;{{hecOutpUnit}}] -->
          <p [innerHTML]="unit_HEC+'<br/>' + (isEnglish==true ? ('µin' | translate) : ('µm' | translate))"></p>
        </button>
      </ion-col>
      <ion-col col-4 no-padding no-margin>
        <button ion-button type="button" style="width: 100%; line-height: 18px; font-size: 12px"
          [style.border-radius]="0"
          (click)="chipThickType=='peripheral' ? setChipOutputType('vc') : setChipOutputType('vc')"
          [class.activeOutputButton]="chipOutputType=='vc'">
          <!-- <span class="chipOutp" [innerHTML]="vcOutp"></span>
          <br />[{{vcOutpUnit}}] -->
          <p
            [innerHTML]="(chipThickType=='peripheral' ? (unit_VC) : (unit_VC))+'<br/>' + (isEnglish==true ? ('sfm' | translate) : ('m_s' | translate))">
          </p>
        </button>
      </ion-col>
      <ion-col col-4 no-padding no-margin>
        <button ion-button type="button" style="width: 100%; line-height: 18px; font-size: 12px"
          [style.border-radius]="0"
          (click)="chipThickType=='peripheral' ? setChipOutputType('vw') : setChipOutputType('vfr')"
          [class.activeOutputButton]="chipOutputType=='vw' || chipOutputType=='vfr'">
          <!-- <span class="chipOutp" [innerHTML]="vwOrVfrOutp"></span>
          <br /><br />[{{vwOutpUnit}}] -->
          <p
            [innerHTML]="(chipThickType=='peripheral' ? (unit_VW) : (unit_VFR))+'<br/>' + (isEnglish==true ?  ('in_min' | translate)  : (('mm_min' | translate)))">
          </p>
        </button>
      </ion-col>
      <ion-col col-4 no-padding no-margin>
        <button ion-button type="button" style="width: 100%; line-height: 18px; font-size: 12px"
          (click)="chipThickType=='peripheral' ? setChipOutputType('ae') : setChipOutputType('dw')" class="aeButton"
          [class.activeOutputButton]="chipOutputType=='ae' || chipOutputType=='dw'">
          <!-- <span class="chipOutp" [innerHTML]="aeOrDwOutp"></span>
          <br />[{{aeOutpUnit}}] -->
          <p
            [innerHTML]="(chipThickType=='peripheral' ? (unit_AE) : (unit_DW))+'<br/>' + (isEnglish==true ? ( '('+('in' | translate)+')' ) : ('('+('mm' | translate)+')'))">
          </p>
        </button>
      </ion-col>
    </ion-row>
    <ion-label class="input-label">{{'chip_thick_param' | translate}}</ion-label>

    <ion-row justify-content-center align-items-center no-padding align-items-end
      style="padding-left: 16px; padding-right: 16px">
      <ion-col col-18>
        <ion-item no-padding>
          <ion-label (click)="common.getCalc(this,'inp_1',chipThicknessForm)" stacked style="font-size: 12px !important"
            class="input-float-style" *ngIf="chipThickType=='peripheral'">
            <span style="color: #ff0021">* </span>
            <!-- <span [innerHTML]="inp1Label"> </span> -->
            <span
              [innerHTML]="(chipOutputType=='vc' ||chipOutputType=='vw' || chipOutputType=='ae') ? ('chip_eq_chip_thickness' | translate)+((isEnglish==true ? ('µin' | translate) : ('µm' | translate))) :  ('chip_wheel_peripheral_speed' | translate )+((isEnglish==true ? ('sfm' | translate) : ('m_s' | translate)))"></span>&nbsp;&nbsp;
            <ion-icon name="ios-calculator" class="hideIcon"></ion-icon>
          </ion-label>
          <ion-label (click)="common.getCalc(this,'inp_1',chipThicknessForm)" stacked style="font-size: 12px !important"
            class="input-float-style" *ngIf="chipThickType=='circumferal'">
            <span style="color: #ff0021">* </span>
            <!-- <span [innerHTML]="inp1Label"> </span> -->
            <span
              [innerHTML]="(chipOutputType=='vc' ||chipOutputType=='vfr' || chipOutputType=='dw') ? ('chip_eq_chip_thickness' | translate)+((isEnglish==true ? ('µin' | translate) : ('µm' | translate))) :  ('chip_wheel_circumferal_speed' | translate )+((isEnglish==true ? ('sfm' | translate) : ('m_s' | translate)))"></span>&nbsp;&nbsp;
            <ion-icon name="ios-calculator" class="hideIcon"></ion-icon>
          </ion-label>

          <ion-input (focus)="common.setFocusInput(this,'inp_1',chipThicknessForm)" (blur)="common.setBlur(this)"
            *ngIf="!this.platform.is('ios')" required maxlength="9" (keypress)="telkeypress($event)"
            (keyup)="isValidNumber($event)" tabindex="1" formControlName="inp_1" required (ionChange)="updateResults()"
            type="number" class="input-fields" style="font-size: 14px;padding-left:8px;"></ion-input>

          <ion-input (focus)="common.setFocusInput(this,'inp_1',chipThicknessForm)" (blur)="common.setBlur(this)"
            *ngIf="this.platform.is('ios')" required maxlength="9" (keypress)="telkeypress($event)" tabindex="1"
            formControlName="inp_1" required (ionChange)="updateResults()" type="number" pattern="[0-9]*"
            inputmode="decimal" class="input-fields" style="font-size: 14px;padding-left:8px;">
          </ion-input>

        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row style="margin-left: 8px; margin-right: 8px">
      <ion-col col-9>
        <ng-container *ngFor="let validation of validationMsgs.inp_1">
          <div class="error-message"
            *ngIf="chipThicknessForm.get('inp_1').hasError(validation.type) && (chipThicknessForm.get('inp_1').dirty || chipThicknessForm.get('inp_1').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </ion-col>
    </ion-row>

    <ion-row justify-content-center align-items-center no-padding align-items-start
      style="padding-left: 16px; padding-right: 16px">
      <ion-col col-9>
        <ion-item no-padding class="speedOrRateItem">
          <ion-label (click)="common.getCalc(this,'inp_2',chipThicknessForm)" stacked
            class="input-float-style ellHeightPeri" style="font-size: 12px !important; padding-left: 2px"
            *ngIf="chipThickType=='peripheral'" [style.height]="maxEllheight">
            <ion-row style="flex-wrap: nowrap; white-space: normal">
              <ion-col col-1><span class="mandatory-class">*</span></ion-col>
              <ion-col col-17>
                <span
                  [innerHTML]="(chipOutputType=='hec' ||chipOutputType=='vc') ? ('work_piece_speed' | translate)+((isEnglish==true ?  ('in_min' | translate)  : (('mm_min' | translate)))) :  ('chip_wheel_peripheral_speed' | translate )+((isEnglish==true ? ('sfm' | translate) : ('m_s' | translate)))"></span>&nbsp;&nbsp;
                <ion-icon name="ios-calculator" class="hideIcon"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-label>

          <ion-label (click)="common.getCalc(this,'inp_2',chipThicknessForm)" stacked
            class="input-float-style ellHeightPeri" style="font-size: 12px !important; padding-left: 2px"
            *ngIf="chipThickType=='circumferal'" [style.height]="maxEllheight">
            <ion-row style="flex-wrap: nowrap; white-space: normal">
              <ion-col col-1><span class="mandatory-class">*</span></ion-col>
              <ion-col col-17>
                <span
                  [innerHTML]="(chipOutputType=='hec' ||chipOutputType=='vc') ? ('radial_feed_rate' | translate)+( (isEnglish==true ?  ('in_min' | translate)  : (('mm_min' | translate)))) :  ('chip_wheel_circumferal_speed' | translate )+((isEnglish==true ? ('sfm' | translate) : ('m_s' | translate)))"></span>&nbsp;&nbsp;
                <ion-icon name="ios-calculator" class="hideIcon"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-label>


          <ion-input (focus)="common.setFocusInput(this,'inp_2',chipThicknessForm)" (blur)="common.setBlur(this)"
            *ngIf="!this.platform.is('ios')" required maxlength="9" (keypress)="telkeypress($event)"
            (keyup)="isValidNumber($event)" tabindex="2" formControlName="inp_2" required (ionChange)="updateResults()"
            type="number" class="input-fields" style="font-size: 14px;padding-left:8px;"></ion-input>


          <ion-input (focus)="common.setFocusInput(this,'inp_2',chipThicknessForm)" (blur)="common.setBlur(this)"
            *ngIf="this.platform.is('ios')" required maxlength="9" (keypress)="telkeypress($event)" tabindex="2"
            formControlName="inp_2" required (ionChange)="updateResults()" type="number" pattern="[0-9]*"
            inputmode="decimal" class="input-fields" style="font-size: 14px;padding-left:8px;">
          </ion-input>

        </ion-item>
      </ion-col>

      <ion-col col-9>
        <ion-item no-padding>
          <ion-label (click)="common.getCalc(this,'inp_3',chipThicknessForm)" stacked
            class="input-float-style ellHeightCircum" *ngIf="chipThickType=='peripheral'"
            style="font-size: 12px !important; padding-left: 2px" [style.height]="maxEllheight">
            <ion-row style="flex-wrap: nowrap; white-space: normal">
              <ion-col col-1><span class="mandatory-class">* </span></ion-col>
              <ion-col col-17>
                <span
                  [innerHTML]="(chipOutputType=='hec' ||chipOutputType=='vc' || chipOutputType=='vw') ? ('infeed' | translate)+((isEnglish==true ? ( '('+('in' | translate)+')' ) : ('('+('mm' | translate)+')'))) :  ('work_piece_speed' | translate )+((isEnglish==true ?  ('in_min' | translate)  : (('mm_min' | translate))))">
                </span>&nbsp;&nbsp;<ion-icon name="ios-calculator" class="hideIcon"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-label>

          <ion-label (click)="common.getCalc(this,'inp_3',chipThicknessForm)" stacked
            class="input-float-style ellHeightCircum" *ngIf="chipThickType=='circumferal'"
            style="font-size: 12px !important; padding-left: 2px" [style.height]="maxEllheight">
            <ion-row style="flex-wrap: nowrap; white-space: normal">
              <ion-col col-1><span class="mandatory-class">* </span></ion-col>
              <ion-col col-17>
                <span
                  [innerHTML]="(chipOutputType=='hec' ||chipOutputType=='vc' || chipOutputType=='vfr') ? ('work_piece_diameter' | translate)+((isEnglish==true ? ( '('+('in' | translate)+')' ) : ('('+('mm' | translate)+')'))) :  ('radial_feed_rate' | translate )+((isEnglish==true ?  ('in_min' | translate)  : (('mm_min' | translate))))"></span>&nbsp;&nbsp;
                <ion-icon name="ios-calculator" class="hideIcon"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-label>

          <ion-input (focus)="common.setFocusInput(this,'inp_3',chipThicknessForm)" (blur)="common.setBlur(this)"
            *ngIf="!this.platform.is('ios')" required maxlength="9" (keypress)="telkeypress($event)"
            (keyup)="isValidNumber($event)" tabindex="3" formControlName="inp_3" required (ionChange)="updateResults()"
            type="number" class="input-fields" style="font-size: 14px;padding-left:8px;"></ion-input>
          <ion-input (focus)="common.setFocusInput(this,'inp_3',chipThicknessForm)" (blur)="common.setBlur(this)"
            *ngIf="this.platform.is('ios')" required maxlength="9" (keypress)="telkeypress($event)" tabindex="3"
            formControlName="inp_3" required (ionChange)="updateResults()" type="number" pattern="[0-9]*"
            inputmode="decimal" class="input-fields" style="font-size: 14px;padding-left:8px;">
          </ion-input>


        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row style="margin-left: 8px; margin-right: 8px">
      <ion-col col-9>
        <ng-container *ngFor="let validation of validationMsgs.inp_2">
          <div class="error-message"
            *ngIf="chipThicknessForm.get('inp_2').hasError(validation.type) && (chipThicknessForm.get('inp_2').dirty || chipThicknessForm.get('inp_2').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </ion-col>
      <ion-col col-9>
        <ng-container *ngFor="let validation of validationMsgs.inp_3">
          <div class="error-message"
            *ngIf="chipThicknessForm.get('inp_3').hasError(validation.type) && (chipThicknessForm.get('inp_3').dirty || chipThicknessForm.get('inp_3').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </ion-col>
    </ion-row>

    <ion-row class="line-style"></ion-row>
    <ion-row class="button-row" style="margin-bottom: 20px">
      <button class="clear-btn" (click)="clearResults()" type="button">
        {{'clear_btn' | translate}}
      </button>
      <button tabindex="3" class="calc-btn" [disabled]="calculateDisable" type="submit">
        {{calculateBtnText}}
      </button>
    </ion-row>
  </form>

  <div [style.opacity]="resultOpacity" *ngIf="showResult" style="margin-top: 20px" id="output">
    <ion-row style="padding-bottom: 8px; padding-left: 16px">
      <img src="./assets/imgs/results.png" style="height: 16px; width: 16px" />
      <label style="
          padding-left: 8px;
          padding-right: 16px;
          font-weight: bold;
          color: #0079c1;
        ">{{'results' | translate}}</label>
    </ion-row>

    <ion-row align-items-center class="result-title-bar" *ngIf="chipThickType=='peripheral'">
      <ion-col col-4 no-padding class="result-title" style="font-size: 12px; font-weight: normal"
        [innerHTML]="(chipOutputType=='hec'? ((unit_VC)+' '+ (isEnglish==true ? ('sfm' | translate) : ('m_s' | translate))) : ((unit_HEC)+' '+ (isEnglish==true ? ('µin' | translate) : ('µm' | translate)))) ">
      </ion-col>
      <ion-col col-4 no-padding class="result-title" style="font-size: 12px; font-weight: normal"
        [innerHTML]="(chipOutputType=='hec' || chipOutputType=='vc') ? ((unit_VW)+' '+ (isEnglish==true ? (('in_min' | translate)) : (('mm_min' | translate)))) : ((unit_VC)+' '+(isEnglish==true ? (('sfm' | translate)) : (('m_s' | translate))))">
      </ion-col>
      <ion-col col-4 no-padding class="result-title" style="font-size: 12px; font-weight: normal"
        [innerHTML]="(chipOutputType=='ae') ? ((unit_VW)+' '+ (isEnglish==true ? (('in_min' | translate)) : (('mm_min' | translate)))) : ((unit_AE)+' '+(isEnglish==true ? ('('+('in' | translate)+')') : ('('+('mm' | translate)+')')))">
      </ion-col>
      <ion-col col-4 no-padding class="result-title" style="font-size: 12px; font-weight: bold"
        [innerHTML]="chipOutputType=='hec' ? ((unit_HEC)+' '+ (isEnglish==true ? ('µin' | translate) : ('µm' | translate))) : chipOutputType=='vc'? ((unit_VC)+' '+ (isEnglish==true ? ('sfm' | translate) : ('m_s' | translate))) : chipOutputType=='vw' ? ((unit_VW)+' '+(isEnglish==true ? (('in_min' | translate)) : (('mm_min' | translate)))) : ((unit_AE)+' '+(isEnglish==true ? ('('+('in' | translate)+')') : ('('+('mm' | translate)+')')))">
      </ion-col>
      <ion-col col-2 (click)="chipRangePopUp()" style="position: relative !important">
        <ion-icon style="zoom: 1" name="information-circle"></ion-icon>
      </ion-col>
    </ion-row>

    <ion-row align-items-center class="result-title-bar" *ngIf="chipThickType=='circumferal'">
      <ion-col col-4 no-padding class="result-title" style="font-size: 12px; font-weight: normal"
        [innerHTML]="(chipOutputType=='hec'? ((unit_VC)+' '+ (isEnglish==true ? ('sfm' | translate) : ('m_s' | translate))) : ((unit_HEC)+' '+ (isEnglish==true ? ('µin' | translate) : ('µm' | translate)))) ">
      </ion-col>
      <ion-col col-4 no-padding class="result-title" style="font-size: 12px; font-weight: normal"
        [innerHTML]="(chipOutputType=='hec' || chipOutputType=='vc') ? ((unit_VFR)+' '+ (isEnglish==true ? (('in_min' | translate)) : (('mm_min' | translate)))) : ((unit_VC)+' '+(isEnglish==true ? (('sfm' | translate)) : (('m_s' | translate))))">
      </ion-col>
      <ion-col col-4 no-padding class="result-title" style="font-size: 12px; font-weight: normal"
        [innerHTML]="(chipOutputType=='dw') ? ((unit_VFR)+' '+ (isEnglish==true ? (('in_min' | translate)) : (('mm_min' | translate)))) : ((unit_DW)+' '+(isEnglish==true ? ('('+('in' | translate)+')') : ('('+('mm' | translate)+')')))">
      </ion-col>
      <ion-col col-5 no-padding class="result-title" style="font-size: 12px; font-weight: bold"
        [innerHTML]="chipOutputType=='hec' ? ((unit_HEC)+' '+ (isEnglish==true ? ('µin' | translate) : ('µm' | translate))) : chipOutputType=='vc'? ((unit_VC)+' '+ (isEnglish==true ? ('sfm' | translate) : ('m_s' | translate))) : chipOutputType=='vfr' ? ((unit_VFR)+' '+(isEnglish==true ? (('in_min' | translate)) : (('mm_min' | translate)))) : ((unit_DW)+' '+(isEnglish==true ? ('('+('in' | translate)+')') : ('('+('mm' | translate)+')')))">
      </ion-col>
      <ion-col col-1 no-padding>
        <ion-icon style="zoom: 1" name="information-circle" (click)="chipRangePopUp()"></ion-icon>
      </ion-col>
    </ion-row>

    <ion-row align-items-center class="result-list-outer">
      <ion-col col-4 no-padding class="result-item">{{op_1}}</ion-col>
      <ion-col col-4 no-padding class="result-item">{{op_2}}</ion-col>
      <ion-col col-4 no-padding class="result-item">{{op_3}}</ion-col>
      <ion-col col-6 no-padding class="result-item" style="font-weight: bold">{{op_4}}</ion-col>
    </ion-row>
  </div>
  <!-- </div> -->


</ion-content>
<calculator-button class="animated faster" [ngClass]=" isKeyBoard ? 'slideInUp' : 'slideOutDown' "
  [style.bottom]=" isKeyBoard ? '0px' : '-46px' " [style.height]="common.getCalcButtonHeight()" *ngIf="isKeyBoard"
  [pageRef]="this" [inputRef]="currentInputRef" [formRef]="currentFormRef">
</calculator-button>