<!--
  Generated template for the ProductTypePopupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--
<ion-list>
	<p style="font-weight: bold; margin-left:16px">CONVENTIONAL ABRASIVES</p>
	<ion-item *ngFor="let oneItem of productTypeListRefsOne">
		<ion-label>{{oneItem.alias}}</ion-label>
		<ion-radio (ionSelect)="selected($event, oneItem.key, oneItem.alias)" value="oneItem.key"></ion-radio>
	</ion-item>
</ion-list>

<ion-list>
	<p style="font-weight: bold; margin-left:16px">SUPER ABRASIVES</p>
	<ion-item *ngFor="let twoItem of productTypeListRefsTwo">
		<ion-label>{{twoItem.alias}}</ion-label>
		<ion-radio (ionSelect)="selected($event, twoItem.key, twoItem.alias)" value="twoItem.key"></ion-radio>
	</ion-item>
</ion-list>-->

<ion-list>
	<ion-list-header>{{'conventional_abrasives_c'| translate}}</ion-list-header>
	<button ion-item *ngFor="let type of productTypeListRefsOne" (click)="selected(type)" >{{type.alias}}</button>
	<ion-list-header>{{'super_abrasives_c'|translate}}</ion-list-header>
	<button ion-item *ngFor="let type of productTypeListRefsTwo" (click)="selected(type)" >{{type.alias}}</button>
</ion-list>